@model ISas.Entities.ActivityMarksEntryModel
<div class="col-xs-12">
    <div class="table-responsive searchtable table_ev_od" style="min-height:400px;">
        <table cellspacing="0" cellpadding="0" border="0" class="table table-bordered table-responsive" id="MarkCoScholasicTable">
            <thead>
                <tr>
                    <th style="width:5%;">Adm No</th>
                    <th style="width:3%;">Roll No</th>
                    <th style="width:10%;">Student </th>
                    @if (Model.HeaderList != null && Model.HeaderList.Count > 0)
                    {
                        for (int i = 0; i < Model.HeaderList.Count; i++)
                        {
                            <th style="width:5%;">
                                @Html.HiddenFor(r=> Model.HeaderList[i].SubjectName)
                                @Html.DisplayFor(r => Model.HeaderList[i].SubjectName)
                            </th>
                        }
                    }
                    <th style="width:5%;">Total</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.StudentsActivityMarkList.Count > 0)
                {
                    for (int i = 0; i < Model.StudentsActivityMarkList.Count; i++)
                    {
                        <tr class="abc">
                            <td style="width:5%;">
                                @Html.HiddenFor(r => Model.StudentsActivityMarkList[i].ERPNo)
                                @Html.DisplayFor(r => Model.StudentsActivityMarkList[i].AdmNo)
                            </td>
                            <td style="width:3%;"> @Html.DisplayFor(r => Model.StudentsActivityMarkList[i].RollNo) </td>
                            <td style="width:10%;"> @Html.DisplayFor(r => Model.StudentsActivityMarkList[i].StudentName)</td>

                            @for (int j = 0; j < Model.StudentsActivityMarkList[i].StudentActivityFromDBList.Count; j++)
                            {
                                <td style="width:5%;">@Html.TextBoxFor(m => Model.StudentsActivityMarkList[i].StudentActivityFromDBList[j].MarksValue, new { @class = "form-control", id= "StudentMark" })</td>
                            }
                            <td style="width:5%;">@Html.TextBoxFor(m => Model.StudentsActivityMarkList[i].Total, new { @class = "form-control" , @readonly = true})</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

