@model ISas.Web.ViewModels.MarksEntryCoScholasticViewModel
<div class="col-xs-12">

    <div class="table-responsive searchtable table_ev_od" style="min-height:400px;" >

        <table cellspacing="0" cellpadding="0" border="0" class="table table-bordered table-responsive" id="MarkCoScholasicTable">
            <thead>
                <tr>
                    @*<th hidden class="jsgrid-header-cell jsgrid-header-sortable" style="width:150px;">ERP No.</th>*@
                    <th hidden class="jsgrid-header-cell jsgrid-header-sortable" style="width: 150px;">SubjectId</th>
                    <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 150px;">Subject Name</th>
                    <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 150px;">ACT1</th>
                    <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 70px;">ACT2</th>
                    <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 70px;">ACT3</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.StudentsCoScholasticMarkList.Count>0)
                {
                    //foreach (var item in @Model.StudentsMarkList)
                    for (int i = 0; i < Model.StudentsCoScholasticMarkList.Count; i++)
                    {
                        <tr class="abc">
                        @*@Html.HiddenFor(x=>x.StudentsCoScholasticMarkList[i].Student.StudentERPNo)*@
                        @*<td hidden>@Model.StudentsCoScholasticMarkList[i].Student.StudentERPNo  </td>   *@
                        <td hidden> @Model.StudentsCoScholasticMarkList[i].StudentCoScholsticMarkFromDBList.SubjectId</td>    
                        <td> @Model.StudentsCoScholasticMarkList[i].StudentCoScholsticMarkFromDBList.SubjectName </td>    
                        <td >@Html.TextBoxFor(m => @Model.StudentsCoScholasticMarkList[i].StudentCoScholsticMarkFromDBList.Parameter1, new { @class = "jsgrid-cell", style = "width: 150px",id="StudentMark" })</td> 
                        <td >@Html.TextBoxFor(m => @Model.StudentsCoScholasticMarkList[i].StudentCoScholsticMarkFromDBList.Parameter2, new { @class = "jsgrid-cell", style = "width: 150px",id="StudentMark" })</td> 
                        <td >@Html.TextBoxFor(m => @Model.StudentsCoScholasticMarkList[i].StudentCoScholsticMarkFromDBList.Parameter3, new { @class = "jsgrid-cell", style = "width: 150px",id="StudentMark" })</td> 
                        </tr>    
                    }
                 }
            </tbody>
        </table>
    </div>
</div>

