@model ISas.Entities.Exam_MarksVerificationModel
@{
    Layout = "~/Views/Shared/_LayoutPrint.cshtml";
}

<div>
    <h4>
        School Name :- Bal Vikas School, Panipat <br />
        Date        :- @DateTime.Now <br />
        Report Name :- Marks Verification For @Html.DisplayFor(r => Model.SelectedTermName), (@Html.DisplayFor(r => Model.SelectedClassName)-@Html.DisplayFor(r => Model.SelectedSectionName), @Html.DisplayFor(r => Model.SelectedSubjectName))
    </h4>
</div>


<div class="col-xs-12">
    <div class="table-responsive searchtable table_ev_od" style="min-height:400px;">
        <table cellspacing="0" cellpadding="0" border="0" class="table table-bordered table-responsive" id="MarkTable">
            <thead>
                <tr>
                    @for (int i = 0; i < Model.TitleList.Count; i++)
                    {
                        <th>@Html.DisplayFor(r => Model.TitleList[i].Text)</th>
                    }
                </tr>
            </thead>
            <tbody>
                @if (Model.ValuesList != null && Model.ValuesList.Count > 0)
                {
                    for (int i = 0; i < Model.ValuesList.Count; i++)
                    {
                        <tr>
                            @for (int j = 0; j < Model.ValuesList[i].Count; j++)
                            {
                                <td> @Html.DisplayFor(r => Model.ValuesList[i][j].Value) </td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

