@model ISas.Entities.Exam_MarksVerificationModel
@{
    ViewBag.Title = "MarksEntry1to5";
}

<section class="content-header">
    <h1>
        Marks Verification
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="javascript: history.go(-1)" title="Back"><i class="fa fa-arrow-left"></i> </a> |
            <a href="#" onclick="window.location.reload()" title="Refresh"><i class="fa fa-refresh"></i></a> |
            <a href="@Url.Action("Dashboard", "Dashboard")" title="Dashboard"><i class="fa fa-dashboard"></i></a>
        </li>
        <li>CCE Exam Module</li>
        <li class="active">Marks Verification</li>
    </ol>
</section>


<section class="content">
    <div class="box box-primary">
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="">Session</label>
                        <div class="select">
                            @Html.HiddenFor(r=> Model.SelectedSessionId)
                            @Html.DropDownListFor(m => m.SelectedSessionId, Model.SessionList, new { @class = "form-control select2", style = "width:100%", id = "SelectedSessionId", disabled = "disabled" })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="">Term</label>
                        <div class="select">
                            @Html.DropDownListFor(m => m.SelectedExamId, Model.ExamList, "-- Select Exam --", new { @class = "form-control select2", style = "width:100%", id = "ddlExamList", dataChangeUrl = Url.Action("BindClassddlForReportCard") })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="">Class</label>
                        <div class="select">
                            @Html.DropDownListFor(m => m.SelectedClassId, Model.ClassList, new { @class = "form-control select2", style = "width:100%", id = "ddlClassList", dataChangeUrl = Url.Action("BindSectionddl") })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="">Section</label>
                        <div class="select">
                            @Html.DropDownListFor(m => m.SelectedSectionId, Model.SectionList, new { @class = "form-control select2", style = "width:100%", id = "ddlSectionList", dataChangeUrl = Url.Action("BindSubjectddl") })
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="">Subject</label>
                        <div class="select">
                            @Html.DropDownListFor(m => m.SelectedSubjectId, Model.SubjectList, new { @class = "form-control select2", style = "width:100%", id = "ddlSubjectList", dataChangeUrl = Url.Action("BindMarksVerificationList") })
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                     <br />
                    <span class="pull-right">
                        <a href="#" onclick="exportToExcel('MarkTable')" title="Export to Excel" class="fa fa-file-excel-o btnDefaultColor"></a>
                    </span>
                    <span class="pull-right" style="padding-right:1%;">
                        <a href="#" onclick="printmarkRegister()" title="Print" class="fa fa-print btnDefaultColor"></a>
                    </span>
                </div>
            </div>
            <div class="row">
                <div id="divMarkList">
                    @Html.Partial("_Exam_MarksVerificationListPartial", Model)
                </div>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript">
    function printmarkRegister() {
        var html = $('#marksVeriHeader').html();
        html += $('#divMarkList').html();
        var w = window.open();
        $(w.document.body).html(html);
        w.print();
        //w.close();
    }


    function myfunction() {
        var myTableArray = [];
        $('#MarkTable tr:not(:first)').each(function () {
            var tds = $(this).find('td');
            var myDets;
            myDets = {
                studentERPNo: $(tds[0]).html()
                , IsStudentAbsent: $(tds[4]).find('input[type="checkbox"]').is(':checked'),
                IsStudentML: $(tds[5]).find('input[type="checkbox"]').is(':checked'),
                IsStudentExempt: $(tds[6]).find('input[type="checkbox"]').is(':checked'),
                StudentMark: $(tds[7]).find(":text").val()
                , StudentGrade: $(tds[8]).find(":text").val()
            }
            myTableArray.push(myDets);
        });
        return myTableArray;
    }
    $(document).ready(function () {
        $(document).on('change', "#ddlExamList", function () {
            $.ajax({
                url: $('#ddlExamList').attr('dataChangeUrl'),
                data: { examId: $('#ddlExamList').val() },
                type: 'get',
                success: (function (data) {
                    var $ddlClass = $('#ddlClassList');
                    $ddlClass.empty();
                    $('#ddlSectionList').empty();
                    $('#ddlSubjectList').empty();
                    $('#ddlAssessmentList').empty();
                    $ddlClass.append($("<option />").text("--- Select Class ---"));
                    $.each(data, function () {
                        $ddlClass.append($("<option />").val(this.ClassId).text(this.ClassName));
                    });
                }),
                fail: (function (error) {
                    OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
                })
            })
        });
        $(document).on('change', "#ddlClassList", function () {
            $.ajax({
                url: $('#ddlClassList').attr('dataChangeUrl'),
                data: { classId: $('#ddlClassList').val(), examId: $('#ddlExamList').val() },
                type: 'get',
                success: (function (data) {
                    var $ddlSec = $('#ddlSectionList');
                    $ddlSec.empty();
                    $('#ddlSubjectList').empty();
                    $ddlSec.append($("<option />").text("--- Select Section ---"));
                    $.each(data, function () {
                        $ddlSec.append($("<option />").val(this.SectionId).text(this.SectionName));
                    })
                }),
                fail: (function (error) {
                    OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
                })
            })
        });
        $(document).on('change', "#ddlSectionList", function () {
            $.ajax({
                url: $('#ddlSectionList').attr('dataChangeUrl'),
                data: { classId: $('#ddlClassList').val(), sectionId: $('#ddlSectionList').val(), examId: $('#ddlExamList').val() },
                type: 'get',
                success: (function (data) {
                    var $ddlSubject = $('#ddlSubjectList');
                    $ddlSubject.empty();
                    $ddlSubject.append($("<option />").text("--- Select Subject ---"));
                    $.each(data, function () {
                        $ddlSubject.append($("<option />").val(this.SubjectId).text(this.SubjectName));
                    })
                }),
                fail: (function (error) {
                    OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
                })
            })
        });
        $(document).on('change', "#ddlSubjectList", function () {
            $.ajax({
                url: $('#ddlSubjectList').attr('dataChangeUrl'),
                beforeSend: function () {
                    spinnerShow();
                },
                data: {
                    sessionId: $('#SelectedSessionId').val(),
                    classId: $('#ddlClassList').val(), sectionId: $('#ddlSectionList').val(),
                    examId: $('#ddlExamList').val(), subjectId: $('#ddlSubjectList option:selected').val(),
                    SelectedTermName: $('#ddlExamList option:selected').text(), SelectedClassName: $('#ddlClassList option:selected').text(),
                    SelectedSectionName: $('#ddlSectionList option:selected').text(), SelectedSubjectName: $('#ddlSubjectList option:selected').text(),
                },
                type: 'get',
                success: (function (data) {
                    $('#divMarkList').empty();
                    $('#divMarkList').html(data);
                }),
                fail: (function (error) {
                    OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
                }),
                complete: function () {
                    spinnerHide();
                }
            })
        });
    });
</script>

