@model ISas.Entities.Exam_MarksVerificationCoScholasticModels
@{
    Layout = "~/Views/Shared/_LayoutPrint.cshtml";
}

<div>
    <h4>
        School Name :- Bal Vikas School, Panipat <br />
        Date        :- @DateTime.Now <br />
        Report Name :- CoSchoolastic Marks Verification  For @Html.DisplayFor(r => Model.SelectedTermName), (@Html.DisplayFor(r => Model.SelectedClassName)-@Html.DisplayFor(r => Model.SelectedSectionName), @Html.DisplayFor(r => Model.SelectedSubjectName))
    </h4>
</div>

@if (Model != null)
{
    <table border="0" class="table table-bordered table-responsive table-condensed" id="MarkTable">
        <thead>
            <tr>
                @for (int i = 0; i < Model.HeaderNameList.Count; i++)
                {
                    <th>@Html.DisplayFor(r => Model.HeaderNameList[i])</th>
                }
            </tr>
        </thead>
        <tbody>
            @if (Model.ValueList != null && Model.ValueList.Count > 0)
            {
                for (int i = 0; i < Model.ValueList.Count; i++)
                {
                    <tr>
                        @for (int j = 0; j < Model.ValueList[i].Count; j++)
                        {
                            <td> @Html.DisplayFor(r => Model.ValueList[i][j]) </td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
}
