@model ISas.Web.ViewModels.MarksEntryCoScholasticViewModel
@{
    ViewBag.Title = "MarksEntry1to5";
}
<form>
    <div class="formSec">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="form-group">
                    <label for="">Session</label>
                    <div class="select">
                        @Html.DropDownListFor(m => m.SelectedSessionId, Model.SessionList, new { id = "ddlSessionList" })
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="form-group">
                    <label for="">Term</label>
                    <div class="select">
                        @Html.DropDownListFor(m => m.SelectedExamId, Model.ExamList, "-- Select Exam --", new { id = "ddlExamList", dataChangeUrl = Url.Action("BindClassddl") })
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="form-group">
                    <label for="">Class</label>
                    <div class="select">
                        @Html.DropDownListFor(m => m.SelectedClassId, Model.ClassList, new { id = "ddlClassList", dataChangeUrl = Url.Action("BindSectionddl") })
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="form-group">
                    <label for="">Section</label>
                    <div class="select">
                        @Html.DropDownListFor(m => m.SelectedSectionId, Model.SectionList, new { id = "ddlSectionList", dataChangeUrl = Url.Action("BindParentSubjectddl") })
                    </div>
                </div>

            </div>
        </div>


        <div class="row">


            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="form-group">
                    <label for="">Subject</label>
                    <div class="select">
                        @Html.DropDownListFor(m => m.SelectedSubjectId, Model.SubjectList, new { id = "ddlSubjectList", dataChangeUrl = Url.Action("BindStudentddl") })
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="form-group">
                    <label for="">Student</label>
                    <div class="select">
                        @Html.DropDownListFor(m => m.SelectedStudentERPNo, Model.StudentList, new { id = "ddlStudentList", dataChangeUrl = Url.Action("BindStudentCoScholasticMarkList") })
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="form-group">
                    <label for="">Apply All</label>
                    <div class="select">
                        @Html.DropDownList("FooBarDropDown", new List<SelectListItem>
                        {
                        new SelectListItem{ Text="--select--", Value = "0" ,Selected=true },
                        new SelectListItem{ Text="1", Value = "1" },
                        new SelectListItem{ Text="2", Value = "2" },
                        new SelectListItem{ Text="3", Value = "3" },
                        new SelectListItem{ Text="4", Value = "4" },
                        new SelectListItem{ Text="5", Value = "5" },
                        new SelectListItem{ Text="6", Value = "6" },
                        new SelectListItem{ Text="7", Value = "7" },
                        new SelectListItem{ Text="8", Value = "8" },
                        new SelectListItem{ Text="9", Value = "9" },
                        new SelectListItem{ Text="10", Value = "10" }
                         },new { id = "ddlApplyAll"})
                    </div>
                </div>
            </div>

            <div id="divMarkList">
                @Html.Partial("_StudentMarkListCoScholasticPartial", Model)
            </div>
        </div>

        <div class="btnSec">
            @*<button class="btn orangedarkBtn" id="savebutton" type="submit">Save</button>*@
            <button class="btn orangedarkBtn" id="savebutton">Save</button>
        </div>

    </div>
</form>

@section scripts{

    <script type="text/javascript">
        function myfunction() {
            var myTableArray = [];
            $('#MarkCoScholasicTable tr:not(:first)').each(function () {
                var tds = $(this).find('td');
                var myDets;
                myDets = {
                    SubjectId: $(tds[0]).html().trim(),
                      Parameter1: $(tds[2]).find(":text").val()
                    , Parameter2: $(tds[3]).find(":text").val()
                    , Parameter3: $(tds[4]).find(":text").val()
                }
                myTableArray.push(myDets);
            });
            return myTableArray;
        }
        $(document).ready(function () {
            $(document).on('change', "#ddlExamList", function () {
                $.ajax({
                    url: $('#ddlExamList').attr('dataChangeUrl'),
                    data: { examId: $('#ddlExamList').val() },
                    type: 'get'
                }).success(function (data) {
                    var $ddlClass = $('#ddlClassList');
                    $ddlClass.empty();
                    $('#ddlSectionList').empty();
                    $('#ddlSubjectList').empty();
                    $('#ddlAssessmentList').empty();
                    $ddlClass.append($("<option />").text("--- Select Class ---"));
                    $.each(data, function () {
                        $ddlClass.append($("<option />").val(this.ClassId).text(this.ClassName));
                    });
                }).fail(function (error) {
                    alert('Error');
                });
            });
            $(document).on('change', "#ddlClassList", function () {
                $.ajax({
                    url: $('#ddlClassList').attr('dataChangeUrl'),
                    data: { classId: $('#ddlClassList').val(), examId: $('#ddlExamList').val() },
                    type: 'get'
                }).success(function (data) {
                    var $ddlSec = $('#ddlSectionList');
                    $ddlSec.empty();
                    $('#ddlSubjectList').empty();
                    $('#ddlAssessmentList').empty();
                    $ddlSec.append($("<option />").text("--- Select Section ---"));
                    $.each(data, function () {
                        $ddlSec.append($("<option />").val(this.SectionId).text(this.SectionName));
                    });
                }).fail(function (error) {
                    alert('Error');
                });
            });
            $(document).on('change', "#ddlSectionList", function () {
                $.ajax({
                    url: $('#ddlSectionList').attr('dataChangeUrl'),
                    data: { classId: $('#ddlClassList').val(), sectionId: $('#ddlSectionList').val(), examId: $('#ddlExamList').val() },
                    type: 'get'
                }).success(function (data) {
                    var $ddlSubject = $('#ddlSubjectList');
                    $ddlSubject.empty();
                    $('#ddlStudentList').empty();
                    $ddlSubject.append($("<option />").text("--- Select Subject ---"));
                    $.each(data, function () {
                        $ddlSubject.append($("<option />").val(this.ParentSubjectId).text(this.ParentSubjectName));
                    });
                }).fail(function (error) {
                    alert('Error');
                });
            });
            $(document).on('change', "#ddlSubjectList", function () {
                $.ajax({
                    url: $('#ddlSubjectList').attr('dataChangeUrl'),
                    data: {
                        classId: $('#ddlClassList').val(), sectionId: $('#ddlSectionList').val(),
                        sessionId: $('#ddlSessionList').val(), subjectId: $('#ddlSubjectList').val()
                    },
                    type: 'get'
                }).success(function (data) {
                    var $ddlAssessment = $('#ddlStudentList');
                    $ddlAssessment.empty();
                    $ddlAssessment.append($("<option />").text("--- Select Student ---"));
                    $.each(data, function () {
                        $ddlAssessment.append($("<option />").val(this.ERPNo).text(this.Student));
                    });
                }).fail(function (error) {
                    alert('Error');
                });
            });
            $(document).on('change', "#ddlStudentList", function () {
                $.ajax({
                    url: $('#ddlStudentList').attr('dataChangeUrl'),
                    data: {
                        classId: $('#ddlClassList').val(), sectionId: $('#ddlSectionList').val(),
                        examId: $('#ddlExamList').val(), subjectId: $('#ddlSubjectList').val(),
                        erpNo: $('#ddlStudentList').val()
                    },
                    type: 'get'
                }).success(function (data) {
                    $('#divMarkList').empty();
                    $('#divMarkList').html(data);
                }).fail(function (error) {
                    alert('Error');
                });
            });
            $(document).on('change', "#ddlApplyAll", function () {
                $('#MarkCoScholasicTable tr:not(:first)').each(function () {
                    var ddlMark = $('#ddlApplyAll').val();
                    $("[id*='StudentMark']").each(function (i, e) {
                        $(this).val(ddlMark);
                    });
                })

            });
            $('#savebutton').on("click", function () {
                //alert("abcd");
                var myTableArray = myfunction();
                event.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Student_CoScholasticMarksEntry_CRUD", "Exam")',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(
                        {
                            classId: $('#ddlClassList').val(), sectionId: $('#ddlSectionList').val(), examId: $('#ddlExamList').val(),
                            erpNo: $('#ddlStudentList').val(), sessionId: $('#ddlSessionList').val()
                            , StudentCoScholasticMarkList: myTableArray
                        }),
                    success: function (result) {
                        alert(result);

                    },
                    error: function () {
                        alert("Error Something is fissy with network.");
                    }
                });
                //$('#divMarkList').empty();
            });

        });

    </script>
}
