@model  ISas.Entities.CommonEntities.ReportHeaderEntities

<div id="reportHeaderDiv">
    <table id="tblReportHeader" cellpadding="0" cellspacing="0" style="width:100%;">
        <tr>

            @if (Model.reportDisplayName.StartsWith("Class List") || Model.reportDisplayName.StartsWith("Student Register Page"))
            {
                <td>
                    <span>
                        
                    </span>
                </td>
            }
            else
            {
                <td>
                    <span>
                        <img src="@ViewBag.ImageData" height="100" width="100" />
                    </span>
                </td>
            }
            <td style="text-align:left;">

                @if (Model.reportDisplayName == "Class List" || Model.reportDisplayName == "Student Register Page1" || Model.reportDisplayName == "Student Register Page2" || Model.reportDisplayName == "Student Register Page3" || Model.reportDisplayName == "Student Register Page4")
                {
                    <span style="font-size:18px;font-family:'Times New Roman';">
                        <strong>@Html.DisplayFor(r => Model.ReportName)</strong>
                    </span>
                }
                else
                {

                    <span style="font-size:22px;font-family:'Times New Roman';">
                        <strong>@Html.DisplayFor(r => Model.Header1)</strong>
                    </span><br />
                    <span style="font-size:18px;font-family:'Times New Roman';">
                        <strong>@Html.DisplayFor(r => Model.Header2)</strong>
                    </span><br />
                    <span style="font-size:18px;font-family:'Times New Roman';">
                        <strong>@Html.DisplayFor(r => Model.Header3), @Html.DisplayFor(r => Model.Header4)</strong>
                    </span><br />


                    <span style="font-size:18px;font-family:'Times New Roman';">
                        <strong>@Html.DisplayFor(r => Model.ReportName)</strong>
                    </span>
                }

            </td>



        </tr>
    </table>
</div>
