@model ISas.Web.ViewModels.Exam_ReportCardViewModel


<div class="col-xs-12">


    <div class="table-responsive searchtable table_ev_od" style="min-height:400px;">

        <table cellspacing="0" cellpadding="0" border="0" class="table table-bordered table-responsive" id="MarkTable">
            <thead>
                <tr>
                    <th>@Html.CheckBox("chkBoxSelectAll", htmlAttributes: new { @class = "", onchange = "Fun_CheckToSelectAllChkBox()" })</th>
                    <th>Adm No.</th>
                    <th>Roll No.</th>
                    <th>Student Name</th>
                    <th>Download</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ClassStudentsList.Count > 0)
                {
                    for (int i = 0; i < Model.ClassStudentsList.Count; i++)
                    {
                        <tr class="abc">
                            <td style="width:40px;">@Html.CheckBoxFor(r => Model.ClassStudentsList[i].Select, htmlAttributes: new { @class = "chkBoxstudent" })</td>
                            <td>
                                @Html.HiddenFor(r => Model.ClassStudentsList[i].ERPNo)
                                @Model.ClassStudentsList[i].AdmNo
                            </td>
                            <td> @Model.ClassStudentsList[i].RollNo </td>
                            <td> @Model.ClassStudentsList[i].Student </td>
                            <td class="text-center">
                                @Html.ActionLink(" ", "StudentMarkRegister", "Exam_MarkRegister", new { sessionId = Model.SelectedSessionId, classId = Model.SelectedClassId, sectionId = Model.SelectedSectionId, examId = Model.SelectedExamId, erpno = Model.ClassStudentsList[i].ERPNo, studentname = Model.ClassStudentsList[i].Student }, htmlAttributes: new { @class = "fa fa-download btnDefaultColor", title = "Download" })
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>

