@model List<ISas.Entities.LibraryEntities.eLibraryBook>
@{
  int count =1;
}
<script src="~/bower_components/datatables.net/js/dataTables.buttons.min.js"></script>
<script src="~/bower_components/datatables.net/js/buttons.print.min.js"></script>
<script src="~/bower_components/datatables.net/js/buttons.html5.min.js"></script>
<script src="~/bower_components/datatables.net/js/buttons.colVis.min.js"></script>
<script src="~/bower_components/datatables.net/js/dataTables.select.min.js"></script>
<link rel="stylesheet" href="~/bower_components/datatables.net/css/buttons.dataTables.min.css">

<section class="content-header">
    <h1>
        Student E-Library
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="javascript: history.go(-1)" title="Back"><i class="fa fa-arrow-left"></i> </a> |
            <a href="#" onclick="window.location.reload()" title="Refresh"><i class="fa fa-refresh"></i></a> |
            <a href="@Url.Action("Dashboard", "Dashboard")" title="Dashboard"><i class="fa fa-dashboard"></i></a>
        </li>
        <li>E-Library</li>
    </ol>
</section>

<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            
        </div>

        <div class="box-body">
            
                <table id="example1" class="table table-responsive table-bordered table-condensed display nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>SNo</th>
                            <th style="display:none" >Book No</th>
                            <th>Book No</th>
                            <th>Book Name</th>
                            <th>Subject </th>
                            <th>Booktype</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Count; i++)
                        {

                        <tr>
                            <td>
                                @Html.DisplayFor(r => count)
                            </td>
                            <td style="display:none">
                                @Html.DisplayFor(r => Model[i].eBookNo)
                            </td>
                            <td>
                                <spant>B</spant>@Html.DisplayFor(r => Model[i].eBookNo)
                            </td>
                            <td>
                                @Html.DisplayFor(r => Model[i].eBookName)
                            </td>

                            <td>
                                @Html.DisplayFor(r => Model[i].eBookSubjectName)
                            </td>
                            <td>
                                @Html.DisplayFor(r => Model[i].eBookType)
                            </td>
                            <td class="text-center">
                                @if (Model[i].eBookattachementPath != null)
                                {
                                    <a id="@i" class="fa fa-download downloadBtn" href="@Model[i].eBookattachementPath" title="download e-book" download="@Model[i].eBookattachementName"></a>
                                }
                                else
                                {
                                    <a id="@i" class="fa fa-hand-stop-o" href="@Model[i].eBookattachementPath" title="No download available" download=""></a>
                                }

                            </td>
                        </tr>
                            count++;
                        }
                    </tbody>
                </table>

            
        </div>

    </div>
</section>


<script>
    $("#example1 tr").click(function (evt) {
        if (evt.ctrlKey) {
            $(this).toggleClass("selected");
        } else {
            var selected = $(this).hasClass("selected");
            $("#example1 tr").removeClass("selected");
            if (!selected)
                $(this).addClass("selected");
        }
    });

    $(document).ready(function () {
        $('#example1').DataTable({
            "pageLength": 50,
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'copyHtml5',
                    text: '<i class="fa fa-files-o"></i>',
                    titleAttr: 'Copy',
                    title: '',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'excelHtml5',
                    text: '<i class="fa fa-file-excel-o"></i>',
                    titleAttr: 'Excel',
                    title: '',
                    exportOptions: {
                        columns: ':visible'
                    },
                    customize: function (xlsx) {
                        console.log(xlsx);

                    }
                },
                {
                    extend: 'print',
                    text: '<i class="fa fa-print"></i>',
                    titleAttr: 'Print',
                    title: "",
                    exportOptions: {
                        columns: ':visible'
                    },
                    customize: function (win) {
                        $(win.document.body)
                            //.css('font-size', '10pt')
                            .prepend($('#reportHeaderDiv').html()); //'<img src="http://localhost:60254/Images/System/balVikasLog.jpg" style="" />'
                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                },
                'colvis'
            ],
            select: true
        });
    });
</script>
<script>

    $(".downloadBtn").click(function () {
        var id = $(this).attr("id");
        var bookNo = ""; 
            $('#example1 tr').each(function () {
            if ($(this).index() == id) {
                bookNo = $.trim($(this).find("td").eq(1).html());
            }
        });
        alert(bookNo);
        
        $.ajax({
            type: "GET",
            beforeSend: function () {
                spinnerShow();
            },
            url: "../eLibrary_Student/CollectDownloadCount",
            data: {
                bookno: bookNo,
            },
            error: function (xhr, status, error) {
                OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
            },
            success: function (response) {
            },
            complete: function () {
                spinnerHide();
            }
        });
    });

</script>
