@using ISas.Web.Models;
@model List<ISas.Entities.Exam_Entities.Exam_OnlineAssessmentModels>
<style>

    .image-upload > input {
        display: block;
        display: none;
    }

    .image-upload span {
        cursor: pointer;
    }
</style>
<section class="content-header">
    <h1> Online Assessment </h1>
    <ol class="breadcrumb">
        <li>
            <a href="javascript: history.go(-1)" title="Back"><i class="fa fa-arrow-left"></i> </a> |
            <a href="#" onclick="window.location.reload()" title="Refresh"><i class="fa fa-refresh"></i></a> |
            <a href="@Url.Action("Dashboard", "Dashboard")" title="Dashboard"><i class="fa fa-dashboard"></i></a>
        </li>
        <li>Exam Module</li>
        <li class="active">Online Asssessment</li>
    </ol>
</section>
@Html.Hidden("currenthddnQId", "")
<section class="content">
    <div class="box box-primary ">
        <div class=" box-body pad table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Assessment Name</th>
                        <th>Max Mark</th>
                        <th>Set By</th>
                        <th>Last Attempt Time</th>
                        <th style="text-align:center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Count > 0)
                    {
                        int count = 1;
                        for (int i = 0; i < Model.Count(); i++)
                        {
                            <tr class="editable" id="@i">
                                <td class="qpIdValue">
                                    @Html.DisplayFor(r => count)
                                    @Html.HiddenFor(r => Model[i].qpId, htmlAttributes: new { id = "qPaperList_" + i + "__qpId" })
                                </td>
                                <td>
                                    @Html.DisplayFor(r => Model[i].subjectName)
                                </td>
                                <td>
                                    @Html.DisplayFor(r => Model[i].maxMark)
                                </td>

                                <td>
                                    @Html.DisplayFor(r => Model[i].setBy)
                                </td>

                                <td>
                                    @Html.DisplayFor(r => Model[i].TAT)
                                </td>
                                @*<td class="text-center">
                                        @if (!string.IsNullOrEmpty(Model[i].docPath))
                                        {
                                            <a title="Click here to download Question Paper" class="text-sm btnDefaultColor" href="~/@Model[i].docPath" download="@Model[i].docPath"><i class="fa fa-file-pdf-o"></i></a>
                                            if (Model[i].ansDocPath == "NA" & Model[i].Attend)
                                            {
                                                <div class="image-upload">
                                                    <label for="file-input_@i">
                                                        <span class="fa fa-upload btnDefaultColor" title="Upload answer sheet"></span>
                                                    </label>
                                                    <input id="file-input_@i" type="file" onclick="$('#currenthddnQId').val('@Model[i].qpId');" class="upload" accept="image/png, image/jpeg ,application/pdf" />
                                                </div>
                                            }
                                            else
                                            {
                                                <span title="Upload answer sheet" style="cursor:not-allowed;" class="fa fa-upload btnDefaultColorFaded"></span>

                                                if (Model[i].ansDocPath != "NA")
                                                {
                                                    <a href="#" onclick="DeleteAnswersheetConfirm('@Model[i].qpId')" title="Delete Answer Sheet" class="fa fa-trash btnDefaultColor"></a>
                                                }
                                            }
                                        }
                                    </td>*@
                                <td class="text-center">
                                    @if (Model[i].Attend)
                                    {
                                        @Html.EncodedActionLink(" ", "Exam_BrowseAssessment", "Exam_OnlineAssessment", new { qpId = Model[i].qpId, qNo = 1, subjectName = Model[i].subjectName, maxMark = Model[i].maxMark }, htmlAttributes: new { @class = "fa fa-newspaper-o btnDefaultColor", title = "Go to Assessment", style = "margin-left:5%;" })
                                    }
                                    else
                                    {
                                        <span title="Go to Assessment" style="cursor:not-allowed;" class="fa fa-newspaper-o btnDefaultColorFaded"></span>
                                    }
                                    @if (Model[i].Result)
                                    {
                                        @Html.EncodedActionLink(" ", "Answersheet", "Exam_Answersheet", new { qpId = Model[i].qpId }, htmlAttributes: new { @class = "fa fa-mortar-board (alias) btnDefaultColor", title = "View Result", style = "margin-left:5%;" })
                                    }
                                    else
                                    {
                                        <span title="View Result" style="cursor:not-allowed;" class="fa fa-mortar-board (alias) btnDefaultColorFaded"></span>

                                    }

                                </td>

                            </tr>
                            count++;
                        }
                    }
                </tbody>
            </table>
        </div>
        @*<div class="box-footer">

            </div>*@
    </div>
</section>
<script>

    $(document).ready(function () {
        //setTimeout(window.location.reload(), 5000);
        setTimeout(function () { location.reload(1); }, 300000);

    });

    $('.upload').on('change', function (e) {

         if (this.files && this.files[0]) {
             var reader = new FileReader();
             reader.readAsDataURL(this.files[0]);
         }
         var files = e.target.files;
        if (files.length > 0 && this.files[0].size < 4194304) {
             if (window.FormData !== undefined) {
                 var data = new FormData();
                 for (var x = 0; x < files.length; x++) {
                     data.append("id" + x, files[x]);
                 }
                 data.append('qpId', $('#currenthddnQId').val());
                 $.ajax({
                     type: "POST",
                     beforeSend: function () {
                         spinnerShow();
                     },
                     url: '@Url.Action("UploadAnswerSheet", "Exam_OnlineAssessment")',
                     dataType: 'json',
                     contentType: false,
                     processData: false,
                     data: data,
                     success: function (result) {
                         OpenMessegeAutoHideDiv(result.Msg, result.Color);
                        setTimeout(function () { window.location.reload();}, $('#hddnReloadTime').val());
                     },
                     error: function () {
                         OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
                     },
                     complete: function () {
                         spinnerHide();
                     }
                 });
             } else {
                 OpenMessegeAutoHideDiv("This browser does not support HTML5 file uploads!", 'Warning');
             }
        }
        else {
            OpenMessegeAutoHideDiv("Invalid file or file is to big to upload (Max 4 MB)...!", 'Danger');
        }
     });

    function DeleteAnswersheetConfirm(qpId) {
        AsyncConfirmYesNo("Confirmation", "Are you sure to delete uploaded answersheet?", MyYesFunction, MyNoFunction, qpId);
    };

    function MyNoFunction() {
    }
    function MyYesFunction(qpId) {
        $.ajax({
            type: "GET",
            beforeSend: function () {
                spinnerShow();
            },
            url: "../Exam_OnlineAssessment/DeleteAnswersheet",
            data: { qpId: qpId },
            error: function (xhr, status, error) {
                OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
            },
            success: function (result) {
                OpenMessegeAutoHideDiv(result.Msg, result.Color);
                setTimeout(function () { window.location.reload();}, $('#hddnReloadTime').val());
            },
            complete: function () {
                spinnerHide();
            }
        });
    }


</script>
