@model ISas.Entities.FeesEntities.Fee_ReportModels
@{ 
    Layout = "~/Views/Shared/_LayoutPrint.cshtml";
}
<!-- title row -->
<div class="row">
    <div class="col-md-1">
        <i><img src="@ViewBag.ImageData" height="60" width="80" /> </i>
    </div>
    <div class="col-md-9">
        <span style="font-size:24px;">
            <strong>@Html.DisplayFor(r => Model.Header1) @Html.DisplayFor(r => Model.Header2)</strong>
            <br /><small style="font-size:small;"> @Html.DisplayFor(r => Model.Header3)</small>
            <br /><small style="font-size:small;">Report Name : @Html.DisplayFor(r => Model.SelectedReportName)</small>
        </span>
    </div>
    <div class="col-md-2">
        <small class="pull-right">Date: @DateTime.Now.ToShortDateString().Replace("-", "/")</small>
    </div>
</div><hr />

<!-- Table row -->
<div class="row">
    <div class="col-xs-12 table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    @foreach (var item in Model.HeaderNameList1)
                    {
                        <th>@Html.DisplayFor(r => item) </th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.ValueList1.Count; i++)
                {
                    <tr>
                        @for (int j = 0; j < Model.ValueList1[i].Count; j++)
                        {
                            <td>@Html.DisplayFor(r => Model.ValueList1[i][j])</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
<div class="row">
    <!-- accepted payments column -->
    <div class="col-xs-6">
        <p class="lead">Payment Methods:</p>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        @foreach (var item in Model.HeaderNameList2)
                        {
                            <th>@Html.DisplayFor(r => item) </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.ValueList2.Count; i++)
                    {
                        <tr>
                            @for (int j = 0; j < Model.ValueList2[i].Count; j++)
                            {
                                <td>@Html.DisplayFor(r => Model.ValueList2[i][j])</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @*<img src="../../dist/img/credit/visa.png" alt="Visa">
            <img src="../../dist/img/credit/mastercard.png" alt="Mastercard">
            <img src="../../dist/img/credit/american-express.png" alt="American Express">
            <img src="../../dist/img/credit/paypal2.png" alt="Paypal">
            <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem plugg
                dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra.
            </p>*@
    </div>
    <!-- /.col -->
    <div class="col-xs-6" style="border-left:1px solid #808080">
        <p class="lead">Record Statatics: </p>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        @foreach (var item in Model.HeaderNameList3)
                        {
                            <th>@Html.DisplayFor(r => item) </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.ValueList3.Count; i++)
                    {
                        <tr>
                            @for (int j = 0; j < Model.ValueList3[i].Count; j++)
                            {
                                <td>@Html.DisplayFor(r => Model.ValueList3[i][j])</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->