@using ISas.Web.Models;
@model ISas.Entities.Academic.Academic_WingSetupModels
@{
    ViewBag.Title = "Update";
    string encodedPathStr = Html.EncodedPathString("", "New", "Academic_WingSetup", new { SchoolName = Model.SchoolName, SchoolId = Model.SchoolId }, htmlAttributes: new { });
}
<section class="content-header">
    <h1>
        Wing Setup <small>(UPDATE)</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="javascript: history.go(-1)" title="Back"><i class="fa fa-arrow-left"></i> </a> |
            <a href="#" onclick="window.location.reload()" title="Refresh"><i class="fa fa-refresh"></i></a> |
            <a href="@Url.Action("Dashboard", "Dashboard")" title="Dashboard"><i class="fa fa-dashboard"></i></a>
        </li>
        <li>School</li>
        <li><a href="@Url.Action("New", "Academic_SchoolSetup")">School Setup</a> </li>
        <li><a href="@Html.EncodedPath("", "New", "Academic_WingSetup", new { SchoolName = Model.SchoolName, SchoolId = Model.SchoolId }, htmlAttributes:new { })">Wing Setup</a> </li>
        <li class="active">Update</li>
    </ol>
</section>
<section class="content">
    @using (Html.BeginForm("Academic_WingSetup_CRUD", "Academic_WingSetup", FormMethod.Post, htmlAttributes: new { }))
    {
        @Html.HiddenFor(r => Model.WingId)
        @Html.HiddenFor(r => Model.SchoolId)
        @Html.HiddenFor(r => Model.SchoolName)
        <div class="box box-warning">
            <div class="box-header with-border">
                <h5 class="box-title">School Name :- <strong class="text-primary">@Html.DisplayFor(r => Model.SchoolName)</strong></h5>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="form-group">
                            <label for="">@Html.LabelFor(r => Model.WingName)<i class="mandateLbl">*</i> </label>
                            <div class="select">
                                @Html.TextBoxFor(m => m.WingName, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(r => Model.WingName, null, htmlAttributes: new { style = "color:red;" })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-2">
                        <div class="form-group">
                            <label for="">@Html.LabelFor(r => Model.PrintOrder)</label>
                            <div class="select">
                                <input type="number" id="PrintOrder" name="PrintOrder" class="form-control" value="@Model.PrintOrder" />
                                @Html.ValidationMessageFor(r => Model.PrintOrder, null, htmlAttributes: new { style = "color:red;" })
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-2">
                        <div class="checkbox">
                            <br /><label>
                                @Html.CheckBoxFor(r => Model.Default)@Html.LabelFor(r => Model.Default)
                            </label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="box-footer">
                <button class="btn btn-warning" id="savebutton" type="button" onclick="DoAjaxPostAndMore(this)">UPDATE</button>
                <button class="btn btn-default" type="button" onclick="window.location.reload()">RESET</button>
            </div>
        </div>
    }

    @{ Html.RenderAction("LandingPage", "Academic_WingSetup", new { SchoolName = Model.SchoolName, SchoolId = Model.SchoolId }); }
</section>
<script>
    function DoAjaxPostAndMore(btnClicked) {
        var $form = $(btnClicked).parents('form');
        $.ajax({
            type: "POST",
            beforeSend: function () {
                spinnerShow();
            },
            url: $form.attr('action'),
            data: $form.serialize(),
            error: function (xhr, status, error) {
                OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
            },
            success: function (response) {
                if (response.status == 'success') {
                    OpenMessegeAutoHideDiv(response.Msg, response.Color);
                    setTimeout(function () { window.location = "@encodedPathStr"; }, $('#hddnReloadTime').val());
                }
                else {
                    OpenMessegeAutoHideDiv($('#ErrorMsgOnModelStateNotValid').val());
                    AddErrorAttributeCSS(response.ErrorList); //Available in CustomCommon.js
                    AddValidAttributeCSS(response.ValidKeyList); //Available in CustomCommon.js
                }
            },
            complete: function () {
                spinnerHide();
            }
        });
    }
</script>

