@model ISas.Entities.FeesEntities.FeeReceiptModel
@using ISas.Web.Models;
@{
    ViewBag.Title = "_FeeInstallmentDetails";
    int dueAmt = 0; int advAmt = 0; int netPay = 0; int inHand = 0; int latefee = 0; int discount = 0;
    if (Model != null && Model.HeadList != null && Model.HeadList.Count > 0)
    {
        dueAmt = Model.AmountToPay;
        advAmt = Model.Advance;
        netPay = Model.NetPay;
        inHand = Model.PaidAmount;
        latefee =Model.LateFee;
        discount = Model.Discount;
    }
}

@Html.Hidden("hdddnOldLateFee", Model.LateFee)

<table class="table table-responsive table-hover table-bordered table-condensed">
    <thead>
        <tr>
            <th>Duration</th>
            <th>Head</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.HeadList != null && Model.HeadList.Count > 0)
        {
            for (int i = 0; i < Model.HeadList.Count; i++)
            {
                <tr>
                    <td>@Html.DisplayFor(r => Model.HeadList[i].Duration)</td>
                    <td>@Html.DisplayFor(r => Model.HeadList[i].HeadName)</td>
                    <td>@Html.DisplayFor(r => Model.HeadList[i].Amount)</td>
                </tr>
            }
        }
    </tbody>
</table>
<table  style="display:none;" >
    <tr>
        <td id="mscDuebtnDIV">
            @Html.EncodedActionLink("Snacks", "Fee_MiscDue", "Fee_MiscDues", new { erpNo = Model.HddnERPNo }, htmlAttributes: new { target = "_blank", @class = "btn btn-default btn-sm" })
        </td>
        <td id="transportDuebtnDIV">
            @Html.EncodedActionLink("Transport", "AvailTransport", "AvailTransport", new { erpNo = Model.HddnERPNo }, htmlAttributes: new { target = "_blank", @class = "btn btn-default btn-sm" })
        </td>
        <td id="concessionbtnDIV">
            @Html.EncodedActionLink("Concession", "Fee_ConcessionAllotment", "Fee_Concession", new { erpNo = Model.HddnERPNo }, htmlAttributes: new { target = "_blank", @class = "btn btn-default btn-sm" })
        </td>
        <td id="ledgerbtnDIV">
            @Html.EncodedActionLink("Ledger", "NewStudentLedger", "Fee_Transaction", new { erpNo = Model.HddnERPNo }, htmlAttributes: new { target = "_blank", @class = "btn btn-default btn-sm" })
        </td>
    </tr>
</table>
<script>
    $(document).ready(function () {
        $('#AmountToPay').val('@dueAmt');
        $('#Advance').val('@advAmt');
        $('#NetPay').val('@netPay');
        $('#PaidAmount').val('@inHand');
        $('#TrnAmount').val('@inHand');
        $('#Discount').val('@discount');
        $('#Balance').val(0);
        $('#Excess').val(0);
        $('#LateFee').val('@latefee');

        $('#miscLink').html($('#mscDuebtnDIV').html());
        $('#transLink').html($('#transportDuebtnDIV').html());
        $('#concesLink').html($('#concessionbtnDIV').html());
        $('#ledgerLink').html($('#ledgerbtnDIV').html());
        //$('#btnLedgerDetails').prop('disabled', false);
        

    });
    
    function CalculateDueAmount() {    
       // debugger;
              
        if (parseInt($('#Discount').val()) > parseInt('@Model.MaxDiscountAmt')) {
            //alert('testing')
            OpenMessegeAutoHideDiv('Max Discount amount is. ' + '@Model.MaxDiscountAmt', 'Danger');
            $('#Discount').val(0);
        }
        else
        {
            var dueAmt = parseInt($('#AmountToPay').val());
            var discount = parseInt($('#Discount').val());
            //alert(discount);
            var lateFee = parseInt($('#LateFee').val());
            var advance = parseInt($('#Advance').val());
            var netPay = (dueAmt + lateFee) - advance;
            $('#NetPay').val(netPay);
            var inhandAmt = (dueAmt + lateFee) - (discount + advance);
            // alert(inhandAmt);
            var adjustmentAmt = (netPay - (inhandAmt + discount));
            if (adjustmentAmt > 0) {
                $('#Balance').val(adjustmentAmt);
                $('#Excess').val(0);
            } else if (adjustmentAmt < 0) {
                $('#Excess').val((adjustmentAmt) * -1);
                $('#Balance').val(0);
            } else {
                $('#Balance').val(0);
                $('#Excess').val(0);
            }
            $('#PaidAmount').val(inhandAmt);
            $('#TrnAmount').val(inhandAmt);
        }
        if (parseInt($('#LateFee').val()) >= parseInt('@Model.MinFine'))
        {

            var dueAmt = parseInt($('#AmountToPay').val());
            var discount = parseInt($('#Discount').val());
            var lateFee = parseInt($('#LateFee').val());
            var advance = parseInt($('#Advance').val());

            //var netPay = //parseInt($('#NetPay').val());

            var netPay = (dueAmt + lateFee) - advance;
            $('#NetPay').val(netPay);

            

            var inhandAmt = (dueAmt + lateFee) - (discount + advance);
            // alert(inhandAmt);
            var adjustmentAmt = (netPay - (inhandAmt + discount));
            if (adjustmentAmt > 0) {
                $('#Balance').val(adjustmentAmt);
                $('#Excess').val(0);
            } else if (adjustmentAmt < 0) {
                $('#Excess').val((adjustmentAmt) * -1);
                $('#Balance').val(0);
            } else {
                $('#Balance').val(0);
                $('#Excess').val(0);
            }

            $('#PaidAmount').val(inhandAmt);
            $('#TrnAmount').val(inhandAmt);
        }

        else
        {
           // 
            $('#LateFee').val($('#hdddnOldLateFee').val());
            OpenMessegeAutoHideDiv('Minimum Fine amount is : ' +'@Model.MinFine', 'Danger');
        }
        
        
        


    }
</script>