@model ISas.Entities.FeesEntities.Fee_StudentLedgerModel
@{

}

    <section class="content-header">
        <h1>
            Student Ledger
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="javascript: history.go(-1)" title="Back"><i class="fa fa-arrow-left"></i> </a> |
                <a href="#" onclick="window.location.reload()" title="Refresh"><i class="fa fa-refresh"></i></a> |
                <a href="@Url.Action("Dashboard", "Dashboard")" title="Dashboard"><i class="fa fa-dashboard"></i></a>
            </li>
            <li>Fee</li>
            <li class="active">Student Ledger</li>
        </ol>

    </section>

    <section class="content">
        <div class="box box-success">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <table id="tblReceiptDetails" class="table table-hover table-bordered table-responsive table-condensed">


                            <thead>
                                <tr>
                                    <th colspan="4"> <label for="">@Html.LabelFor(r => Model.AdmNo):  @Model.AdmNo </label>  </th>
                                    <th colspan="4"> <label for="">@Html.LabelFor(r => Model.Student):  @Model.Student</label> </th>
                                    <th colspan="5"> <label for="">@Html.LabelFor(r => Model.ClassName): @Model.ClassName  </label> </th>
                                </tr>
                            </thead>
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Installment </th>
                                    <th>Due Date</th>
                                    <th>Due Amount</th>
                                    <th>Concession</th>
                                    <th>Disount</th>
                                    <th>Advance</th>
                                    <th>Payable</th>
                                    <th>Paid</th>
                                    <th>Balance</th>
                                    <th>Comm. Balance</th>
                                    <th>Status</th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.StudentLedgerList)
                                {
                                    <tr>
                                        <td>@item.Sno</td>
                                        <td>@item.Duration</td>
                                        <td>@item.DueDate</td>
                                        <td>@item.Due</td>
                                        <td>@item.Concession</td>
                                        <td>@item.discount</td>
                                        <td>@item.advance</td>
                                        <td>@item.Payable</td>
                                        <td>@item.ActualPaid</td>
                                        <td>@item.Balance</td>
                                        <td>@item.PreviousBalance</td>
                                        <td>@item.Status</td>
                                        <td><a href="#"  onclick="getLedgerInstallmentDetails_ByERPNo( '@item.ERP' ,'@item.DueDate','@item.Duration')" title="Details..." class="fa fa-eye btnDefaultColor"></a></td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <table id="tblReceiptDetails" class="table table-hover table-bordered table-responsive table-condensed">



                            <thead>
                                <tr>
                                    <th>Opening / Dues : @Model.Due</th>
                                    <th> </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Concession : @Model.Concession</td>
                                    <td>Fee Paid : @Model.F</td>

                                    <td></td>

                                </tr>
                                <tr>
                                    <td>Discount : @Model.discount</td>
                                    <td>Transport Paid : @Model.T</td>
                                    <td></td>

                                </tr>
                                @*<tr>
                                    <td>Advance : @Model.Advance</td>
                                    <td></td>
                                    <td></td>

                                </tr>*@


                                <tr>
                                    <td><b>Total Payable : @Model.Payable</b></td>
                                    <td><b>Total Paid : @Model.ActualPaid</b></td>
                                    <td><b>Balance : @Model.Balance</b></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>



            </div>
        </div>
    </section>


    <section class="content">
        <div class="box box-success">
            <div class="box-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="box-header with-border">
                            <h3 class="box-title">Receipts Details</h3>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <table id="tblReceiptDetails" class="table table-hover table-bordered table-responsive table-condensed">



                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Receipt </th>
                                    <th>Receipt Date </th>
                                    <th>Duration</th>
                                    <th>Amount</th>
                                    <th>Mode</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.StudentReceiptList)
                                {
                                <tr>
                                    <td>@item.Sno</td>
                                    <td>@item.ReceiptNo</td>
                                    <td>@item.TransDate</td>
                                    <td>@item.Duration</td>
                                    <td>@item.RecAmount</td>
                                    <td>@item.Mode</td>
                                    <td>@item.Status</td>
                                </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </section>

<script>
    function getLedgerInstallmentDetails_ByERPNo(erpno,date,durtion)
    {
       
        $.ajax({
            type: "GET",
            url: "../Fee_Transaction/_StudentLedgerInstallmentDetails",
            data: { ErpNo: erpno, DueDate: date  },
            error: function (xhr, status, error) {
                OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
            },
            success: function (response) {

                OpenMessegeModal(response, '', 'lg', 'Installment Ledger:  ' + ' @Model.Student' + '(' + '@Model.ClassName' + ');Period :' +  durtion );
            },
            });
           
    }

</script>


