@using ISas.Web.Models;
@model ISas.Entities.FeesEntities.Fee_InvoiceCreationModels

<table class="table table-hover table-responsive table-condensed">
    <thead>
        <tr>
            <th>#</th>
            <th>Adm No</th>
            <th>Student Name</th>
            <th>Fee Category</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.FeeInvoiceList != null && Model.FeeInvoiceList.Count > 0)
        {
            int count = 1;

            for (int i = 0; i < Model.FeeInvoiceList.Count; i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(r => count)
                        @Html.HiddenFor(r => Model.FeeInvoiceList[i].ERPNo)
                        @Html.HiddenFor(r => Model.FeeInvoiceList[i].AdmNo)
                        @Html.HiddenFor(r => Model.FeeInvoiceList[i].StudentName)
                        @Html.HiddenFor(r => Model.FeeInvoiceList[i].FeeCategory)
                        @Html.HiddenFor(r => Model.FeeInvoiceList[i].IsCreateInvoice)
                        
                    </td>
                    <td>@Html.DisplayFor(r => Model.FeeInvoiceList[i].AdmNo)</td>
                    <td>@Html.DisplayFor(r => Model.FeeInvoiceList[i].StudentName)</td>
                    <td>@Html.DisplayFor(r => Model.FeeInvoiceList[i].FeeCategory)</td>
                    <td>
                        @if (Model.FeeInvoiceList[i].IsCreateInvoice)
                        {
                            <a href="#" onclick="SaveInvoiceConfirm_Single(@i);" title="Create Invoice" class="fa fa-plus-square btnDefaultColor"></a>
                        }
                        else
                        {
                            <span href="#" title="Create Invoice" class="fa fa-plus-square btnDefaultColorFaded"></span>
                        }

                        @if (string.IsNullOrEmpty(Model.FeeInvoiceList[i].FeeCategory))
                        {
                            <span title="Fee Book" class="fa fa-rupee btnDefaultColorFaded"></span>
                            <span title="Edit Invoice" class="fa fa-edit btnDefaultColorFaded"></span>
                        }
                        else
                        {
                            @Html.EncodedActionLink(" ", "GetFeeDocument_FeeBook_HtmlReport", "StudentFeeDetails", new { Mode = "FEEBOOK", erpno = Model.FeeInvoiceList[i].ERPNo }, htmlAttributes: new { @class = "fa fa-rupee btnDefaultColor", target = "_blank" })
                            <a href="#" onclick="onclick_editInvoice('@Model.FeeInvoiceList[i].ERPNo', '@Model.FeeInvoiceList[i].StudentName')" class="fa fa-edit btnDefaultColor"></a>
                        }
                    </td>
                </tr>
                count++;
            }
        }
    </tbody>
</table>