@model ISas.Entities.DashboardEntities.OnlineClassesModel
<script src="~/dist/custom js/CustomCommonmini.js"></script>
<section class="content-header">
    <h1>
        Online Class
    </h1>

    <ol class="breadcrumb">
        <li>
            <a href="javascript: history.go(-1)" title="Back"><i class="fa fa-arrow-left"></i> </a> |
            <a href="#" onclick="window.location.reload()" title="Refresh"><i class="fa fa-refresh"></i></a> |
            <a href="@Url.Action("Dashboard", "Dashboard")" title="Dashboard"><i class="fa fa-dashboard"></i></a>
        </li>
        <li>Dashboard</li>
        <li class="active">Class 1st</li>
    </ol>
</section>
<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <div class="box-title pull-right">
                <h5 class="box-title">Secret Code: @Model.secretCode</h5>
            </div>
        </div>
        <div class="box-body">

            <div class="row">

                @if (Model._onlineclassesStudentList != null && Model._onlineclassesStudentList.Count > 0)
                {

                    int count1 = 1;
                    for (int i = 0; i < Model._onlineclassesStudentList.Count; i++)
                    {

                <div class="col-xs-6 col-sm-6 col-md-2">

                    @if (Model._onlineclassesStudentList[i].IsclassAvaialbe)
                    {

                        <button type="button" class="btn btn-app" data-toggle="modal" onclick="PasstoModal('@Model._onlineclassesStudentList[i].zoomURL','@Model._onlineclassesStudentList[i].id')" data-target="#modal-default">
                            <i class="fa fa-bullhorn"></i>
                            @Model._onlineclassesStudentList[i].onlineClassName <br />
                            @Model._onlineclassesStudentList[i].subjectName<br />
                            (@Model._onlineclassesStudentList[i].OnlineClassStartTime)
                        </button>

                    }
                    else
                    {
                        <button type="button" class="btn btn-app disabled">
                            <i class="fa fa-bullhorn"></i>
                            @Model._onlineclassesStudentList[i].onlineClassName <br />
                            @Model._onlineclassesStudentList[i].subjectName<br />
                            (@Model._onlineclassesStudentList[i].OnlineClassStartTime)
                        </button>
                    }

                </div>
                        count1++;
                    }
                }
            </div>


            @*<table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Name</th>
                            <th>Subject</th>
                            <th>Time</th>
                            <th>Go to Class</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Count > 0)
                        {
                            int count = 1;
                            for (int i = 0; i < Model.Count; i++)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(r => count)
                                        @Html.HiddenFor(r => Model[i].id)
                                    </td>
                                    <td><span> @Html.DisplayFor(r => Model[i].onlineClassName)</span></td>
                                <td><span> @Html.DisplayFor(r => Model[i].subjectName)</span></td>
                                <td><span> @Html.DisplayFor(r => Model[i].OnlineClassStartTime)</span></td>

                                    <td class="text-center">
                                        @if (Model[i].IsclassAvaialbe)
                                        {
                                            @*<a class=".btn.btn-app" href="javascript:void(0)" onclick="Callclass1('@Model[i].zoomURL')" target="_blank">Join Class</a>*
                }

                </td>
                </tr>
                count++;
                }
                }
                </tbody>
                </table>*@
        </div>

        <div class="box box-body">

        </div>
        <div class="box box-footer">

        </div>

    </div>

    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="btnmodelclose" class="close"  data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    @Html.Hidden("zoomurl")
                    @Html.Hidden("classguid")
                    <h4  class="modal-title">Enter Secret code</h4>
                </div>
                <div class="modal-body">
                    @Html.TextBox("scode", "", htmlAttributes: new { @class = "form-control select", @onkeyup = "enableButton();" })
                    <h6 id="error" class="modal-title pull-right" style="color:red"></h6>
                </div>
                <div class="modal-footer">
                    
                    <button type="button" id="btnGotoClass" disabled="disabled" class="btn btn-primary" onclick="joinclass('@Model.secretCode');punchAttendance();">Join Class</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</section>
<script>

    function enableButton() {
        if ($('#scode').val() == '@Model.secretCode') {
            $('#btnGotoClass').prop("disabled", false);
            $('#error').html("");
        }
        //else {
        //    $('#error').html("Invalid secret code....!");
        //}
    }
    
        function punchAttendance() {
            $.ajax({
                type: "GET",
                beforeSend: function () {
                    spinnerShow();
                },
                url: "../OnlineClasses/punchTime",
                data: { classid: $('#classguid').val() },
                error: function (xhr, status, error) {
                    OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
                },
                success: function (result) {
                    
                },
                complete: function () {
                    spinnerHide();
                }
            });
        }


</script>