@model ISas.Entities.Examination_Entities.Examination_ReportCardModels
@{
    int count = 1;
    int rowCount = Model.StudentDetails.Count;
}
<table id="example1" class="table table-responsive table-bordered table-condensed display nowrap" style="width:100%;">
    <thead>
        <tr>
            <th>#</th>
            <th>@Html.CheckBox("selectAllChkBox", false, htmlAttributes: new { onchange = "fun_CheckToSelectAllStudent()" })</th>
            <th>Adm No.</th>
            <th>Roll No</th>
            <th>Student</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.StudentDetails.Count; i++)
        {
            @Html.HiddenFor(r => Model.StudentDetails[i].ERPNo)
            <tr>
                <td>@Html.DisplayFor(r => count)</td>
                <td>@Html.CheckBoxFor(r => Model.StudentDetails[i].Selected, htmlAttributes: new { @class = "chkBoxSelectStud" })</td>
                <td>@Html.DisplayFor(r => Model.StudentDetails[i].AdmNo)</td>
                <td>@Html.DisplayFor(r => Model.StudentDetails[i].RollNo)</td>
                <td>@Html.DisplayFor(r => Model.StudentDetails[i].Student)</td>
                <td style="width:15px;" class="text-center">
                    <button type="submit" onclick="return checkValidation('CURRENT', '@i')" class="btn btn-default"><i class="fa fa-print"></i></button>
                </td>
            </tr>
            count++;
        }
    </tbody>
</table>

<script>
    $(function () {
        var rowcount = '@rowCount';
        if (rowcount > 0) {
            $('#btnPrintSelected').attr('disabled', false);
            $('#btnPrintAll').attr('disabled', false);
        } else {
            $('#btnPrintSelected').attr('disabled', true);
            $('#btnPrintAll').attr('disabled', true);
        }
    });
</script>