@model ISas.Entities.TimeTable_Entities.TimeTable_Adjustment_TransactionModel
<script type="text/javascript" src="../bower_components/newCustomJS/jquery.easyui.min.js"></script>
<style>
    .item {
        text-align: center;
        border: 1px solid #499B33;
    }
</style>

<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h5 class="box-title">Effected Periods</h5>
                <h5 class="box-title pull-right">
                    <input type="button" value="SAVE" class="btn btn-success btn-sm" onclick="DoAjaxPostAndMore(this)" />
                </h5>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12 right">
                        <table class="table table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <th>Period</th>
                                    <th>Subject</th>
                                    <th>Adjustment Teacher</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.EffectedPeriodList.Count; i++)
                                {
                                    <tr>
                                        <td>
                                            @Html.HiddenFor(r => Model.EffectedPeriodList[i].PeriodName)
                                            @Html.HiddenFor(r => Model.EffectedPeriodList[i].PeriodWithTime)

                                            @Html.DisplayFor(r => Model.EffectedPeriodList[i].PeriodWithTime)
                                        </td>
                                        <td>@Html.DisplayFor(r => Model.EffectedPeriodList[i].SubjectName)</td>
                                        <td valueofI="@i" class="drop text-center">
                                            @Html.HiddenFor(r => Model.EffectedPeriodList[i].TeacherId)
                                            <span id="adjustmentTeacherName_@i">@Html.DisplayFor(r => Model.EffectedPeriodList[i].TeacherName) </span>
                                            @if (string.IsNullOrEmpty(Model.EffectedPeriodList[i].TeacherId))
                                            {
                                                <label id="btnRemTeacher_@i" class="text-danger pull-right" style="cursor:pointer;display:none;" title="Remove Teacher" onclick="removeTeacher('@i')"> <i class="fa fa-remove "></i> </label><br />
                                            }
                                            else
                                            {
                                                <label id="btnRemTeacher_@i" class="text-danger pull-right" style="cursor:pointer;" title="Remove Teacher" onclick="removeTeacher('@i')"> <i class="fa fa-remove "></i> </label><br />
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h5 class="box-title">Available Teachers</h5>
            </div>
            <div class="box-body left">
                <table class="table table-bordered table-condensed" id="tblAvailableTeachers">
                    <thead>
                        <tr>
                            <th>Period</th>
                            <th>Teacher</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.AvailableTeacherList.Count; i++)
                        {
                            <tr>
                                <td>@Html.DisplayFor(r => Model.AvailableTeacherList[i].PeriodName)</td>
                                <td><div availableTeacherName="@Model.AvailableTeacherList[i].TeacherName" availableteacherId="@Model.AvailableTeacherList[i].TeacherId" class="item">@Html.DisplayFor(r => Model.AvailableTeacherList[i].TeacherName)</div></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#tblAvailableTeachers').DataTable({
            "pageLength": 25
        });
    })

    $(function () {
        $('.left .item').draggable({
            revert: true,
            proxy: 'clone'
        });
        $('.right td.drop').droppable({
            accept: '.item',
            onDragEnter: function () {
                $(this).addClass('over');
            },
            onDragLeave: function () {
                $(this).removeClass('over');
            },
            onDrop: function (e, source) {
                var teacherId = $(source).attr('availableteacherId');
                var teacherName = $(source).attr('availableTeacherName');
                var i = $(this).attr('valueofI');
                $('#EffectedPeriodList_' + i + '__TeacherId').val(teacherId);
                $('#adjustmentTeacherName_' + i).html(teacherName.replace(/ *\([^)]*\) */g, ""));
                $('#btnRemTeacher_' + i).css('display', '');
            }
        });

        $('.left').droppable({
            accept: '.assigned',
            onDragEnter: function (e, source) {
                $(source).addClass('trash');
            },
            onDragLeave: function (e, source) {
                $(source).removeClass('trash');
            },
            onDrop: function (e, source) {
                $(source).remove();
            }
        });
    });

    function removeTeacher(i) {
        $('#EffectedPeriodList_' + i + '__TeacherId').val(null);
        $('#adjustmentTeacherName_' + i).html('');
        $('#btnRemTeacher_' + i).css('display', 'none');
    }
</script>