@using ISas.Web.Models;
@model ISas.Entities.TimeTable_Entities.TimeTable_Adjustment_FormLoadModel
@{
    int absentTeacherCount = 1;
    int adjustmentTeacherCount = 1;
}

<section class="content-header">
    <h1>Time Table Adjustment</h1>
    <ol class="breadcrumb">
        <li>
            <a href="#" onclick="window.location.reload()" title="Refresh"><i class="fa fa-refresh"></i></a> |
            <a href="javascript: history.go(-1)" title="Back"><i class="fa fa-arrow-left"></i> </a> |
            <a href="@Url.Action("Dashboard", "Dashboard")" title="Dashboard"><i class="fa fa-dashboard"></i></a>
        </li>
        <li>Time Table</li>
        <li class="active">Time Table Adjustment</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h5 class="box-title">
                        Absent Teacher List
                        <label class="">(@Html.DisplayFor(r => Model.AdjustmentDate)) </label>
                    </h5>
                    <h5 class="box-title pull-right">
                        <i title="Print" onclick="PrintAbsentTeachers()" style="cursor:pointer;" class="fa fa-print"></i>
                        <i title="Excel" onclick="exportToExcel('tblPrintAbsentTeacher', 'tblReportHeaderWithoutLogo')" style="cursor:pointer;" class="fa fa-file-excel-o"></i>
                    </h5>
                </div>
                <div class="box-body">
                    <table class="table table-responsive table-bordered table-condensed table-hover" id="tblabsentTeachers">
                        <thead>
                            <tr>
                                <th>S. No.</th>
                                <th>Teacher</th>
                                <th>Effected Period</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.AbsentTeacherList.Count; i++)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(r => absentTeacherCount)</td>
                                    <td>@Html.DisplayFor(r => Model.AbsentTeacherList[i].StaffName)</td>
                                    <td>@Html.DisplayFor(r => Model.AbsentTeacherList[i].NoofPeriod)</td>
                                    <td class="text-center">
                                        @Html.EncodedActionLink(" ", "New", "TimeTable_Adjustment", new { Date = Model.AdjustmentDate, TeacherId = Model.AbsentTeacherList[i].StaffId, TeacherName = Model.AbsentTeacherList[i].StaffName }, htmlAttributes: new { @class = "fa fa-adjust btnDefaultColor", title = "Adjust Periods", style = "margin-right:7%;" })
                                        @*@Html.EncodedActionLink(" ", "New", "TimeTable_Setup", new { }, htmlAttributes: new { @class = "fa fa-calendar btnDefaultColor", title = "Time Table" })*@

                                        <a href="#" onclick="GetStaffTimeTable('@Model.AbsentTeacherList[i].StaffId', '@Model.AbsentTeacherList[i].StaffName')" title="View Time Table" class="glyphicon glyphicon-calendar btnDefaultColor"></a>
                                    </td>
                                </tr>
                                absentTeacherCount++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h5 class="box-title">
                        Adjustment Teacher List
                        <label>(@Html.DisplayFor(r => Model.AdjustmentDate))</label>
                    </h5>
                    <h5 class="box-title pull-right">
                        <i title="Print" onclick="PrintAdjustmentTeachers()" style="cursor:pointer;" class="fa fa-print"></i>
                        <i title="Excel" onclick="exportToExcel('tbladjustmentTeachersPrint', 'tblAdjustmentWithoutLogo')" style="cursor:pointer;" class="fa fa-file-excel-o"></i>
                    </h5>
                </div>
                <div class="box-body">
                    <table class="table table-responsive table-bordered table-condensed table-hover" id="tbladjustmentTeachers">
                        <thead>
                            <tr>
                                <th>S. No.</th>
                                <th>Teacher</th>
                                <th>No of Period Adjusted</th>
                                <th>Adjusted Period</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.AdjustmentTeacherList.Count; i++)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(r => adjustmentTeacherCount)</td>
                                    <td>@Html.DisplayFor(r => Model.AdjustmentTeacherList[i].StaffName)</td>
                                    <td>@Html.DisplayFor(r => Model.AdjustmentTeacherList[i].NoofAdjustPeriod)</td>
                                    <td>@Html.DisplayFor(r => Model.AdjustmentTeacherList[i].AdjustPeriod)</td>
                                    <td class="text-center">
                                        <a href="#" onclick="GetStaffTimeTable('@Model.AdjustmentTeacherList[i].StaffId', '@Model.AdjustmentTeacherList[i].StaffName')" title="View Time Table" class="glyphicon glyphicon-calendar btnDefaultColor"></a>
                                        @*@Html.EncodedActionLink(" ", "New", "TimeTable_Setup", new { }, htmlAttributes: new { @class = "fa fa-calendar btnDefaultColor", title = "Time table after adjustment" })*@
                                    </td>
                                </tr>
                                adjustmentTeacherCount++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>




<style>
    .xport, .btn {
        display: inline;
        text-align: center;
    }

    a {
        text-decoration: none
    }

    #data-table, #data-table th, #data-table td {
        border: 1px solid black
    }
</style>

<div style="display:none;">

    <div id="absentTeacherHeaderMainWithoutLogo">
        @{ Html.RenderAction("_ReportHeaderWithoutLogo", "Common", new { ReportName = "Absent Teachers (" + Model.AdjustmentDate + ")" });}
    </div>

    <div id="absentTeacherHeaderMain">
        @{ Html.RenderAction("_ReportHeader", "Common", new { ReportName = "Absent Teachers (" + Model.AdjustmentDate + ")" });}
    </div>
    <div id="absentTeacherPrintMainDiv">
        <table cellpadding="0" cellspacing="0" style="width:100%;border:1px solid black;text-align:center;" id="tblPrintAbsentTeacher">
            <thead>
                <tr style="border:1px solid black;background-color:#dcce2e;">
                    <th style="border:1px solid black;background-color:#dcce2e;">S. No.</th>
                    <th style="border:1px solid black;background-color:#dcce2e;">Teacher</th>
                    <th style="border:1px solid black;background-color:#dcce2e;">Effected Period</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int tempAbsCount = 1;
                    for (int i = 0; i < Model.AbsentTeacherList.Count; i++)
                    {
                        <tr style="border:1px solid black;">
                            <td style="border:1px solid black;">@Html.DisplayFor(r => tempAbsCount)</td>
                            <td style="border:1px solid black;">@Html.DisplayFor(r => Model.AbsentTeacherList[i].StaffName)</td>
                            <td style="border:1px solid black;">@Html.DisplayFor(r => Model.AbsentTeacherList[i].NoofPeriod)</td>
                        </tr>
                        tempAbsCount++;
                    }
                }
            </tbody>
        </table>
    </div>


    <div id="adjustmentTeacherHeaderMainWithoutLogo">
        <table id="tblAdjustmentWithoutLogo" style="width:100%;">
            <tr>
                <td colspan="2">
                    <h3>
                        BAL VIKAS SCHOOL
                        <br />24 GTB Colony, Model Town, Panipat
                    </h3>
                </td>
            </tr>
            <tr>
                <td colspan="2"> <strong> Report Name : Adjustment Teachers (@Model.AdjustmentDate)</strong></td>
            </tr>
        </table>
    </div>

    <div id="adjustmentTeacherHeaderMain">
        @{ Html.RenderAction("_ReportHeader", "Common", new { ReportName = "Adjustment Teachers (" + Model.AdjustmentDate + ")" });}
    </div>

    <div id="adjustmentTeacherMainDiv">
        <table cellpadding="0" cellspacing="0" style="width:100%;border:1px solid black;text-align:center;" id="tbladjustmentTeachersPrint">
            <thead>
                <tr style="border:1px solid black;background-color:#dcce2e;">
                    <th style="border:1px solid black;background-color:#dcce2e;">S. No.</th>
                    <th style="border:1px solid black;background-color:#dcce2e;">Teacher</th>
                    <th style="border:1px solid black;background-color:#dcce2e;">No of Period Adjusted</th>
                    <th style="border:1px solid black;background-color:#dcce2e;">Adjusted Period</th>
                </tr>
            </thead>
            <tbody>
                @{ int tempAdjustmentTeachercount = 1;
                    for (int i = 0; i < Model.AdjustmentTeacherList.Count; i++)
                    {
                        <tr style="border:1px solid black;">
                            <td style="border:1px solid black;">@Html.DisplayFor(r => tempAdjustmentTeachercount)</td>
                            <td style="border:1px solid black;">@Html.DisplayFor(r => Model.AdjustmentTeacherList[i].StaffName)</td>
                            <td style="border:1px solid black;">@Html.DisplayFor(r => Model.AdjustmentTeacherList[i].NoofAdjustPeriod)</td>
                            <td style="border:1px solid black;">@Html.DisplayFor(r => Model.AdjustmentTeacherList[i].AdjustPeriod)</td>
                        </tr>
                        tempAdjustmentTeachercount++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>



<script>
    function GetStaffTimeTable(StaffId, StaffName) { //, StaffName
        $.ajax({
            type: "GET",
            beforeSend: function () {
                spinnerShow();
            },
            url: "../Staff_StaffDetailMaster/_StaffTimeTable",
            data: { StaffId: StaffId, StaffName: StaffName },
            error: function (xhr, status, error) {
                OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
            },
            success: function (result) {
                OpenModalWithSave(result, 'Time Table For :- ' + StaffName);
            },
            complete: function () {
                spinnerHide();
            }
        });
    }

    function PrintAbsentTeachers() {
        //console.log($('#absentTeacherHeaderMain').html());
        var html = $('#absentTeacherHeaderMain').html();
        html += $('#absentTeacherPrintMainDiv').html();
        var w = window.open();
        $(w.document.body).html(html);
        w.print();
        //w.close();
    }

    function PrintAdjustmentTeachers() {
        //console.log($('#absentTeacherHeaderMain').html());
        var html = $('#adjustmentTeacherHeaderMain').html();
        html += $('#adjustmentTeacherMainDiv').html();
        var w = window.open();
        $(w.document.body).html(html);
        w.print();
        //w.close();
    }
    $(function () {
        $('#tblabsentTeachers').DataTable({
            "pageLength": 50
        });
        $('#tbladjustmentTeachers').DataTable({
            "pageLength": 50
        });
    })
</script>
