@model ISas.Entities.FeesEntities.Fee_OnlineSettlementEntities
@using ISas.Web.Models;
@{
    int rownumber = 1;
}



<div class="box box-success">
    
    <div class="box-body">
        @Html.HiddenFor(r => Model.dateRange)
        <div class="row">
            <fieldset>
                <div class="col-md-1 pull-right">
                    <button class="btn btn-warning" disabled="disabled" id="savebutton" type="submit">Upload</button>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 pull-right">
                    <div class="form-group ">
                        <label for="SettlementInputFile">Upload Settlement File</label>
                        <input class="upload" type="file" id="SettlementInputFile" name="SettlementInputFile" accept=".xlsx,.xls,.csv">
                        <p class="help-block"> Formats allowed: Excel file Only</p>
                        @Html.ValidationMessage("filePath", null, htmlAttributes: new { style = "color:red;" })
                    </div>
                </div>
            </fieldset>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">

                <table class="table table-condensed table-hover table-responsive table-bordered" id="tblOnlineSettlementList">
                    <thead>
                        <tr style="text-align:center">
                            <th>@Html.CheckBox("chkBoxSelectAll", false, htmlAttributes: new { onchange = "fun_chekcToSelectAllRecord()" })</th>
                            <th>Sno</th>
                            <th>Student</th>
                            <th>Father</th>
                            <th>Class</th>
                            <th>Receipt No</th>
                            <th>Receipt Date</th>
                            <th>Amount</th>
                            <th>Reference No</th>
                            <th>Settlement Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.onlineSettlementList != null && Model.onlineSettlementList.Count > 0)
                        {

                            for (int i = 0; i < Model.onlineSettlementList.Count; i++)
                            {
                                rownumber = rownumber + i;
                                <tr style="text-align:center">

                                    @Html.HiddenFor(r => Model.onlineSettlementList[i].AdmNo)
                                    @Html.HiddenFor(r => Model.onlineSettlementList[i].ERPNo)
                                    <td>@Html.CheckBoxFor(r => Model.onlineSettlementList[i].isSettled, htmlAttributes: new { @class = "minimal" })</td>
                                    <td>@rownumber</td>

                                    <td>
                                        @Html.HiddenFor(r => Model.onlineSettlementList[i].Student)
                                        @Html.DisplayFor(r => Model.onlineSettlementList[i].Student)
                                    </td>

                                    <td>
                                        @Html.HiddenFor(r => Model.onlineSettlementList[i].Father)
                                        @Html.DisplayFor(r => Model.onlineSettlementList[i].Father)
                                    </td>

                                    <td>
                                        @Html.HiddenFor(r => Model.onlineSettlementList[i].Class)
                                        @Html.DisplayFor(r => Model.onlineSettlementList[i].Class)
                                    </td>
                                    <td>
                                        @Html.HiddenFor(r => Model.onlineSettlementList[i].TransRefNo)
                                        @Html.DisplayFor(r => Model.onlineSettlementList[i].TransRefNo)
                                    </td>
                                    <td>
                                        @Html.HiddenFor(r => Model.onlineSettlementList[i].Transdate)
                                        @Html.DisplayFor(r => Model.onlineSettlementList[i].Transdate)
                                    </td>
                                    <td>
                                        @Html.HiddenFor(r => Model.onlineSettlementList[i].recamount)
                                        @Html.DisplayFor(r => Model.onlineSettlementList[i].recamount)
                                    </td>

                                    <td>
                                        @Html.HiddenFor(r => Model.onlineSettlementList[i].TransReferenceNo)
                                        @Html.DisplayFor(r => Model.onlineSettlementList[i].TransReferenceNo)
                                    </td>

                                    <td>@Html.TextBoxFor(r => Model.onlineSettlementList[i].settlementDate, htmlAttributes: new { @class = "form-control", @readonly = true, tabindex = "-1" })</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

            </div>
        </div>

        <div class="row">

        </div>
    </div>
</div>
<script>
    
     $("#SettlementInputFile").change(function () {
         var rowCount = $('#tblOnlineSettlementList tr').length;
         if (this.files.length > 0 && rowCount>1) {
             $('#savebutton').prop('disabled', false)
         }
         else {
             $('#savebutton').prop('disabled', true)
         }
    });


</script>