@model ISas.Web.ViewModels.Exam_ReportCardViewModel


<div class="col-xs-12">


    <div class="table-responsive searchtable table_ev_od" style="min-height:400px;">

        <table cellspacing="0" cellpadding="0" border="0" class="table table-bordered table-responsive" id="MarkTable">
            <thead>
                <tr>
                    <th>@Html.CheckBox("chkBoxSelectAll", htmlAttributes: new { @class = "", onchange = "Fun_CheckToSelectAllChkBox()" })</th>
                    <th>Adm No.</th>
                    <th>Roll No.</th>
                    <th>Student Name</th>
                    @*<th>Download</th>*@
                </tr>
            </thead>
            <tbody>
                @if (Model.ClassStudentsList.Count > 0)
                {
                    for (int i = 0; i < Model.ClassStudentsList.Count; i++)
                    {
                        <tr class="abc" id="@i">
                            <td style="width:40px;">@Html.CheckBoxFor(r => Model.ClassStudentsList[i].Select, htmlAttributes: new { @class = "chkBoxstudent" })</td>
                            <td>
                                @Html.HiddenFor(r => Model.ClassStudentsList[i].ERPNo)
                                @Model.ClassStudentsList[i].AdmNo
                            </td>
                            <td> @Model.ClassStudentsList[i].RollNo </td>
                            <td> @Model.ClassStudentsList[i].Student </td>
                            @*<td class="text-center">
                                @Html.ActionLink(" ", "Processing_Student", "Exam_Processing", new { sessionId = Model.SelectedSessionId, classId = Model.SelectedClassId, sectionId = Model.SelectedSectionId, examId = Model.SelectedExamId, erpno = Model.ClassStudentsList[i].ERPNo, studentname = Model.ClassStudentsList[i].Student }, htmlAttributes: new { @class = "fa fa-download btnDefaultColor", title = "Download" })
                                <button class="btn btn-success" id="@i" type="button" onclick="Process(this)">Process</button>
                            </td>*@
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>
<script>
    function Process() {

        var i = $(this).closest('tr').attr('id');
        $.ajax({
            type: 'POST',
            url: '../Exam_Processing/Processing_Student',
            beforeSend: function () {
                spinnerShow();
            },
            error: function (xhr, status, error) {
                OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
            },
            data: { sessionId: '@Model.SelectedSessionId', classId: '@Model.SelectedClassId', sectionId: '@Model.SelectedSectionId', examId: '@Model.SelectedExamId', erpno: $('#ClassStudentsList' + i + '__ERPNo').val()},
            success: function (response) {
                if (response.status == 'success') {
                    OpenMessegeAutoHideDiv(response.Msg, 'Success');
                }
                else if (response.status == 'failed') {
                    OpenMessegeAutoHideDiv(response.Msg, 'Warning');
                }
            },
            complete: function () {
                spinnerHide();
            }
        })
    }


</script>

