@model ISas.Entities.StaffEntities.Staff_AttendanceReportsModels
@{
    List<SelectListItem> statusList = new List<SelectListItem>();
    statusList.Add(new SelectListItem { Text = "Active", Value = "False", Selected = true });
    statusList.Add(new SelectListItem { Text = "In-Active", Value = "True" });
}

<script src="~/bower_components/datatables.net/js/dataTables.buttons.min.js"></script>
<script src="~/bower_components/datatables.net/js/buttons.flash.min.js"></script>
<script src="~/bower_components/datatables.net/js/jszip.min.js"></script>
<script src="~/bower_components/datatables.net/js/buttons.print.min.js"></script>
<script src="~/bower_components/datatables.net/js/pdfmake.min.js"></script>
<script src="~/bower_components/datatables.net/js/vfs_fonts.js"></script>
<script src="~/bower_components/datatables.net/js/buttons.html5.min.js"></script>
<script src="~/bower_components/datatables.net/js/buttons.colVis.min.js"></script>
<script src="~/bower_components/datatables.net/js/dataTables.select.min.js"></script>
<link rel="stylesheet" href="~/bower_components/datatables.net/css/buttons.dataTables.min.css">

<section class="content-header">
    <h1>Staff Reports</h1>
    <ol class="breadcrumb">
        <li>
            <a href="javascript: history.go(-1)" title="Back"><i class="fa fa-arrow-left"></i> </a> |
            <a href="#" onclick="window.location.reload()" title="Refresh"><i class="fa fa-refresh"></i></a> |
            <a href="@Url.Action("Dashboard", "Dashboard")" title="Dashboard"><i class="fa fa-dashboard"></i></a>
        </li>
        <li>Staff</li>
        <li>Reports</li>
    </ol>
</section>
<section class="content">
    @Html.HiddenFor(r => Model.SelectedDepartmentNames)
    <div class="box box-primary">
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-2">
                    <div class="form-group">
                        <label for="">@Html.LabelFor(r => Model.FromDate)</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            @Html.TextBoxFor(m => m.FromDate, htmlAttributes: new { @class = "form-control pull-right date" })
                            @Html.ValidationMessageFor(r => Model.FromDate, null, htmlAttributes: new { style = "color:red;" })
                        </div>
                        <!-- /.input group -->
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2">
                    <div class="form-group">
                        <label for="">@Html.LabelFor(r => Model.ToDate)</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            @Html.TextBoxFor(m => m.ToDate, htmlAttributes: new { @class = "form-control pull-right date" })
                            @Html.ValidationMessageFor(r => Model.ToDate, null, htmlAttributes: new { style = "color:red;" })
                        </div>
                        <!-- /.input group -->
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="">@Html.LabelFor(r => Model.ReportName)</label>
                        <div class="select">
                            @Html.DropDownListFor(m => m.ReportName, new SelectList(Model.ReportNameList, "Value", "Text"), htmlAttributes: new { @class = "form-control select2", style = "width:100%;" })
                            @Html.ValidationMessageFor(r => Model.ReportName, null, htmlAttributes: new { style = "color:red;" })
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-1">
                    <div class="form-group">
                        <br />
                        <div class="select">
                            <h5>
                                <button type="button" class="btn btn-success" onclick="getStaffDetailReport()">
                                    <i class="fa fa-search"></i>
                                </button>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2">
                    <div class="form-group">
                        <label for="">@Html.LabelFor(r => Model.Status)</label>
                        <div class="select">
                            @Html.DropDownListFor(m => m.Status, new SelectList(statusList, "Value", "Text"), htmlAttributes: new { @class = "form-control select2", style = "width:100%;" })
                            @Html.ValidationMessageFor(r => Model.Status, null, htmlAttributes: new { style = "color:red;" })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2">
                    <div class="form-group">
                        <label for="">Report Type </label>
                        <div class="radio">
                            <label>@Html.RadioButtonFor(r => r.ReportType, "Detail", htmlAttributes: new { }) Detail</label>
                            <label>@Html.RadioButtonFor(r => r.ReportType, "Statical", htmlAttributes: new { }) Statical</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <div class="radio">
                            <label>@Html.RadioButtonFor(r => Model.ReportFilterBy, "DEPT", htmlAttributes: new { }) Department Wise </label>
                        </div>
                        <div class="select">
                            @Html.DropDownListFor(m => m.DepartmentId, new SelectList(Model.DepartmentList, "Value", "Text"), htmlAttributes: new { @class = "form-control multiselectdropdown", multiple = true, style = "width:100%;" })
                            @Html.ValidationMessageFor(r => Model.DepartmentId, null, htmlAttributes: new { style = "color:red;" })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <div class="radio">
                            <label>@Html.RadioButtonFor(r => Model.ReportFilterBy, "STAFF", htmlAttributes: new { }) Staff Wise </label>
                        </div>
                        <div class="select">
                            @Html.DropDownListFor(m => m.SelectedStaffIds, new SelectList(Model.StaffList, "Value", "Text"), htmlAttributes: new { @class = "form-control  multiselectdropdown", multiple = true, style = "width:100%;" })
                            @Html.ValidationMessageFor(r => Model.SelectedStaffIds, null, htmlAttributes: new { style = "color:red;" })
                        </div>
                    </div>
                </div>

                @*<div class="col-md-4">
                        &nbsp;
                    </div>
                    <div class="col-md-2">
                        <br /><br />
                        <a href="#" onclick="exportToExcel('tblStudentDetail')" title="Export to Excel" class="fa fa-file-excel-o btnDefaultColor pull-right"></a>
                        <a href="#" onclick="getStaffDetailReport_Print()" title="Print" class="fa fa-print btnDefaultColor  pull-right"></a>
                    </div>*@
            </div>
            @*<div class="row">
                    <div class="col-md-12">
                        <span class="pull-right"> Record Count : <small id="recordCount" class="text-primary" style="font-weight:800">0</small> </span>
                    </div>
                </div>*@
            <hr />
            <div class="row">
                <div class="col-md-12" style="width:100%;overflow-y:auto;">
                    <div id="staffReportMainDiv"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function SelectDepartmentStaffs() {
        $('.chkBoxClassSection').prop('checked', false);
        if ($('#DepartmentId').val() != null && $('#WingId').val() != '') {
            $('.' + $('#DepartmentId').val()).prop('checked', true);
        }
        SetClassSectionValue();
    }

    //function getStaffDetailReport_Print() {
    //    var html = $('#tblPrintHeader').html();
    //    html += $('#staffReportSubDiv').html();
    //    var w = window.open();
    //    $(w.document.body).html(html);
    //    w.print();
    //    //w.close();
    //}


    function getStaffDetailReport() {
        var staffIDs = ""; //$('#SelectedStaffIds').val();
        var reportFilterBy = $("input[name='ReportFilterBy']:checked").val();

        if (reportFilterBy == "STAFF") {
            staffIDs = $('#SelectedStaffIds').val();
            if (staffIDs == null || staffIDs == "") {
                OpenMessegeAutoHideDiv('No staff selected..!', 'Info');
            }
        } else {
            staffIDs = $('#DepartmentId').val();
            if (staffIDs == null || staffIDs == "") {
                OpenMessegeAutoHideDiv('No Department selected..!', 'Info');
            }
        }
        $.ajax({
            type: "POST",
            beforeSend: function () {
                spinnerShow();
            },
            url: "../Staff_AttendanceReports/_Staff_AttendanceReports",
            data: {
                StaffIds: staffIDs.toString(), Reporttype: $("input[name='ReportType']:checked").val(), InActive: $('#Status').val(),
                OrderBy: "Name", ReportName: $('#ReportName').val(),
                SelectedReportName: $('#ReportName option:selected').text(),
                ReportFilterBy: reportFilterBy, FromDate: $('#FromDate').val(), ToDate: $('#ToDate').val()
            },
            error: function (xhr, status, error) {
                OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
            },
            success: function (result) {
                $('#staffReportMainDiv').html(result);
            },
            complete: function () {
                spinnerHide();
            }
        });
    }
</script>