@model ISas.Web.ViewModels.PTMAttendanceViewModel
@{
    ViewBag.Title = "PTMAttendance";
}
<section class="content-header">
    <h1>
        PTM Attendance
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="javascript: history.go(-1)" title="Back"><i class="fa fa-arrow-left"></i> </a> |
            <a href="#" onclick="window.location.reload()" title="Refresh"><i class="fa fa-refresh"></i></a> |
            <a href="@Url.Action("Dashboard", "Dashboard")" title="Dashboard"><i class="fa fa-dashboard"></i></a>
        </li>
        <li>Student Attendance</li>
        <li class="active">PTM Attendance</li>
    </ol>
</section>


<section class="content">
    <div class="box box-success">
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="">Session</label>
                        <div class="select">
                            @Html.HiddenFor(r=> Model.SelectedSessionId)
                            @Html.DropDownListFor(m => m.SelectedSessionId, Model.SessionList, new { @class = "form-control select2", style = "width:100%;", disabled = "disabled" })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="">Class</label>
                        <div class="select">
                            @Html.DropDownListFor(m => m.SelectedClassId, Model.ClassList, "-- Select Class --", new { @class = "form-control select2", style = "width:100%;", dataChangeUrl = Url.Action("GetSectionsForClass") })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="">Section</label>
                        <div class="select">
                            @Html.DropDownListFor(m => m.SelectedSectionId, Model.SectionList, new { @class = "form-control select2", style = "width:100%;", dataChangeUrl = Url.Action("GetAttendanceType") })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="">Attendance Type</label>
                        <div class="select">
                            @Html.DropDownListFor(m => m.SelectedPtmCategoryId, Model.PTMCategoryList, new { @class = "form-control select2", style = "width:100%;", dataChangeUrl = Url.Action("GetPTMDatesList") })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="">Date</label>
                        <div class="select">
                            @Html.DropDownListFor(m => m.SelectedPtmDate, Model.PTMDateList, new { @class = "form-control select2", style = "width:100%;", dataChangeUrl = Url.Action("GetPTMAttandaceList") })
                        </div>
                    </div>
                </div>
                <div id="divAttendanceList">
                    @Html.Partial("_StudentPTMAttendanceListPartial", Model)
                </div>
            </div>
        </div>
        <div class="box-footer">
            <button class="btn btn-success" id="savebutton" type="submit">SAVE</button>
        </div>
    </div>
</section>

<script type="text/javascript">
        $(document).ready(function () {
            $(document).on('change', "#SelectedClassId", function () {
                $.ajax({
                    url: $('#SelectedClassId').attr('dataChangeUrl'),
                    data: { classId: $('#SelectedClassId').val() },
                    type: 'get',
                    success: (function (data) {
                        var $ddlSec = $('#SelectedSectionId');
                        $ddlSec.empty();
                        $ddlSec.append($("<option />").text("--- Select Section ---"));
                        $.each(data, function () {
                            $ddlSec.append($("<option />").val(this.SecId).text(this.SecName));
                        })
                    }),
                    fail: (function (error) {
                        OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
                    }),
                });
            });
            $(document).on('change', "#SelectedSectionId", function () {
                $.ajax({
                    url: $('#SelectedSectionId').attr('dataChangeUrl'),
                    data: {},
                    type: 'get',
                    success: (function (data) {
                        var $ddlSec = $('#SelectedPtmCategoryId');
                        $ddlSec.empty();
                        $ddlSec.append($("<option />").text("--- Select Attendance Type ---"));
                        $.each(data, function () {
                            $ddlSec.append($("<option />").val(this.Category).text(this.Category));
                        })
                    }),
                    fail : (function (error) {
                        OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
                    }),
                })
            });
            $(document).on('change', "#SelectedPtmCategoryId", function () {
                $.ajax({
                    url: $('#SelectedPtmCategoryId').attr('dataChangeUrl'),
                    data: { sessionId: $('#SelectedSessionId').val(), classId: $('#SelectedClassId').val(), categoryId: $('#SelectedPtmCategoryId').val() },
                    type: 'get',
                    success: (function (data) {
                        var $ddlSec = $('#SelectedPtmDate');
                        $ddlSec.empty();
                        $ddlSec.append($("<option />").text("--- Select Date ---"));
                        $.each(data, function () {
                            $ddlSec.append($("<option />").val(this.PTMDate).text(this.PTMDate));
                        })
                    }),
                    fail: (function (error) {
                        OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
                    }),
                })
            });
            $(document).on('change', "#SelectedPtmDate", function () {
                    $.ajax({
                    url: $('#SelectedPtmDate').attr('dataChangeUrl'),
                    data: { sessionId: $('#SelectedSessionId').val(), classId: $('#SelectedClassId').val(), sectionId: $('#SelectedSectionId').val(), attdate: $('#SelectedPtmDate').val() },
                    type: 'get',
                    success: (function (data) {
                        $('#divAttendanceList').empty();
                        $('#divAttendanceList').html(data);
                    }),
                    fail : (function (error) {
                        OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
                    })
                })
            });
            $('#savebutton').click(function () {
                var myTableArray = [];

                $('#AttendanceTable tr:not(:first)').each(function () {
                    var tds = $(this).find('td');
                    var myDets = { studentERPNo: $(tds[0]).html(), Student: $(tds[6]).text(), Father: $(tds[7]).text(), Mother: $(tds[8]).text() }
                    myTableArray.push(myDets);
                });

                console.log(myTableArray);

                $.ajax({
                    type: 'POST',
                    beforeSend: function () {
                        spinnerShow();
                    },
                    url: '@Url.Action("SaveClasstPTMAttendance", "PTMAttendance")',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(
                        { attDate: $('#SelectedPtmDate').val(), ClassPTMAttendanceList: myTableArray, sessionId: $('#SelectedSessionId').val() }),
                    success: function (result) {
                        OpenMessegeAutoHideDiv(result.Msg, result.Color  );
                    },
                    error: function () {
                        OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
                    },
                    complete: function () {
                        spinnerHide();
                    }
                });

            });
        });
</script>


