@model ISas.Entities.Exam_MarksVerificationModels

<script src="~/bower_components/datatables.net/js/dataTables.buttons.min.js"></script>
<script src="~/bower_components/datatables.net/js/buttons.flash.min.js"></script>
<script src="~/bower_components/datatables.net/js/jszip.min.js"></script>
<script src="~/bower_components/datatables.net/js/buttons.print.min.js"></script>
<script src="~/bower_components/datatables.net/js/pdfmake.min.js"></script>
<script src="~/bower_components/datatables.net/js/vfs_fonts.js"></script>
<script src="~/bower_components/datatables.net/js/buttons.html5.min.js"></script>
<script src="~/bower_components/datatables.net/js/buttons.colVis.min.js"></script>
<script src="~/bower_components/datatables.net/js/dataTables.select.min.js"></script>
<link rel="stylesheet" href="~/bower_components/datatables.net/css/buttons.dataTables.min.css">

<section class="content-header">
    <h1>
        Marks  Verification
        <small>(I to V)</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#" onclick="window.location.reload()" title="Refresh"><i class="fa fa-refresh"></i></a> |
            <a href="javascript: history.go(-1)" title="Back"><i class="fa fa-arrow-left"></i> </a> |
            <a href="@Url.Action("Dashboard", "Dashboard")" title="Dashboard"><i class="fa fa-dashboard"></i></a>
        </li>
        <li>CCE Exam Module</li>
        <li class="active">Marks  Verification</li>
    </ol>
</section>

<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <span class="pull-right box-title">
                <input onclick="window.open('StudentWiseMarksDetailsVerification_Print', 'Exam_MarksVerification', 'width=650,height=800').print()" type="button" class="btn btn-success btn-xs" value="Print" />
            </span>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="">@Html.LabelFor(r => Model.SessionId)</label>
                        @Html.HiddenFor(r=> Model.SessionId)
                        @Html.DropDownListFor(m => m.SessionId, Model.SessionList, new { @class = "form-control select2", style = "width:100%;", id = "SessionId", disabled = "disabled" })
                        @Html.ValidationMessageFor(r => r.SessionId, null, htmlAttributes: new { style = "color:red;" })
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="">@Html.LabelFor(r => Model.ExamId)</label>
                        @Html.DropDownListFor(m => m.ExamId, Model.ExamList, "-- Select Exam --", new { @class = "form-control select2", style = "width:100%;", onchange = "getClassList()" })
                        @Html.ValidationMessageFor(r => r.ExamId, null, htmlAttributes: new { style = "color:red;" })
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="">@Html.LabelFor(r => Model.ClassId)</label>
                        @Html.DropDownListFor(m => m.ClassId, new SelectList(string.Empty, "", ""), new { @class = "form-control select2", style = "width:100%;", onchange = "getSectionList()" })
                        @Html.ValidationMessageFor(r => r.ClassId, null, htmlAttributes: new { style = "color:red;" })
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="">@Html.LabelFor(r => Model.SectionId)</label>
                        @Html.DropDownListFor(m => m.SectionId, new SelectList(string.Empty, "", ""), new { @class = "form-control select2", style = "width:100%;", onchange = "getSubjectList()" })
                        @Html.ValidationMessageFor(r => r.SectionId, null, htmlAttributes: new { style = "color:red;" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                        <label for="">@Html.LabelFor(r => Model.SubjectId)</label>
                        @Html.DropDownListFor(m => m.SubjectId, new SelectList(string.Empty, "", ""), new { @class = "form-control select2", style = "width:100%;" })
                        @Html.ValidationMessageFor(r => r.SubjectId, null, htmlAttributes: new { style = "color:red;" })
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="">@Html.LabelFor(r => Model.ErpNo_Id)</label>
                        @Html.DropDownListFor(m => m.ErpNo_Id, new SelectList(string.Empty, "", ""), new { @class = "form-control select2", style = "width:100%;", onchange = "getStudentWiseMarksList()" })
                        @Html.ValidationMessageFor(r => r.ErpNo_Id, null, htmlAttributes: new { style = "color:red;" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="divMarkList">
                        &nbsp;
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<script type="text/javascript">
    function getClassList() {
        $.ajax({
            url: '../Exam/BindClassddlForReportCard',
            data: { examId: $('#ExamId').val() },
            type: 'get',
            success: function (data) {
                var $ddlClass = $('#ClassId');
                $ddlClass.empty();
                $('#SectionId').empty();
                $('#SubjectId').empty();
                $('#ErpNo_Id').empty();
                $ddlClass.append($("<option />").text("--- Select Class ---"));
                $.each(data, function () {
                    $ddlClass.append($("<option />").val(this.ClassId).text(this.ClassName));
                });
            },
        })
    }

    function getSectionList() {
        $.ajax({
            url: '../Exam/BindSectionddl',
            data: { classId: $('#ClassId').val(), examId: $('#ExamId').val() },
            type: 'get',
            success: (function (data) {
                var $ddlSec = $('#SectionId');
                $ddlSec.empty();
                $('#SubjectId').empty();
                $('#ErpNo_Id').empty();
                $ddlSec.append($("<option />").text("--- Select Section ---"));
                $.each(data, function () {
                    $ddlSec.append($("<option />").val(this.SectionId).text(this.SectionName));
                })
            })
        });
    }

    function getSubjectList() {
        $.ajax({
            url: '../MarksEntryStudentWise/BindSubjectddl',
            beforeSend: function () {
                spinnerShow();
            },
            data: { classId: $('#ClassId').val(), sectionId: $('#SectionId').val(), examId: $('#ExamId').val() },
            type: 'get',
            error: function (xhr, status, error) {
                OpenMessegeModal($('#ErrorMsgOnJasonFailed').val());
            },
            success: (function (data) {
                var $ddlSubject = $('#SubjectId');
                $ddlSubject.empty();
                $('#ErpNo_Id').empty();
                $ddlSubject.append($("<option />").text("--- Select Subject ---"));
                $.each(data.subejctList, function () {
                    $ddlSubject.append($("<option />").val(this.Value).text(this.Text));
                })


                var $ddlStudent = $('#ErpNo_Id');
                $ddlStudent.empty();
                $ddlStudent.append($("<option />").text("--- Select Student ---"));
                $.each(data.studentList, function () {
                    $ddlStudent.append($("<option />").val(this.Value).text(this.Text));
                })
            }),
            complete: function () {
                spinnerHide();
            }
        })
    }


    function getStudentWiseMarksList() {
        if ($('#SubjectId').val() > 0 || $('#ErpNo_Id').val() > 0) {
            $.ajax({
                url: '../Exam_MarksVerification/_getStudentWiseMarksDetails',
                beforeSend: function () {
                    spinnerShow();
                },
                data: {
                    sessionid: $('#SessionId').val(), classid: $('#ClassId').val(),
                    sectionid: $('#SectionId').val(), erpno: $('#ErpNo_Id').val(), examid: $('#ExamId').val(),
                    mainsubjectid: $('#SubjectId').val(),


                    TermName: $('#ExamId option:selected').text(),
                    ClassName: $('#ClassId option:selected').text(),
                    SectionName: $('#SectionId option:selected').text(),
                    SubjectName: $('#SubjectId option:selected').text(),
                    StudentName: $('#ErpNo_Id option:selected').text(),
                },
                type: 'get',
                success: (function (data) {
                    $('#divMarkList').empty();
                    $('#divMarkList').html(data);
                }),
                complete: function () {
                    spinnerHide();
                }
            })
        } else {
            OpenMessegeModal('Either Student or Subject must be selected..!', 'Warning');
            $('#divMarkList').empty();
        }
    }
</script>