@model ISas.Entities.Exam_MarksVerificationModels
@{ 
    Layout = "~/Views/Shared/_LayoutPrint.cshtml";
}
@if (Model != null)
{
    <div>
        <h4>
            School Name :- Bal Vikas School, Panipat <br />
            Date        :- @DateTime.Now <br />
            Report Name :- Marks Verification For (@Html.DisplayFor(r => Model.ClassName)-@Html.DisplayFor(r => Model.SectionName), @Html.DisplayFor(r => Model.SubjectName), @Html.DisplayFor(r => Model.StudentName))
        </h4>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                @for (int i = 0; i < Model.HeaderNameList.Count; i++)
                {
                    <th>@Html.DisplayFor(r => Model.HeaderNameList[i])</th>
                }
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.ValueList.Count; i++)
            {
                <tr>
                    @for (int j = 0; j < Model.ValueList[i].Count; j++)
                    {
                        <td>@Html.DisplayFor(r => Model.ValueList[i][j])</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}