@using ISas.Web.Models;
@model List<ISas.Entities.Academic.Academic_HomeWorkMasterModels>
@{
    string reportName = "Activity Report";
}
<script src="~/bower_components/datatables.net/js/dataTables.buttons.min.js"></script>
<script src="~/bower_components/datatables.net/js/buttons.flash.min.js"></script>
<script src="~/bower_components/datatables.net/js/jszip.min.js"></script>
<script src="~/bower_components/datatables.net/js/buttons.print.min.js"></script>
<script src="~/bower_components/datatables.net/js/pdfmake.min.js"></script>
<script src="~/bower_components/datatables.net/js/vfs_fonts.js"></script>
<script src="~/bower_components/datatables.net/js/buttons.html5.min.js"></script>
<script src="~/bower_components/datatables.net/js/buttons.colVis.min.js"></script>
@*<script src="~/bower_components/datatables.net/js/dataTables.select.min.js"></script>*@
<link rel="stylesheet" href="~/bower_components/datatables.net/css/buttons.dataTables.min.css">

<section class="content-header">
    <h1>Activities</h1>
    <ol class="breadcrumb">
        <li>
            <a href="javascript: history.go(-1)" title="Back"><i class="fa fa-arrow-left"></i> </a> |
            <a href="#" onclick="window.location.reload()" title="Refresh"><i class="fa fa-refresh"></i></a> |
            <a href="@Url.Action("Dashboard", "Dashboard")" title="Dashboard"><i class="fa fa-dashboard"></i></a>
        </li>
        <li>School</li>
        <li class="active">Activity</li>
    </ol>
</section>
<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            @*<h5 class="box-title">Class Notes/Assignments</h5>*@
            <div class="pull-right">
                @Html.ActionLink("ADD NEW", "New", "Academic_ActivityMaster", new { }, htmlAttributes: new { @class = "btn btn-primary btn-sm" })
            </div>
        </div>
        <div class="box-body" style="overflow-y:scroll;">
            <table id="example1" class="table table-responsive table-bordered table-condensed display" style="width:100%;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Subject</th>
                        <th>Class</th>
                        <th>Date</th>
                        <th>Created By</th>
                        <th>Uploaded By</th>
                        <th>Submission Date</th>
                        @*<th>Category</th>*@
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int count = 1;
                        for (int i = 0; i < Model.Count(); i++)
                        {
                                        <tr>
                                            <td>@Html.DisplayFor(r => count)</td>
                                            <td>@Html.DisplayFor(r => Model[i].Title)</td>
                                            <td>@Html.DisplayFor(r => Model[i].SubjectName)</td>
                                            <td>@Html.DisplayFor(r => Model[i].ClassName)</td>
                                            <td>@Html.DisplayFor(r => Model[i].UploadDate)</td>
                                            <td>@Html.DisplayFor(r => Model[i].CreatedBy)</td>
                                            <td>@Html.DisplayFor(r => Model[i].UploadedBy)</td>
                                            <td>@Html.DisplayFor(r => Model[i].SubmissionDate)</td>
                                            @*<td>@Html.DisplayFor(r => Model[i].CategoryId)</td>*@
                                            <td class="text-center">
                                                @Html.EncodedActionLink(" ", "Update", "Academic_ActivityMaster", new { HomeWorkId = Model[i].HomeWorkId }, htmlAttributes: new { @class = "fa fa-edit btnDefaultColor", title = "Edit Activity" })

                                                <a href="#" onclick="DeleteHomeWorkConfirm('@Model[i].HomeWorkId')" title="Delete Activity" class="fa fa-trash btnDefaultColor"></a>

                                                @if (!string.IsNullOrEmpty(Model[i].textEditorPDFFilePath))
                                                {
                                                    <a title="Click here to download generated pdf" class="text-sm btnDefaultColor" href="~/@Model[i].textEditorPDFFilePath" download="@Model[i].textEditorPDFFilePath"><i class="fa fa-file-pdf-o"></i></a>
                                                }
                                                @Html.EncodedActionLink(" ", "ResponseList", "Academic_ActivityMaster", new { homeworkid = Model[i].HomeWorkId, responselistname = "Title: " + Model[i].Title + "; Class: " + Model[i].ClassName + "; Subject: " + Model[i].SubjectName }, htmlAttributes: new { @class = "fa fa-sign-out btnDefaultColor", title = "Student Response", target = "_blank" })
                                            </td>
                                        </tr>
                            count++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

<script>
    var msg = '@ViewBag.Msg';
    var color = '@ViewBag.Color';
    if (msg != null && msg != '') {
        OpenMessegeAutoHideDiv(msg, color);
    }

    function DeleteHomeWorkConfirm(Homeworkid) {
        AsyncConfirmYesNo("Confirmation", "Are you sure to delete this homework?", MyYesFunction, MyNoFunction, Homeworkid);
    }
    function MyNoFunction() {
        //alert('No Calling');
    }
    function MyYesFunction(HomeWorkId) {
        $.ajax({
            type: "GET",
            beforeSend: function () {
                spinnerShow();
            },
            url: "../Academic_ActivityMaster/HomeWork_Delete",
            data: { HomeWorkId: HomeWorkId },
            error: function (xhr, status, error) {
                OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
            },
            success: function (result) {
                OpenMessegeAutoHideDiv(result.Msg, result.Color);
                setTimeout(function () { window.location = "../Academic_ActivityMaster/LandingPage"; }, $('#hddnReloadTime').val());
            },
            complete: function () {
                spinnerHide();
            }
        });
    }
     $(document).ready(function () {
        $('#example1').DataTable({
            "pageLength": 100,
            dom: 'Bfrtip',
            buttons: [
                
                {
                    extend: 'excelHtml5',
                    text: '<i class="fa fa-file-excel-o"></i>',
                    titleAttr: 'Excel',
                    title: '@reportName',
                    exportOptions: {
                        columns: ':visible'
                    },
                    customize: function (xlsx) {
                        console.log(xlsx);

                    }
                },
                
                'colvis'
            ],
            select: true
        });
    });
</script>