@using ISas.Web.Models;
@model List<ISas.Entities.FeesEntities.Fee_DueSummery>
@{
    string structId = ""; string structName = "";
    if (Model != null && Model.Count > 0)
    {
        structId = Model[0].StructId;
        structName = Model[0].StructName;
    }
}

<table id="example1" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>S. No</th>
            <th>Class</th>
            <th>Amount</th>
            <th>Strength</th>
            <th>Applied</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            int count = 1;
            for (int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td>@Html.DisplayFor(r => count)</td>
                    <td>
                        @Html.DisplayFor(r => Model[i].Class)
                    </td>
                    <td>@Html.DisplayFor(r => Model[i].Amount)</td>
                    <td>@Html.DisplayFor(r => Model[i].Strength)</td>
                    <td>@Html.DisplayFor(r => Model[i].AppliedStuent)</td>

                    <td class="text-center">
                        @if (Model[i].IsEditable)
                        {
                            @Html.ActionLink(" ", "New", "Fee_DueSetup", new { StructId = structId, StructName = structName, ClassId = Model[i].ClassId, SectionId = Model[i].SectionId }, htmlAttributes: new { @class = "fa fa-edit btnDefaultColor" })
                        }
                        else
                        {
                            @Html.ActionLink(" ", "New", "Fee_DueSetup", new { }, htmlAttributes: new { @class = "fa fa-edit btnDefaultColorFaded"})
                        }

                        @if (Model[i].CreateInvoice)
                        {
                            @Html.ActionLink(" ", "InvoiceCreation", "Fee_InvoiceCreation", new { ClassId = Model[i].ClassId, SectionId = Model[i].SectionId }, htmlAttributes: new { @class = "fa fa-plus-square btnDefaultColor" })
                        }
                        else
                        {
                            @Html.ActionLink(" ", "InvoiceCreation", "Fee_InvoiceCreation", new { }, htmlAttributes: new { @class = "fa fa-plus-square btnDefaultColorFaded" })
                        }
                    </td>
                </tr>
                count++;
            }
        }
    </tbody>
</table>
