@model ISas.Entities.DashboardEntities.Common_NECN_DisplayListModel
@{
    var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
}

<section class="content-header">
    <h1>
        All @controllerName List
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="javascript: history.go(-1)" title="Back"><i class="fa fa-arrow-left"></i> </a> |
            <a href="#" onclick="window.location.reload()" title="Refresh"><i class="fa fa-refresh"></i></a> |
            <a href="@Url.Action("Dashboard", "Dashboard")" title="Dashboard"><i class="fa fa-dashboard"></i></a>
        </li>
        <li class="active">All @controllerName List</li>
    </ol>
</section>


<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab" aria-expanded="true">@controllerName</a></li>
                    <li class=""><a href="#tab2" data-toggle="tab" aria-expanded="false">Archive @controllerName</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <div class="box box-widget">
                            <div class="box-body">
                                @for (int i = 0; i < Model.NewList.Count; i++)
                                {
                                    <div class="row" style="cursor:pointer;">
                                        <div class="col-md-12">
                                            @Html.DisplayFor(r => Model.NewList[i].UploadStartDate) <br />
                                            <span style="font-size:medium;color:#AD7E6A;"><strong>@Html.DisplayFor(r => Model.NewList[i].UploadTitle)</strong> </span>
                                            <p class="text-sm minimize">@Html.DisplayFor(r => Model.NewList[i].UploadDescription)</p>
                                            @if (Model.NewList[i].HavingAttachment)
                                            {
                                                List<string> attachments = Model.NewList[i].UploadAttachment.Split(',').ToList();
                                                for (int j = 0; j < attachments.Count; j++)
                                                {
                                                    <i class="fa fa-paperclip"><a class="text-sm" href="~/@attachments[j]" download="@attachments[j].Substring(@attachments[j].LastIndexOf('@') + 1)">@attachments[j].Substring(@attachments[j].LastIndexOf('@') + 1)</a></i>
                                                }
                                            }
                                        </div>
                                    </div>
                                    <br />
                                }
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab2">
                        <div class="box box-widget">
                            <div class="box-body">
                                @for (int i = 0; i < Model.OldList.Count; i++)
                                {
                                    <div class="row" style="cursor:pointer;">
                                        <div class="col-md-12">
                                            @Html.DisplayFor(r => Model.OldList[i].UploadStartDate) <br />
                                            <span style="font-size:medium;color:#AD7E6A;"><strong>@Html.DisplayFor(r => Model.OldList[i].UploadTitle)</strong> </span>
                                            <p class="text-sm minimize">@Html.DisplayFor(r => Model.OldList[i].UploadDescription)</p>
                                            @if (Model.OldList[i].HavingAttachment)
                                            {
                                                List<string> attachments = Model.OldList[i].UploadAttachment.Split(',').ToList();
                                                for (int j = 0; j < attachments.Count; j++)
                                                {
                                                    <i class="fa fa-paperclip"><a class="text-sm" href="~/@attachments[j]" download="@attachments[j].Substring(@attachments[j].LastIndexOf('@') + 1)">@attachments[j].Substring(@attachments[j].LastIndexOf('@') + 1)</a></i>
                                                }
                                            }
                                        </div>
                                    </div>
                                    <br />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    jQuery(function () {

        var minimized_elements = $('p.minimize');

        minimized_elements.each(function () {
            var t = $(this).text();
            if (t.length < 200) return;

            $(this).html(
                t.slice(0, 200) + '<span>... </span><a href="#" class="more">More</a>' +
                '<span style="display:none;">' + t.slice(200, t.length) + ' <a href="#" class="less">Less</a></span>'
            );

        });

        $('a.more', minimized_elements).click(function (event) {
            event.preventDefault();
            $(this).hide().prev().hide();
            $(this).next().show();
        });

        $('a.less', minimized_elements).click(function (event) {
            event.preventDefault();
            $(this).parent().hide().prev().show().prev().show();
        });

    });
</script>