@model ISas.Entities.Exam_StudentProfileModels

<div class="box box-info">
    <div class="box-header with-border">
        <h5 class="box-title">Student Details</h5>
    </div>
    <div class="box-body">
        <table class="table table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th>S. No</th>
                    <th>Adm No</th>
                    <th>Roll No</th>
                    <th>Student Name</th>
                    <th>Open Day</th>
                    <th>Attendance</th>
                    <th>Height (In Cm.)</th>
                    <th>Weight (In Kg.)</th>
                </tr>
            </thead>
            <tbody id="bodytblStudentDetails">
                @if (Model != null && Model.StudentDetailList != null && Model.StudentDetailList.Count > 0)
                {
                    for (int i = 0; i < Model.StudentDetailList.Count; i++)
                    {
                        <tr>
                            <td>
                                @Html.HiddenFor(r => Model.StudentDetailList[i].ERPNo)
                                @Html.DisplayFor(r => Model.StudentDetailList[i].Sno)
                            </td>
                            <td>@Html.DisplayFor(r => Model.StudentDetailList[i].AdmNo)</td>
                            <td>@Html.DisplayFor(r => Model.StudentDetailList[i].RollNo)</td>
                            <td>@Html.DisplayFor(r => Model.StudentDetailList[i].StudentName)</td>
                            <td>@Html.TextBoxFor(r => Model.StudentDetailList[i].OpenDay, htmlAttributes: new { @class = "form-control openDay", onkeypress = "return NumericOnly(event)" })</td>
                            <td>@Html.TextBoxFor(r => Model.StudentDetailList[i].Attendance, htmlAttributes: new { @class = "form-control", onkeypress = "return NumericDecimalOnly(event)" })</td>
                            <td>@Html.TextBoxFor(r => Model.StudentDetailList[i].Height, htmlAttributes: new { @class = "form-control", onkeypress = "return NumericDecimalOnly(event)" })</td>
                            <td>@Html.TextBoxFor(r => Model.StudentDetailList[i].Weight, htmlAttributes: new { @class = "form-control", onkeypress = "return NumericDecimalOnly(event)" })</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

