@model ISas.Entities.Examination_Entities.Examination_MarksEntryModels


@if (Model.IsMarkBased == false)
{
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="form-group">
            <label for="">Apply All Grade</label>
            <div class="select">
                @Html.DropDownList("ApplyAll_Grade", new SelectList(Model.GradeList, "Value", "Text"), "--Select--", htmlAttributes: new { @class = "form-control select2", style = "width:100%;", onchange = "fun_ApplyAll_Grade()" })
            </div>
        </div>
    </div>
}
else
{
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="form-group">
            <label for="">Apply All Marks</label>
            <div class="select">
                @Html.TextBox("ApplyAll_Marks", "0", htmlAttributes: new { @class = "form-control", onchange = "fun_ApplyAll_Marks()", onkeypress = "return NumericDecimalOnly(event)" })
            </div>
        </div>
    </div>
}

<div class="col-md-12">
    <button class="btn btn-success pull-right" style="padding-left:1%;" id="savebutton" type="button" onclick="DoAjaxPostAndMore(this)">SAVE</button>
</div>

<div class="col-md-12">
    <table class="table table-bordered table-responsive table-condensed table-hover" id="MarkTable" style="border:1px solid black;font-family:Calibri;font-size:15px;" cellpadding="0" cellspacing="0">
        <thead>
            <tr style="border:1px solid black;">
                <th style="border:1px solid black;">S No.</th>
                <th style="border:1px solid black;">Adm No.</th>
                <th style="border:1px solid black;">Roll No.</th>
                <th style="border:1px solid black;">Student Name</th>
                <th style="border:1px solid black;">Father Name</th>
                <th style="border:1px solid black;">Is ABSENT</th>
                <th style="border:1px solid black;">Is ML</th>
                <th style="border:1px solid black;">Is Exempt</th>
                @if (Model.IsMarkBased == false)
                {
                    <th style="border:1px solid black;">Grade</th>
                }
                else
                {
                    <th style="border:1px solid black;">Mark</th>
                    <th style="border:1px solid black;">Grade</th>
                }
            </tr>
        </thead>
        <tbody>
            @if (Model.StudentsMarkList.Count > 0)
            {
                for (int i = 0; i < Model.StudentsMarkList.Count; i++)
                {
                    <tr class="abc" style="border:1px solid black;">
                        <td style="border:1px solid black;"> @Html.DisplayFor(r => Model.StudentsMarkList[i].sno) </td>
                        <td style="border:1px solid black;">
                            @Model.StudentsMarkList[i].AdmNo
                            @Html.HiddenFor(x => x.StudentsMarkList[i].ERPNo)
                        </td>
                        <td style="border:1px solid black;"> @Html.DisplayFor(r => Model.StudentsMarkList[i].RollNo) </td>
                        <td style="border:1px solid black;"> @Html.DisplayFor(r => Model.StudentsMarkList[i].Student) </td>
                        <td style="border:1px solid black;"> @Html.DisplayFor(r => Model.StudentsMarkList[i].Father) </td>
                        <td style="border:1px solid black;">@Html.CheckBoxFor(m => m.StudentsMarkList[i].IsAbsent, new { @class = "jsgrid-cell jsgrid-align-center", style = "width: 70px", id = "IsStudentAbsent", tabindex = "-1" })</td>
                        <td style="border:1px solid black;">@Html.CheckBoxFor(m => m.StudentsMarkList[i].IsML, new { @class = "jsgrid-cell jsgrid-align-center", style = "width: 70px", id = "IsStudentML", tabindex = "-1" }) </td>
                        <td style="border:1px solid black;">@Html.CheckBoxFor(m => m.StudentsMarkList[i].IsExempt, new { @class = "jsgrid-cell jsgrid-align-center", style = "width: 70px", id = "IsStudentExempt", tabindex = "-1" })</td>

                        @if (Model.IsMarkBased == false)
                        {
                            <td style="border:1px solid black;">
                                <div class="select">
                                    @Html.DropDownListFor(m => Model.StudentsMarkList[i].Grade, new SelectList(Model.GradeList, "Value", "Text", Model.StudentsMarkList[i].Grade), "--Select--", new { @class = "form-control select2", style = "width:100%" })
                                </div>
                            </td>
                        }
                        else
                        {
                            <td style="border:1px solid black;">
                                @Html.TextBoxFor(m => m.StudentsMarkList[i].MarkObtained, new { @class = "form-control", style = "width: 150px", onkeypress = "return NumericDecimalOnly(event)" })
                            </td>
                            <td style="border:1px solid black;">@Model.StudentsMarkList[i].Grade </td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<script>
    $(function () {
        $('.select2').select2()
    })
</script>