@using ISas.Web.Models;
@model List<ISas.Entities.Academic.Academic_ClassSetupModels>
@{
    string WingName = ""; string WingId = "";
    if (Model != null && Model.Count > 0)
    {
        WingName = Model[0].WingName;
        WingId = Model[0].WingId;
    }
}
<!-- /.box -->
<div class="box box-primary">
    <!-- /.box-header -->
    <div class="box-header with-border">
        <div class="box-title">
            <h5 class="box-title">Class List</h5>
        </div>
    </div>
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>S. No</th>
                    <th>Class Name</th>
                    <th>Print Order</th>
                    <th>Code</th>
                    <th>Max Strength</th>
                    @*<th>Pramoted Class</th>*@
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count > 0)
                {
                    int count = 1;
                    for (int i = 0; i < Model.Count(); i++)
                    {
                        <tr>
                            <td>@Html.DisplayFor(r => count)</td>
                            <td>
                                @Html.DisplayFor(r => Model[i].ClassName)
                            </td>
                            <td>@Html.DisplayFor(r => Model[i].PrintOrder)</td>
                            <td>@Html.DisplayFor(r => Model[i].Classcode)</td>
                            <td>@Html.DisplayFor(r => Model[i].MaxStrength)</td>
                            @*<td>@Html.DisplayFor(r => Model[i].PromotedClass) </td>*@
                            <td class="text-center">
                                @if (Model[i].IsDeletable)
                                {
                                    <a href="#" onclick="DeleteClassConfirm('@Model[i].ClassId')" title="Delete Class" class="fa fa-trash btnDefaultColor"></a>
                                }
                                else
                                {
                                    <a href="#" title="Delete Class" class="fa fa-trash btnDefaultColorFaded"></a>
                                }

                                @Html.EncodedActionLink(" ", "Updation", "Academic_ClassSetup", new { WingName = Model[i].WingName, WingId = Model[i].WingId, ClassId = Model[i].ClassId }, htmlAttributes: new { @class = "fa fa-edit btnDefaultColor", title = "Edit Class" })

                                @Html.EncodedActionLink(" ", "New", "Academic_SectionSetup", new { Class_Strength = Model[i].MaxStrength, Class_Name = Model[i].ClassName, Class_ClassId = Model[i].ClassId , WingName  = Model[i].WingName, WingId  = Model[i].WingId, SchoolId  = Model[i].SchoolId, SchoolName  = Model[i].SchoolName}, htmlAttributes: new { @class = "fa fa-gear  btnDefaultColor", title = "Section Setup" })
                            </td>
                        </tr>
                        count++;
                    }
                }
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->

<script>
    $(function () {
        $('#example1').DataTable()
    });

    function DeleteClassConfirm(classId) {
        AsyncConfirmYesNo("Confirmation", "Are you sure to delete this Class?", MyYesFunction, MyNoFunction, classId);
    }

    function MyYesFunction(classId) {
        $.ajax({
            type: "GET",
            beforeSend: function () {
                spinnerShow();
            },
            url: "../Academic_ClassSetup/Academic_ClassSetup_Delete",
            data: { ClassId: classId },
            error: function (xhr, status, error) {
                OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
            },
            success: function (result) {
                OpenMessegeAutoHideDiv(result.Msg, result.Color);
                setTimeout(function () { window.location = "../Academic_ClassSetup/New?WingName=@WingName&WingId=@WingId"; }, $('#hddnReloadTime').val());
            },
            complete: function () {
                spinnerHide();
            }
        });
    }
    function MyNoFunction() {
        //alert('No Calling');
    }
</script>