@using ISas.Web.Models;
@model ISas.Entities.Academic.Academic_ClassSetupModels
@{
    string encodedPath =  Html.EncodedPathString(" ", "New", "Academic_ClassSetup", new { WingName = Model.WingName, WingId = Model.WingId, SchoolId = Model.SchoolId, SchoolName = Model.SchoolName }, htmlAttributes: new { });
}

<section class="content-header">
    <h1>Class Setup <small>(UPDATE)</small> </h1>
    <ol class="breadcrumb">
        <li>
            <a href="javascript: history.go(-1)" title="Back"><i class="fa fa-arrow-left"></i> </a> |
            <a href="#" onclick="window.location.reload()" title="Refresh"><i class="fa fa-refresh"></i></a> |
            <a href="@Url.Action("Dashboard", "Dashboard")" title="Dashboard"><i class="fa fa-dashboard"></i></a>
        </li>
        <li>School</li>
        <li><a href="@Url.Action("New", "Academic_SchoolSetup")">School Setup</a> </li>
        <li><a href="@Html.EncodedPath("", "New", "Academic_WingSetup", new { SchoolName = Model.SchoolName, SchoolId = Model.SchoolId }, htmlAttributes:new { })">Wing Setup</a> </li>
        <li class="active"><a href="@Html.EncodedPath(" ", "New", "Academic_ClassSetup", new { WingName = Model.WingName, WingId = Model.WingId, SchoolId = Model.SchoolId, SchoolName = Model.SchoolName}, htmlAttributes:new { })">Class Setup</a></li>
        <li>Update</li>
    </ol>
</section>
<section class="content">
    @using (Html.BeginForm("Academic_ClassSetup_CRUD", "Academic_ClassSetup", FormMethod.Post, htmlAttributes: new { }))
    {
        @Html.HiddenFor(r => Model.WingId)
        @Html.HiddenFor(r => Model.ClassId)
        @Html.HiddenFor(r => Model.WingName)

        <div class="box box-warning">
            <div class="box-header with-border">
                <h5 class="box-title">Wing Name :- <strong class="text-primary">@Html.DisplayFor(r => Model.WingName)</strong></h5>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="form-group">
                            <label for="">@Html.LabelFor(r => Model.ClassName)<i class="mandateLbl">*</i></label>
                            <div class="select">
                                @Html.TextBoxFor(m => m.ClassName, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(r => Model.ClassName, null, htmlAttributes: new { style = "color:red;" })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-2">
                        <div class="form-group">
                            <label for="">@Html.LabelFor(r => Model.Classcode)</label>
                            <div class="select">
                                @Html.TextBoxFor(m => m.Classcode, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(r => Model.Classcode, null, htmlAttributes: new { style = "color:red;" })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-2">
                        <div class="form-group">
                            <label for="">@Html.LabelFor(r => Model.PrintOrder)</label>
                            <div class="select">
                                <input type="number" id="PrintOrder" name="PrintOrder" class="form-control" value="@Model.PrintOrder" />
                                @Html.ValidationMessageFor(r => Model.PrintOrder, null, htmlAttributes: new { style = "color:red;" })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-2">
                        <div class="form-group">
                            <label for="">@Html.LabelFor(r => Model.MaxStrength)<i class="mandateLbl">*</i></label>
                            <div class="select">
                                @Html.TextBoxFor(m => m.MaxStrength, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(r => Model.MaxStrength, null, htmlAttributes: new { style = "color:red;" })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="form-group">
                            <label for="">@Html.LabelFor(r => Model.PromotedClass)</label>
                            <div class="select">
                                @Html.DropDownListFor(m => m.PromotedClass, new SelectList(Model.PromotedClassList, "Value", "Text"), "--Select--", htmlAttributes: new { @class = "form-control select2", style = "width:100%;" })
                                @Html.ValidationMessageFor(r => Model.PromotedClass, null, htmlAttributes: new { style = "color:red;" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <div class="checkbox">
                            <br /><label>
                                @Html.CheckBoxFor(r => Model.Active)@Html.LabelFor(r => Model.Active)
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="checkbox">
                            <br /><label>
                                @Html.CheckBoxFor(r => Model.IsAlumniClass)@Html.LabelFor(r => Model.IsAlumniClass)
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-default">
                            <div class="box-body">
                                <div class="col-xs-12 col-sm-6 col-md-2">
                                    <div class="checkbox">
                                        <br /><label>
                                            @Html.CheckBoxFor(r => Model.RegOpen)@Html.LabelFor(r => Model.RegOpen)
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-2">
                                    <div class="form-group">
                                        <label for="">@Html.LabelFor(r => Model.RegOpenDate)</label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            @Html.TextBoxFor(m => m.RegOpenDate, htmlAttributes: new { @class = "form-control pull-right date" })
                                            @Html.ValidationMessageFor(r => Model.RegOpenDate, null, htmlAttributes: new { style = "color:red;" })
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-2">
                                    <div class="form-group">
                                        <label for="">@Html.LabelFor(r => Model.RegCloseDate)</label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            @Html.TextBoxFor(m => m.RegCloseDate, htmlAttributes: new { @class = "form-control pull-right date" })
                                            @Html.ValidationMessageFor(r => Model.RegCloseDate, null, htmlAttributes: new { style = "color:red;" })
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6 col-md-2">
                                    <div class="checkbox">
                                        <br /><label>
                                            @Html.CheckBoxFor(r => Model.AdmOpen)@Html.LabelFor(r => Model.AdmOpen)
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-2">
                                    <div class="form-group">
                                        <label for="">@Html.LabelFor(r => Model.AdmOpenDate)</label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            @Html.TextBoxFor(m => m.AdmOpenDate, htmlAttributes: new { @class = "form-control pull-right date" })
                                            @Html.ValidationMessageFor(r => Model.AdmOpenDate, null, htmlAttributes: new { style = "color:red;" })
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-2">
                                    <div class="form-group">
                                        <label for="">@Html.LabelFor(r => Model.AdmCloseDate)</label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            @Html.TextBoxFor(m => m.AdmCloseDate, htmlAttributes: new { @class = "form-control pull-right date" })
                                            @Html.ValidationMessageFor(r => Model.AdmCloseDate, null, htmlAttributes: new { style = "color:red;" })
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button class="btn btn-warning" id="savebutton" type="button" onclick="DoAjaxPostAndMore(this)">UPDATE</button>
                <button class="btn btn-default" type="button" onclick="window.location.reload()">RESET</button>
            </div>
        </div>
    }

    @{ Html.RenderAction("LandingPage", "Academic_ClassSetup", new { WingName = Model.WingName, WingId = Model.WingId }); }
</section>

<script>
    function DoAjaxPostAndMore(btnClicked) {
        var $form = $(btnClicked).parents('form');
        $.ajax({
            type: "POST",
            beforeSend: function () {
                spinnerShow();
            },
            url: $form.attr('action'),
            data: $form.serialize(),
            error: function (xhr, status, error) {
                OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
            },
            success: function (response) {
                if (response.status == 'success') {
                    OpenMessegeAutoHideDiv(response.Msg, response.Color);
                    setTimeout(function () { window.location = "@encodedPath"; }, $('#hddnReloadTime').val());
                }
                else {
                    OpenMessegeAutoHideDiv($('#ErrorMsgOnModelStateNotValid').val());
                    AddErrorAttributeCSS(response.ErrorList); //Available in CustomCommon.js
                    AddValidAttributeCSS(response.ValidKeyList); //Available in CustomCommon.js
                }
            },
            complete: function () {
                spinnerHide();
            }
        });
    }
</script>

