@model ISas.Entities.FeesEntities.Fee_MiscDueModel
<table id="example1" class="table table-responsive table-bordered table-condensed nowrap" style="width:100%">
    <thead>
        <tr>
            <th>@Html.CheckBox("selectAllFeeDue", false, htmlAttributes: new { onchange = "fun_checkToSelectAllMiscDue()" })</th>
            <th>Adm. No.</th>
            <th>Student Name</th>
            <th>Father</th>
            <th>Ref. No.</th>
            <th>Amount</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.MiscDueStudentDetails.Count; i++)
        {
            <tr>
                <td>
                    @Html.HiddenFor(r => Model.MiscDueStudentDetails[i].ERPNo)
                    @Html.HiddenFor(r => Model.MiscDueStudentDetails[i].TransRefNo)
                    @Html.CheckBoxFor(r => Model.MiscDueStudentDetails[i].Selected, htmlAttributes: new { @class = "chkBoxMiscDue" })
                </td>
                <td>@Html.DisplayFor(r => Model.MiscDueStudentDetails[i].AdmNo)</td>
                <td>@Html.DisplayFor(r => Model.MiscDueStudentDetails[i].StudentName)</td>
                <td>@Html.DisplayFor(r => Model.MiscDueStudentDetails[i].Father)</td>
                <td>@Html.DisplayFor(r => Model.MiscDueStudentDetails[i].TransRefNo)</td>
                <td>@Html.DisplayFor(r => Model.MiscDueStudentDetails[i].Amount)</td>
                <td>
                    <a href="#" class="fa fa-pencil-square-o btnDefaultColor" title="Change Due Amount" onclick="EnterAmount_ToUpdateMiscDue('@i', '@Model.MiscDueStudentDetails[i].StudentName')"></a>

                    @if(Model.MiscDueStudentDetails[i].Iscancellable)
                    { 
                        <a href="#" class="fa  fa-times text-danger" title="Cancel Due" onclick="CancelMiscDueConfirm('@i', '@Model.MiscDueStudentDetails[i].StudentName')"></a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    //$(document).ready(function () {
    //    $('#example1').DataTable({
    //        "pageLength": 10,
    //        scrollY: 300,
    //        paging: false
    //    });
    //});
</script>

