@model ISas.Entities.Examination_Entities.AssessmentPropertySetupModel

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="alert alert-info alert-dismissible" id="autoHideMsgDiv" style="z-index:1;position: absolute;min-width:98%;max-width:98%;display:none;">
            @*<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>*@
            <h4><i id="autoHideDivTitleIcon" class="icon fa fa-info"></i> <span id="autoHideDivTitle"> Alert! </span> </h4>
            <p id="autoHideDivMsg"> Info alert preview. This alert is dismissable.</p>
        </div>
    </div>
</div>

@using (Html.BeginForm("AssessmentPropertySetup_CRUD", "Examination_AssessmentSetup", FormMethod.Post, htmlAttributes: new { }))
{
    @Html.HiddenFor(r => Model.SubjectId)
    @Html.HiddenFor(r => Model.ExamTemplateId)
    @Html.HiddenFor(r => Model.AssessmentId)
    @Html.HiddenFor(r => Model.AssessmentPropertyId)


    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label for="">@Html.LabelFor(r => Model.AssessmentDate)</label>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @Html.TextBoxFor(m => m.AssessmentDate, htmlAttributes: new { @class = "form-control pull-right date" })
                    @Html.ValidationMessageFor(r => Model.AssessmentDate, null, htmlAttributes: new { style = "color:red;" })
                </div>
                <!-- /.input group -->
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label for="">@Html.LabelFor(r => Model.MarkFeedingLastDate)</label>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @Html.TextBoxFor(m => m.MarkFeedingLastDate, htmlAttributes: new { @class = "form-control pull-right date" })
                    @Html.ValidationMessageFor(r => Model.MarkFeedingLastDate, null, htmlAttributes: new { style = "color:red;" })
                </div>
                <!-- /.input group -->
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group">
                <label for="">@Html.LabelFor(r => Model.AssessmentNature)</label>
                <div class="radio">
                    <label>@Html.RadioButtonFor(r => Model.AssessmentNature, "T", htmlAttributes: new { }) THEORY</label>
                    <label>@Html.RadioButtonFor(r => Model.AssessmentNature, "P", htmlAttributes: new { }) PRACTICAL </label>
                    <label>@Html.RadioButtonFor(r => Model.AssessmentNature, "V", htmlAttributes: new { }) VIVA</label>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2">
            <div class="form-group">
                <label for="">@Html.LabelFor(r => Model.PrintOrder)<i class="mandateLbl">*</i></label>
                <div class="select">
                    @Html.TextBoxFor(m => m.PrintOrder, htmlAttributes: new { @class = "form-control", type = "number" })
                    @Html.ValidationMessageFor(r => Model.PrintOrder, null, htmlAttributes: new { style = "color:red;" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label for="">@Html.LabelFor(r => Model.MaxMark)<i class="mandateLbl">*</i></label>
                <div class="select">
                    @Html.TextBoxFor(m => m.MaxMark, htmlAttributes: new { @class = "form-control", type = "number" })
                    @Html.ValidationMessageFor(r => Model.MaxMark, null, htmlAttributes: new { style = "color:red;" })
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label for="">@Html.LabelFor(r => Model.PassingMark)<i class="mandateLbl">*</i></label>
                <div class="select">
                    @Html.TextBoxFor(m => m.PassingMark, htmlAttributes: new { @class = "form-control", type = "number" })
                    @Html.ValidationMessageFor(r => Model.PassingMark, null, htmlAttributes: new { style = "color:red;" })
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label for="">@Html.LabelFor(r => Model.MaxMarkWeightage)<i class="mandateLbl">*</i></label>
                <div class="select">
                    @Html.TextBoxFor(m => m.MaxMarkWeightage, htmlAttributes: new { @class = "form-control", type = "number" })
                    @Html.ValidationMessageFor(r => Model.MaxMarkWeightage, null, htmlAttributes: new { style = "color:red;" })
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="checkbox">
                <br />
                <label>
                    @Html.CheckBoxFor(m => m.IsMarksFeedingon, htmlAttributes: new { })
                    @Html.LabelFor(r => Model.IsMarksFeedingon)
                </label>
                @Html.ValidationMessageFor(r => Model.IsMarksFeedingon, null, htmlAttributes: new { style = "color:red;" })
            </div>
        </div>
    </div>

    <div class="row" style="border-top:1px solid #808080;">
        <div class="col-md-12">
            <button style="margin-top:2%;margin-right:1%;" type="button" onclick="CommonAjaxPost(this); setTimeout(function () { getAssessmentList(); $('#mainModalWithSave').modal('toggle'); }, 1500);" class="btn btn-success">SAVE</button>
            <button style="margin-top:2%;" type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
        </div>
    </div>
}

<script>
    $(function () {
        //var datepicker = $.fn.datepicker.noConflict();
        //$.fn.bootstrapDP = datepicker;
        $('.date').bootstrapDP({
            autoclose: true,
            format: 'dd/mm/yyyy'
        });
    });
</script>