@model ISas.Entities.Exam_Entities.Exam_ReportModels
@{
    ViewBag.Title = "Reports";
}

<script src="~/bower_components/datatables.net/js/dataTables.buttons.js"></script>
<script src="~/bower_components/datatables.net/js/buttons.flash.min.js"></script>
<script src="~/bower_components/datatables.net/js/jszip.min.js"></script>
<script src="~/bower_components/datatables.net/js/buttons.print.min.js"></script>
<script src="~/bower_components/datatables.net/js/pdfmake.min.js"></script>
<script src="~/bower_components/datatables.net/js/vfs_fonts.js"></script>
<script src="~/bower_components/datatables.net/js/buttons.html5.min.js"></script>
<script src="~/bower_components/datatables.net/js/buttons.colVis.min.js"></script>
<script src="~/bower_components/datatables.net/js/dataTables.select.min.js"></script>
<link rel="stylesheet" href="~/bower_components/datatables.net/css/buttons.dataTables.min.css">

<section class="content-header">
    <h1>
        Exam Reports
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="javascript: history.go(-1)" title="Back"><i class="fa fa-arrow-left"></i> </a> |
            <a href="#" onclick="window.location.reload()" title="Refresh"><i class="fa fa-refresh"></i></a> |
            <a href="@Url.Action("Dashboard", "Dashboard")" title="Dashboard"><i class="fa fa-dashboard"></i></a>
        </li>
        <li>Exam Module</li>
        <li class="active">Target List </li>
    </ol>
</section>


<section class="content">
    <div class="box box-primary">
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="">Report Name</label>
                        <div class="select">
                            @Html.HiddenFor(r => Model.ReportId)
                            @Html.DropDownListFor(m => m.ReportId, Model.ReportNameList, "-- Select Report --", new { @class = "form-control select2", style = "width:100%", id = "ddlReportList", dataChangeUrl = Url.Action("BindClassddl") })
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="">Class</label>
                        <div class="select">
                            @Html.DropDownListFor(m => m.ClassSectionIds, Model.ClassSectionList, "-- Select Class --", new { @class = "form-control select2", style = "width:100%", id = "ddlClassList", dataChangeUrl = Url.Action("BindSubjectddl") })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="">Subject</label>
                        <div class="select">
                            @Html.DropDownListFor(m => m.SubjectId, Model.SubjectList, "-- Select Subject --", new { @class = "form-control select2", style = "width:100%", id = "ddlSubjectList" })
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-2">
                    <div class="select">
                        <h5>
                            <button title="SEARCH" type="button" class="btn btn-success" onclick="getReportData('NO')">
                                <i class="fa fa-search btnDefaultColor"></i>
                            </button>
                        </h5>
                    </div>
                </div>

                @*<div class="col-xs-12 col-sm-6 col-md-1">
                        <span class="pull-right">
                            <a href="#" onclick="exportToExcel('MarkTable')" title="Export to Excel" class="fa fa-file-excel-o btnDefaultColor"></a>
                        </span>
                        <span class="pull-right" style="padding-right:1%;">
                            <a href="#" onclick="printmarkRegister()" title="Print" class="fa fa-print btnDefaultColor"></a>
                        </span>
                    </div>*@




            </div>



            <div class="row">
                <div class="col-md-12" style="width:100%;overflow-y:auto;">
                    <div id="studentReportMainDiv"></div>
                </div>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript">

    //function printmarkRegister() {
    //    var html = $('#marksVeriHeader').html();
    //    html += $('#studentReportMainDiv').html();
    //    var w = window.open();
    //    $(w.document.body).html(html);
    //    w.print();
    //    w.close();
    //}

    $(document).ready(function () {
        $(document).on('change', "#ddlReportList", function () {
            var $ddlClass = $('#ddlClassList');
            $ddlClass.empty();
            $ddlClass.append($("<option />").text("--- Select Class ---"));
            var $ddlSubject = $('#ddlSubjectList');
            $ddlSubject.empty();
            $ddlSubject.append($("<option />").text("--- Select Subject ---"));


            $.ajax({
                url: $('#ddlReportList').attr('dataChangeUrl'),
                data: { reportId: $('#ddlReportList').val() },
                type: 'get',
                success: (function (data) {

                    $.each(data, function () {
                        $ddlClass.append($("<option />").val(this.Value).text(this.Text));
                    })

                }),
                fail: (function (error) {
                    OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
                })
            })
        });
        $(document).on('change', "#ddlClassList", function () {
            var $ddlSubject = $('#ddlSubjectList');
            $ddlSubject.empty();
            $.ajax({
                url: $('#ddlClassList').attr('dataChangeUrl'),
                data: { reportId: $('#ddlReportList').val(), classSectionId: $('#ddlClassList').val() },
                type: 'get',
                success: (function (data) {
                    $ddlSubject.append($("<option />").text("--- Select Subject ---"));
                    $.each(data, function () {
                        $ddlSubject.append($("<option />").val(this.Value).text(this.Text));
                    })
                }),
                fail: (function (error) {
                    OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
                })
            })
        });
        //$(document).on('change', "#ddlSubjectList", function () {
        //    $.ajax({
        //        url: $('#ddlSubjectList').attr('dataChangeUrl'),
        //        beforeSend: function () {
        //            spinnerShow();
        //        },
        //        data: {

        //            classSectionId: $('#ddlClassList').val(),
        //            subjectId: $('#ddlSubjectList').val(),
        //            subjectName: $('#ddlSubjectList option:selected').text(),
        //            className: $('#ddlClassList option:selected').text(),
        //        },
        //        type: 'get',
        //        success: (function (data) {
        //            $('#divMarkList').empty();
        //            $('#divMarkList').html(data);
        //        }),
        //        fail: (function (error) {
        //            OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
        //        }),
        //        complete: function () {
        //            spinnerHide();
        //        }
        //    })
        //});
    });
    function getReportData(Print) {
        var ReportId = $('#ddlReportList').val();
        var SubjectId = $('#ddlSubjectList').val();
        var ClassSecId = $('#ddlClassList').val();

        $.ajax({
            type: "GET",
            beforeSend: function () {
                spinnerShow();
            },
            url: "../Exam_Report/_ExamDetailReport",
            data: {
                reportId: ReportId,
                classSectionId: ClassSecId,
                subjectId: SubjectId
                //Reporttype: $("input[name='ReportType']:checked").val(),
                //InActive: $('#Status').val(), OrderBy: $("input[name='OrderBy']:checked").val(),
                //ReportName: $('#ReportName').val(), SelectedClassNames: $('#SelectedClassNames').val(), SelectedReportName: $('#ReportName option:selected').text(),
                //WingId: wingID, Print: Print
            },
            error: function (xhr, status, error) {
                OpenMessegeModal($('#ErrorMsgOnJasonFailed').val());
            },
            success: function (result) {
                if (Print == "NO") {
                    $('#studentReportMainDiv').html(result);
                } else {
                    var w = window.open('');
                    $(w.document.body).html(result);
                    w.print();
                    // w.close();
                }
            },
            complete: function () {
                spinnerHide();
            }
        });
    }
</script>

