@model ISas.Entities.Student_Entities.MyClassModels
@{
    int counter = 1;
    string reportName = "My Class";
}
<script src="~/bower_components/datatables.net/js/buttons.print.min.js"></script>
<script src="~/bower_components/datatables.net/js/dataTables.buttons.min.js"></script>
<script src="~/bower_components/datatables.net/js/buttons.html5.min.js"></script>
<script src="~/bower_components/datatables.net/js/buttons.colVis.min.js"></script>
<script src="~/bower_components/datatables.net/js/jszip.min.js"></script>
<link rel="stylesheet" href="~/bower_components/datatables.net/css/buttons.dataTables.min.css">
<section class="content-header">
    <h1>
        My Class
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="javascript: history.go(-1)" title="Back"><i class="fa fa-arrow-left"></i> </a> |
            <a href="#" onclick="window.location.reload()" title="Refresh"><i class="fa fa-refresh"></i></a> |
            <a href="@Url.Action("Dashboard", "Dashboard")" title="Dashboard"><i class="fa fa-dashboard"></i></a>
        </li>
        <li>Students</li>
        <li class="active">My Class</li>
    </ol>
</section>
<section class="content">
    <div class="box box-primary">
        @*<div class="box-header with-border">
                <span style="padding-left:1%;" class="box-title pull-right">
                    <a href="#" onclick="exportToExcel('tblStudentDetails', 'tblReportHeader_WithoutLogo')" title="Export to Excel" class="fa fa-file-excel-o btnDefaultColor"></a>
                </span>
                <span class="box-title pull-right">
                    <a href="#" onclick="getStudentList('YES')" title="Print" class="fa fa-print btnDefaultColor"></a>
                </span>
            </div>*@
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-12 pull-right">
                    <label for="">Status</label>
                    <div class="form-group">
                        <div class="radio">
                            <label> @Html.RadioButtonFor(r => r.status, "ACTIVE", htmlAttributes: new { onclick = "GetMyClass('ACTIVE')" })<span>ACTIVE</span>&nbsp;</label>
                            <label> @Html.RadioButtonFor(r => r.status, "INACTIVE", htmlAttributes: new { onclick = "GetMyClass('INACTIVE')" })<span>INACTIVE</span></label>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="table" style="overflow:auto">
                <table id="example1" class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Sno </th>
                            <th>ERP</th>
                            <th>Adm No</th>
                            <th>DOA</th>
                            <th>DOB</th>
                            <th>Roll No</th>
                            <th>Student</th>
                            <th>SR. No</th>
                            <th>Father</th>
                            <th>Mother</th>
                            <th>Contact No</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.myClassList.Count() > 0)
                        {
                            for (int i = 0; i < Model.myClassList.Count(); i++)
                            {
                                <tr>
                                    <td>@counter</td>
                                    <td>@Html.DisplayFor(r => Model.myClassList[i].ERP)</td>
                                    <td>@Html.DisplayFor(r => Model.myClassList[i].AdmNo)</td>
                                    <td>@Html.DisplayFor(r => Model.myClassList[i].DOA)</td>
                                    <td>@Html.DisplayFor(r => Model.myClassList[i].DOB)</td>
                                    <td>@Html.DisplayFor(r => Model.myClassList[i].RollNo)</td>
                                    <td>@Html.DisplayFor(r => Model.myClassList[i].Student)</td>
                                    <td>@Html.DisplayFor(r => Model.myClassList[i].Gender)</td>
                                    <td>@Html.DisplayFor(r => Model.myClassList[i].Father)</td>
                                    <td>@Html.DisplayFor(r => Model.myClassList[i].Mother)</td>
                                    <td>@Html.DisplayFor(r => Model.myClassList[i].ContactNo)</td>
                                    <td>
                                        <a href="#" title="Reset Password" onclick="ResetPasswordConfirm('@Model.myClassList[i].ERP');" class="fa fa-gear btnDefaultColor"></a>
                                    </td>
                                </tr>
                                counter++;
                            }
                        }

                    </tbody>
                </table>
            </div>

        </div>
        <div class="box box-footer">

        </div>

    </div>
</section>
<script>
   $(document).ready(function () {
        $('#example1').DataTable({
            "pageLength": 50,
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'excelHtml5',
                    text: '<i class="fa fa-file-excel-o"></i>',
                    titleAttr: 'Excel',
                    title: '@reportName',
                    exportOptions: {
                        columns: ':visible'
                    },
                    customize: function (xlsx) {
                        console.log(xlsx);
                    }
                },
                {
                    extend: 'print',
                    text: '<i class="fa fa-print"></i>',
                    titleAttr: 'Print',
                    title: "",
                    exportOptions: {
                        columns: ':visible'
                    },
                    customize: function (win) {
                        $(win.document.body)
                            .css('font-size', '10pt')
                            .prepend($('#reportHeaderDiv').html()); //'<img src="http://localhost:60254/Images/System/balVikasLog.jpg" style="" />'
                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                },
                'colvis'
            ],
            select: true
        });
    });

    function ResetPasswordConfirm(erpno) {
        $.ajax({
            type: "POST",
            url: '../MyClass/UserCreation_CRUD',
            data: { erpNo: erpno},
            error: function (xhr, status, error) {
                OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
            },
            success: function (response) {
                OpenMessegeAutoHideDiv(response.Msg, response.Color);
            }
        });
    }
    function GetMyClass(status) {
        window.location = '../MyClass/New?status=' + status;
    }
</script>