@model ISas.Entities.MarksEntryStudentWiseModel
@{
    Layout = "~/Views/Shared/_LayoutPrint.cshtml";
}

<div>
    <h4>
        School Name :- Bal Vikas School, Panipat <br />
        Date        :- @DateTime.Now <br />
        Report Name :- Marks Details For (@Html.DisplayFor(r=> Model.TermName) , @Html.DisplayFor(r=> Model.ClassName) - @Html.DisplayFor(r=> Model.SectionName), 
                    @Html.DisplayFor(r=> Model.StudentName),  @Html.DisplayFor(r=> Model.MainSubjectName))
    </h4>
</div>
@if (Model != null && Model.AssismentNameList != null && Model.SubjectListWithMarks != null)
{
    <table class="table table-hover table-responsive table-condensed" style="border:1px solid black;">
        <thead>
            <tr>
                <th style="border:1px solid black;">Subject Name</th>
                @for (int i = 0; i < Model.AssismentNameList.Count; i++)
                {
                    <th style="border:1px solid black;">
                        @Html.DisplayFor(r => Model.AssismentNameList[i].AssismentName)
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.SubjectListWithMarks.Count; i++)
            {
                <tr style="width:100%;">
                    <td style="min-width:40%;max-width:40%;border:1px solid black;">
                        @Html.DisplayFor(r => Model.SubjectListWithMarks[i].SubjectName)
                    </td>
                    @for (int j = 0; j < Model.SubjectListWithMarks[i].AssismentWithMarksList.Count; j++)
                    {
                        <td style="min-width:6%;max-width:6%;border:1px solid black;">
                            @Html.DisplayFor(r => Model.SubjectListWithMarks[i].AssismentWithMarksList[j].Marks)
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}