@model ISas.Entities.HR_Payroll_Entities.HR_Payroll_PayBandMasterModels

<section class="content-header">
    <h1>
        PayBand Master <small>(UPDATE)</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="javascript: history.go(-1)" title="Back"><i class="fa fa-arrow-left"></i> </a> |
            <a href="#" onclick="window.location.reload()" title="Refresh"><i class="fa fa-refresh"></i></a> |
            <a href="@Url.Action("Dashboard", "Dashboard")" title="Dashboard"><i class="fa fa-dashboard"></i></a>
        </li>
        <li>HR & Payroll</li>
        <li><a href="@Url.Action("New", "HR_Payroll_PayBandMaster")">PayBand Master</a> </li>
        <li class="active">Update</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-4">
            @using (Html.BeginForm("HR_Payroll_PayBandMaster_CRUD", "HR_Payroll_PayBandMaster", FormMethod.Post, htmlAttributes: new { }))
            {
                @Html.HiddenFor(r => Model.PayBandId)
                <div class="box box-warning">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">@Html.LabelFor(r => Model.PayBandName)</label>
                                    <div class="select">
                                        @Html.TextBoxFor(m => m.PayBandName, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(r => Model.PayBandName, null, htmlAttributes: new { style = "color:red;" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label for="">@Html.LabelFor(r => Model.Discrption)</label>
                                    <div class="select">
                                        @Html.TextAreaFor(m => m.Discrption, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(r => Model.Discrption, null, htmlAttributes: new { style = "color:red;" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label for="">@Html.LabelFor(r => Model.PrintOrder)</label>
                                    <div class="select">
                                        <input type="number" class="form-control" value="@Model.PrintOrder" name="PrintOrder" id="PrintOrder" />
                                        @Html.ValidationMessageFor(r => Model.PrintOrder, null, htmlAttributes: new { style = "color:red;" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBoxFor(m => m.Active, htmlAttributes: new { @class = "" })
                                            @Html.LabelFor(r => Model.Active)
                                        </label>
                                        @Html.ValidationMessageFor(r => Model.Active, null, htmlAttributes: new { style = "color:red;" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button class="btn btn-warning" type="button" onclick="DoAjaxPostAndMore(this)">UPDATE</button>
                        <button class="btn btn-default" type="button" onclick="window.location.reload()">RESET</button>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-8">
            @{ Html.RenderAction("LandingPage", "HR_Payroll_PayBandMaster"); }
        </div>
    </div>
</section>
<script>
    function DoAjaxPostAndMore(btnClicked) {
        var $form = $(btnClicked).parents('form');
        $.ajax({
            type: "POST",
            beforeSend: function () {
                spinnerShow();
            },
            url: $form.attr('action'),
            data: $form.serialize(),
            error: function (xhr, status, error) {
                OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
            },
            success: function (response) {
                if (response.status == 'success') {
                    OpenMessegeAutoHideDiv(response.Msg, response.Color );
                    setTimeout(function () { window.location = "../HR_Payroll_PayBandMaster/New"; }, $('#hddnReloadTime').val());
                }
                else {
                    OpenMessegeAutoHideDiv($('#ErrorMsgOnModelStateNotValid').val());
                    AddErrorAttributeCSS(response.ErrorList); //Available in CustomCommon.js
                    AddValidAttributeCSS(response.ValidKeyList); //Available in CustomCommon.js
                }
            },
            complete: function () {
                spinnerHide();
            }
        });
    }
</script>

