@model List<ISas.Entities.StaffEntities.Staff_StaffDetailMasterModel>
@{
    string lyoutStr = "";
    if(!string.IsNullOrEmpty(@ViewBag.pageType) && @ViewBag.pageType == "Print")
    {
        lyoutStr =  "~/Views/Shared/_LayoutPrint.cshtml";
    }
    Layout = lyoutStr;
}
<div>
    <h4>
        Client Name :- Test Client Name <br />
        Date        :- @DateTime.Now <br />
        Report Name :- Staff Detail Report
    </h4>
</div>
<table class="table-bordered table table-hover">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Staff Code</th>
            <th>Father's Name</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count(); i++)
        {
            string fullName = Model[i].FName + " " + Model[i].MName + " " + Model[i].LName;
            <tr>
                <td>
                    @Html.DisplayFor(r => fullName)
                </td>
                <td>
                    @Html.DisplayFor(r => Model[i].Email)
                </td>
                <td>
                    @Html.DisplayFor(r => Model[i].Mob)
                </td>
                <td>
                    @Html.DisplayFor(r => Model[i].StaffCode)
                </td>
                <td>
                    @Html.DisplayFor(r => Model[i].FHName)
                </td>
            </tr>
        }
    </tbody>
</table>



