@model ISas.Entities.AttendanceRegisterViewModel
@using System.Data;
@{ 
    string reportName = "Attendance Register";
}
<div style="display:none;">
    @{ Html.RenderAction("_ReportHeader", "Common", new { tempReportName = @reportName });}
</div>
<table id="example1" class="table table-responsive table-bordered table-condensed nowrap" style="width:100%">
    <thead>
        <tr>
            @foreach (DataColumn col in Model.AttendanceDataTable.Columns)
            {
                <th>@col.ColumnName</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.AttendanceDataTable.Rows)
        {

        <tr>
            @foreach (DataColumn col in Model.AttendanceDataTable.Columns)
            {
                if (@row[col.ColumnName].ToString() == "A")
                {
                    <td class="AA" style="color:red;"><b> @row[col.ColumnName] </b> </td>
                }
                else if (@row[col.ColumnName].ToString() == "P")
                {
                    <td class="AA" style="color:green;"><b> @row[col.ColumnName] </b> </td>
                }
                else if (@row[col.ColumnName].ToString() == "L" || @row[col.ColumnName].ToString() == "ML" || @row[col.ColumnName].ToString() == "HD" || @row[col.ColumnName].ToString() == "WO" || @row[col.ColumnName].ToString() == "HL")
                {
                    <td class="LL" style="color:blue;"><b> @row[col.ColumnName] </b> </td>
                }

                

                else if (@col.ColumnName == "%" && Convert.ToDecimal(@row[col.ColumnName]) < Model.DefaulterPercentage)
                {
                    <td style="color:red; "> @row[col.ColumnName] </td>
                }

                else
                {
                    <td> @row[col.ColumnName] </td>
                }

            }
        </tr>


        }

        

    </tbody>
</table>

<script>
    $("#example1 tr").click(function (evt) {
        if (evt.ctrlKey) {
            $(this).toggleClass("selected");
        } else {
            var selected = $(this).hasClass("selected");
            $("#example1 tr").removeClass("selected");
            if (!selected)
                $(this).addClass("selected");
        }
    });

    $(document).ready(function () {
        $('#example1').DataTable({
            "pageLength": 50,
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'copyHtml5',
                    text: '<i class="fa fa-files-o"></i>',
                    titleAttr: 'Copy',
                    title: '@reportName',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'excelHtml5',
                    text: '<i class="fa fa-file-excel-o"></i>',
                    titleAttr: 'Excel',
                    title: '@reportName',
                    exportOptions: {
                        columns: ':visible'
                    },
                    customize: function (xlsx) {
                        console.log(xlsx);

                    }
                },
                {
                    extend: 'print',
                    text: '<i class="fa fa-print"></i>',
                    titleAttr: 'Print',
                    title: "",
                    exportOptions: {
                        columns: ':visible'
                    },
                    customize: function (win) {
                        $(win.document.body)
                            //.css('font-size', '10pt')
                            .prepend($('#reportHeaderDiv').html()); //'<img src="http://localhost:60254/Images/System/balVikasLog.jpg" style="" />'
                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                },
                'colvis'
            ],
            select: true
        });
    });
</script>
