@model  ISas.Entities.AttendanceRegisterViewModel
@{
    ViewBag.Title = "Attendance Register";
}

<script src="~/bower_components/datatables.net/js/dataTables.buttons.min.js"></script>
<script src="~/bower_components/datatables.net/js/buttons.flash.min.js"></script>
<script src="~/bower_components/datatables.net/js/jszip.min.js"></script>
<script src="~/bower_components/datatables.net/js/buttons.print.min.js"></script>
<script src="~/bower_components/datatables.net/js/pdfmake.min.js"></script>
<script src="~/bower_components/datatables.net/js/vfs_fonts.js"></script>
<script src="~/bower_components/datatables.net/js/buttons.html5.min.js"></script>
<script src="~/bower_components/datatables.net/js/buttons.colVis.min.js"></script>
<script src="~/bower_components/datatables.net/js/dataTables.select.min.js"></script>
<link rel="stylesheet" href="~/bower_components/datatables.net/css/buttons.dataTables.min.css">

<section class="content-header">
    <h1>
        Attendance Register
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="javascript: history.go(-1)" title="Back"><i class="fa fa-arrow-left"></i> </a> |
            <a href="#" onclick="window.location.reload()" title="Refresh"><i class="fa fa-refresh"></i></a> |
            <a href="@Url.Action("Dashboard", "Dashboard")" title="Dashboard"><i class="fa fa-dashboard"></i></a>
        </li>
        <li>Studence Attendance</li>
        <li class="active">Attendance Register</li>
    </ol>
</section>
<section class="content">
    <div class="box box-primary">
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="">Session</label>
                        <div class="select">
                            @Html.DropDownListFor(m => m.SelectedSessionId, Model.SessionList, new { @class = "form-control select2", style = "width:100%;", id = "ddlSessionList" })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="">Class</label>
                        <div class="select">
                            @Html.DropDownListFor(m => m.SelectedClassId, Model.ClassList, "-- Select Class --", new { @class = "form-control select2", style = "width:100%;", id = "ddlClassList", dataChangeUrl = Url.Action("GetSectionsForClass") })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="">Section</label>
                        <div class="select">
                            @Html.DropDownListFor(m => m.SelectedSectionId, Model.SectionList, new { @class = "form-control select2", style = "width:100%;", id = "ddlSectionList", dataChangeUrl = Url.Action("GetAttRegisterMonthList") })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="">Month</label>
                        <div class="select">
                            @Html.DropDownListFor(m => m.SelectedAttRegDate, Model.AttRegDateList, new { @class = "form-control select2", style = "width:100%;", id = "ddlAttRegMonthList", dataChangeUrl = Url.Action("_StudentAttenDetails") })
                        </div>
                    </div>
                </div>


            </div>

            <div class="row">
                <div class="col-md-12" style="overflow-y:auto;">
                    <div id="divAttendanceList"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $(document).on('change', "#ddlClassList", function () {
            $.ajax({
                url: $('#ddlClassList').attr('dataChangeUrl'),
                data: { classId: $('#ddlClassList').val() },
                type: 'get',
                success: (function (data) {
                    var $ddlSec = $('#ddlSectionList');
                    $ddlSec.empty();
                    $ddlSec.append($("<option />").text("--- Select Section ---"));
                    $.each(data, function () {
                        $ddlSec.append($("<option />").val(this.SecId).text(this.SecName));
                    })
                }),
                fail: (function (error) {
                    OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
                })
            })
        });
        $(document).on('change', "#ddlSectionList", function () {
            $.ajax({
                url: $('#ddlSectionList').attr('dataChangeUrl'),
                data: { sessionId: $('#ddlSessionList').val() },
                type: 'get',
                success: (function (data) {
                    var $ddlSec = $('#ddlAttRegMonthList');
                    $ddlSec.empty();
                    $ddlSec.append($("<option />").text("--- Select Month ---"));
                    $.each(data, function () {
                        $ddlSec.append($("<option />").val(this.MonthDate).text(this.MonthName));
                    })
                }),
                fail: (function (error) {
                    OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
                })
            })
        });
        $(document).on('change', "#ddlAttRegMonthList", function () {
            $.ajax({
                url: $('#ddlAttRegMonthList').attr('dataChangeUrl'),
                beforeSend: function () {
                    spinnerShow();
                },
                data: { sessionId: $('#ddlSessionList').val(), classId: $('#ddlClassList').val(), sectionId: $('#ddlSectionList').val(), monthName: $('#ddlAttRegMonthList').val() },
                type: 'get',
                success: (function (data) {
                    $('#divAttendanceList').empty();
                    $('#divAttendanceList').html(data);
                    //alert(data);
                }),
                fail: (function (error) {
                    OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
                }),
                complete: function () {
                    spinnerHide();
                }
            })
        })
    });
</script>

