@model ISas.Entities.SMSManagement.TeacherSMSPageModel

<section class="content-header">
    <h1>
        Undelivered SMS Report
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#" onclick="window.location.reload()" title="Refresh"><i class="fa fa-refresh"></i></a> |
            <a href="javascript: history.go(-1)" title="Back"><i class="fa fa-arrow-left"></i> </a> |
            <a href="@Url.Action("Dashboard", "Dashboard")" title="Dashboard"><i class="fa fa-dashboard"></i></a>
        </li>
        <li><a href="">SMS</a></li>
        <li class="active"><a href="#">Undelivered SMS Report</a></li>
    </ol>
</section>


<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h1 class="box-title">Undelivered Messages ( @DateTime.Now.Date.ToShortDateString() )</h1>
                </div>
                <div class="box-body">
                    <table class="table table-hover table-condensed table-bordered" style="margin:0;">
                        <tbody>
                            @for (int i = 0; i < Model.UnDeliveredSMSList.Count; i++)
                            {
                                <tr>
                                    <td style="border: 0;">
                                        @Html.HiddenFor(r => Model.UnDeliveredSMSList[i].MessageId)
                                        @Html.HiddenFor(r => Model.UnDeliveredSMSList[i].FullMessage)
                                        @Html.HiddenFor(r => Model.UnDeliveredSMSList[i].ShortSMS)
                                        @Html.HiddenFor(r => Model.UnDeliveredSMSList[i].ReportName)

                                        @Html.DisplayFor(r => Model.UnDeliveredSMSList[i].ShortSMS)
                                    </td>
                                    <td class="text-right" style="border: 0;">
                                        <input type="button" class="btn btn-info btn-sm" value="View SMS" onclick="ShowFullSMS('@i')" />
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td class="text-right" colspan="2"><a href="#">Previous Messages</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="content-box-large">
        <h1 class="heading_border">Detail Message</h1>
        <div class="table-responsive">
            <table class="table" style="margin:0;">
                <tr>
                    <td>
                        @Html.HiddenFor(r => Model.SelectedSMSID)
                        @Html.TextAreaFor(r => Model.SelectedSMSText, htmlAttributes: new { style = "height:200px;width:100%;", @readonly = true })
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="btnShowStudent" disabled="disabled" class="btn orangedarkBtn" onclick="GetUnDeliveredSMSDetails()" type="button">Show Students</button>
                        <button id="btnPrintReport" disabled="disabled" class="btn btn-default" type="button" onclick="window.open('_UnDeliveredSMSDetails_ForTeacher?IsForPrint=YES','Undelivered SMS Details','width=650,height=800').print()">Print Report</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-12 " id="UnDeliveredSMSMainDiv">
            &nbsp;
        </div>
    </div>
</section>


<script type="text/javascript">
    function ShowFullSMS(i) {
        $('#SelectedSMSText').val($('#UnDeliveredSMSList_' + i + '__FullMessage').val());;
        $('#SelectedSMSID').val($('#UnDeliveredSMSList_' + i + '__MessageId').val());
        $('#btnShowStudent').attr('disabled', false);
    }

    function GetUnDeliveredSMSDetails() {
        if ($('#SelectedSMSID').val() != null || $('#SelectedSMSID').val() != "") {
            $.ajax({
                type: "GET",
                beforeSend: function () {
                    spinnerShow();
                },
                url: "../SMSTemplete/_UnDeliveredSMSDetails_ForTeacher",
                data: { MessegeId: $('#SelectedSMSID').val() },
                error: function (xhr, status, error) {
                    OpenMessegeModal($('#ErrorMsgOnJasonFailed').val());
                },
                success: function (response) {
                    $('#UnDeliveredSMSMainDiv').html(response);
                },
                complete: function () {
                    spinnerHide();
                }
            });
        } else {
            OpenMessegeModal('No Messge Selected ..!');
        }
    }
</script>


