@model  ISas.Entities.FeesEntities.Fee_ReportHtmlModel
@{
    Layout = "~/Views/Shared/_LayoutPrint.cshtml";
    bool schoolCopy = Convert.ToBoolean(System.Configuration.ConfigurationManager.AppSettings["PrintSchoolCopyReceipt"]);
}
<link href="~/bower_components/pageSize/PageSize.css" rel="stylesheet" />
<page size="A4">
    <div class="text-center" style="padding:1%;">
        <table style="height:100%;width:100%;">
            <tr>
                <td>
                    <table class="" style="border:1px solid black;font-size:14px;height:80%;width:100%;">
                        <tr>
                            <td style="padding-top:2%;padding-bottom:2%;padding-left:1%; width:100px;height:100px;"> <img src="~/@Model.ReportHeader.LogoURL" height="70" width="80" /></td>
                            <td colspan="3" class="text-center" style="font-size:18px;padding-right:11%;">
                                <strong>
                                    @Html.DisplayFor(r => Model.ReportHeader.Header1)
                                    <br /><span style="font-size:16px;">Email : @Html.DisplayFor(r => Model.ReportHeader.Header3)</span>
                                    <br /><span style="font-size:18px;">@Html.DisplayFor(r => Model.ReportHeader.ReportName)</span>
                                </strong>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <table style="width:100%;">
                                    <tr>
                                        <td style="text-align:left;padding-left:2%;"><strong>Receipt No. : &nbsp;&nbsp; @Html.DisplayFor(r => Model.StudentInfo.ReceiptNo) <small>(@Html.DisplayFor(r => Model.ReceiptStatus))</small> </strong></td>
                                        <td class="text-right" style="padding-right:2%;"><strong>Date : &nbsp;&nbsp; @Html.DisplayFor(r => Model.StudentInfo.ReceiptDate)</strong></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <table style="width:100%;">
                                    <tr>
                                        <td style="text-align:left;padding-left:2%;"><strong>Adm No. : &nbsp;&nbsp; @Html.DisplayFor(r => Model.StudentInfo.AdmNo)</strong></td>
                                        <td class="text-right" style="padding-right:2%;"><strong>Class : &nbsp;&nbsp; @Html.DisplayFor(r => Model.StudentInfo.Class)</strong></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <table style="width:100%;">
                                    <tr>
                                        <td style="text-align:left;padding-left:2%;"><strong>Student's Name : &nbsp;&nbsp; @Html.DisplayFor(r => Model.StudentInfo.Student)</strong></td>
                                        @if (schoolCopy)
                                        {
                                            <td class="text-right" style="padding-right:2%;"><strong>Student Copy</strong></td>
                                        }
                                    </tr>
                                </table>
                            </td>
                            @*<td colspan="4" style="text-align:left;padding-left:2%;"><strong>Student's Name : &nbsp;&nbsp; @Html.DisplayFor(r => Model.StudentInfo.Student)</strong></td>*@
                        </tr>
                        <tr><td colspan="4" style="text-align:left;padding-left:2%;"><strong>Father's Name : &nbsp;&nbsp; @Html.DisplayFor(r => Model.StudentInfo.Father)</strong></td></tr>

                        <tr><td class="text-center" colspan="4"> <strong>Fee of the month @Html.DisplayFor(r => Model.Duration)</strong> </td></tr>
                        <tr>
                            <td colspan="4" style="padding-left:1%;padding-right:1%;">
                                <table class="" style="width:100%;" border="1">
                                    <thead>
                                        <tr>
                                            <th style="padding-left:2%;">DURATION</th>
                                            <th style="width:60%;padding-left:2%;">PARTICULARS</th>
                                            <th class="text-right" style="padding-right:1%;">DUE</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.HeadDetails.Count; i++)
                                        {
                                            <tr>
                                                <td style="text-align:left;padding-left:2%;">@Html.DisplayFor(r => Model.HeadDetails[i].Duration)</td>
                                                <td style="text-align:left;padding-left:2%;">@Html.DisplayFor(r => Model.HeadDetails[i].HeadName)</td>
                                                <td class="text-right" style="padding-right:1%;">@Html.DisplayFor(r => Model.HeadDetails[i].Due)</td>
                                            </tr>
                                        }
                                        <tr>
                                            <td colspan="3" style="padding-left:2%;">
                                                <table style="width:100%;">
                                                    <tr>
                                                        <td style="width:60%;height:70px;vertical-align:top;text-align:left;padding-left:2%;">
                                                            <strong>
                                                                Paid By : @Html.DisplayFor(r => Model.StudentInfo.PaymentMode)
                                                                <br />
                                                                In Words : @Html.DisplayFor(r => Model.StudentInfo.AmountInWord)
                                                            </strong>
                                                        </td>
                                                        <td style="width:40%;">
                                                            <table style="width:100%;font-weight:600;">
                                                                <tr>
                                                                    <td class="text-right" style="width:60%;">Total Due Amount : </td>
                                                                    <td class="text-right" style="padding-right:2%;">@Html.DisplayFor(r => Model.TotalDue) </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-right" style="width:60%;">Exempted  : </td>
                                                                    <td class="text-right" style="padding-right:2%;">@Html.DisplayFor(r => Model.Exempted) </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-right" style="width:60%;">Advance : </td>
                                                                    <td class="text-right" style="padding-right:2%;">@Html.DisplayFor(r => Model.AdvanceAmount) </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-right" style="width:60%;">Amount to Pay  : </td>
                                                                    <td class="text-right" style="padding-right:2%;">@Html.DisplayFor(r => Model.AmounttoPay) </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-right" style="width:60%;">Total Paid Amount : </td>
                                                                    <td class="text-right" style="padding-right:2%;">@Html.DisplayFor(r => Model.TotalPaid) </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-right" style="width:60%;">Balance : </td>
                                                                    <td class="text-right" style="padding-right:2%;">@Html.DisplayFor(r => Model.Balance) </td>
                                                                </tr>

                                                                <tr>
                                                                    <td class="text-right" style="width:60%;">Excess Amount : </td>
                                                                    <td class="text-right" style="padding-right:2%;">@Html.DisplayFor(r => Model.Excess) </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="height:50px;vertical-align:bottom;text-align:left;padding-left:2%;">
                                <strong>Cashier Sign.</strong>
                            </td>
                            <td colspan="2" style="height:50px;vertical-align:bottom;text-align:right;padding-right:2%;">
                                <strong>Depositor Sign.</strong>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>

    @if (schoolCopy)
    {
        <div style="border-bottom:1px dashed black;">&nbsp;</div>
        <div class="text-center" style="padding:1%;margin-top:20px;">
            <table style="height:100%;width:100%;">
                <tr>
                    <td>
                        <table class="" style="border:1px solid black;font-size:14px;height:80%;width:100%;">
                            <tr>
                                <td style="padding-top:2%;padding-bottom:2%;padding-left:1%; width:100px;height:100px;"> <img src="~/@Model.ReportHeader.LogoURL" height="70" width="80" /></td>
                                <td colspan="3" class="text-center" style="font-size:18px;padding-right:11%;">
                                    <strong>
                                        @Html.DisplayFor(r => Model.ReportHeader.Header1)
                                        <br /><span style="font-size:16px;">Email : @Html.DisplayFor(r => Model.ReportHeader.Header3)</span>
                                        <br /><span style="font-size:18px;">@Html.DisplayFor(r => Model.ReportHeader.ReportName)</span>
                                    </strong>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <table style="width:100%;">
                                        <tr>
                                            <td style="text-align:left;padding-left:2%;"><strong>Receipt No. : &nbsp;&nbsp; @Html.DisplayFor(r => Model.StudentInfo.ReceiptNo) <small>(@Html.DisplayFor(r => Model.ReceiptStatus))</small> </strong></td>
                                            <td class="text-right" style="padding-right:2%;"><strong>Date : &nbsp;&nbsp; @Html.DisplayFor(r => Model.StudentInfo.ReceiptDate)</strong></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <table style="width:100%;">
                                        <tr>
                                            <td style="text-align:left;padding-left:2%;"><strong>Adm No. : &nbsp;&nbsp; @Html.DisplayFor(r => Model.StudentInfo.AdmNo)</strong></td>
                                            <td class="text-right" style="padding-right:2%;"><strong>Class : &nbsp;&nbsp; @Html.DisplayFor(r => Model.StudentInfo.Class)</strong></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <table style="width:100%;">
                                        <tr>
                                            <td style="text-align:left;padding-left:2%;"><strong>Student's Name : &nbsp;&nbsp; @Html.DisplayFor(r => Model.StudentInfo.Student)</strong></td>

                                            @if (schoolCopy)
                                            {
                                                <td class="text-right" style="padding-right:2%;"><strong>School Copy</strong></td>
                                            }
                                        </tr>
                                    </table>
                                </td>
                                @*<td colspan="4" style="text-align:left;padding-left:2%;"><strong>Student's Name : &nbsp;&nbsp; @Html.DisplayFor(r => Model.StudentInfo.Student)</strong></td>*@
                            </tr>
                            <tr><td colspan="4" style="text-align:left;padding-left:2%;"><strong>Father's Name : &nbsp;&nbsp; @Html.DisplayFor(r => Model.StudentInfo.Father)</strong></td></tr>

                            <tr><td class="text-center" colspan="4"> <strong>Fee of the month @Html.DisplayFor(r => Model.Duration)</strong> </td></tr>
                            <tr>
                                <td colspan="4" style="padding-left:1%;padding-right:1%;">
                                    <table class="" style="width:100%;" border="1">
                                        <thead>
                                            <tr>
                                                <th style="padding-left:2%;">DURATION</th>
                                                <th style="width:60%;padding-left:2%;">PARTICULARS</th>
                                                <th class="text-right" style="padding-right:1%;">DUE</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < Model.HeadDetails.Count; i++)
                                            {
                                                <tr>
                                                    <td style="text-align:left;padding-left:2%;">@Html.DisplayFor(r => Model.HeadDetails[i].Duration)</td>
                                                    <td style="text-align:left;padding-left:2%;">@Html.DisplayFor(r => Model.HeadDetails[i].HeadName)</td>
                                                    <td class="text-right" style="padding-right:1%;">@Html.DisplayFor(r => Model.HeadDetails[i].Due)</td>
                                                </tr>
                                            }
                                            <tr>
                                                <td colspan="3" style="padding-left:2%;">
                                                    <table style="width:100%;">
                                                        <tr>
                                                            <td style="width:60%;height:70px;vertical-align:top;text-align:left;padding-left:2%;">
                                                                <strong>
                                                                    Paid By : @Html.DisplayFor(r => Model.StudentInfo.PaymentMode)
                                                                    <br />
                                                                    In Words : @Html.DisplayFor(r => Model.StudentInfo.AmountInWord)
                                                                </strong>
                                                            </td>
                                                            <td style="width:40%;">
                                                                <table style="width:100%;font-weight:600;">
                                                                    <tr>
                                                                        <td class="text-right" style="width:60%;">Total Due Amount : </td>
                                                                        <td class="text-right" style="padding-right:2%;">@Html.DisplayFor(r => Model.TotalDue) </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="text-right" style="width:60%;">Exempted  : </td>
                                                                        <td class="text-right" style="padding-right:2%;">@Html.DisplayFor(r => Model.Exempted) </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="text-right" style="width:60%;">Advance : </td>
                                                                        <td class="text-right" style="padding-right:2%;">@Html.DisplayFor(r => Model.AdvanceAmount) </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="text-right" style="width:60%;">Amount to Pay  : </td>
                                                                        <td class="text-right" style="padding-right:2%;">@Html.DisplayFor(r => Model.AmounttoPay) </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="text-right" style="width:60%;">Total Paid Amount : </td>
                                                                        <td class="text-right" style="padding-right:2%;">@Html.DisplayFor(r => Model.TotalPaid) </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="text-right" style="width:60%;">Balance : </td>
                                                                        <td class="text-right" style="padding-right:2%;">@Html.DisplayFor(r => Model.Balance) </td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td class="text-right" style="width:60%;">Excess Amount : </td>
                                                                        <td class="text-right" style="padding-right:2%;">@Html.DisplayFor(r => Model.Excess) </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="height:50px;vertical-align:bottom;text-align:left;padding-left:2%;">
                                    <strong>Cashier Sign.</strong>
                                </td>
                                <td colspan="2" style="height:50px;vertical-align:bottom;text-align:right;padding-right:2%;">
                                    <strong>Depositor Sign.</strong>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    }
</page>
<script>
        if ('@ViewBag.PrintOnly' == "YES") {
            $(function () {
                window.print();
                window.close();
            });
        }
</script>