@using ISas.Web.Models;
@model List<ISas.Entities.Academic.Academic_ProfessionMasterModels>
@{
    int rowlength = 0;
    if (Model != null && Model.Count > 0)
    {
        rowlength = Model.Count;
    }
}
<!-- /.box -->
<div class="box box-primary">
    <!-- /.box-header -->
    <div class="box-header with-border">
        <div class="box-title">
            <h5 class="box-title">Profession List</h5>
        </div>
    </div>
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>S. No</th>
                    <th>Profession</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count > 0)
                {
                    int count = 1;
                    for (int i = 0; i < Model.Count(); i++)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(r => count)
                                @Html.HiddenFor(r => Model[i].ProfId, htmlAttributes: new { id = "ProfId_" + @i })
                            </td>
                            <td>
                                <span style="display:none;"> @Html.DisplayFor(r => Model[i].ProfName)</span>
                                @Html.TextBoxFor(r => Model[i].ProfName, htmlAttributes: new { @class = "form-control editableFeild_" + @i + "", id = "ProfName_" + @i, @readonly = true })
                            </td>
                            <td class="text-center">
                                @if (Model[i].IsDeletable)
                                {
                                    <a href="#" onclick="DeleteProfessionConfirm('@Model[i].ProfId')" title="Delete Profession" class="fa fa-trash btnDefaultColor"></a>
                                }
                                else
                                {
                                    <a href="#" title="Delete Class" class="fa fa-trash btnDefaultColorFaded"></a>
                                }

                                <a href="#" onclick="EnableEditableRow('@i')" id="btnEdit_@i" style="" title="Edit Profession" class="fa fa-edit btnDefaultColor"></a>
                                <a href="#" onclick="UpdateProfession('@i')" id="btnSave_@i" style="display:none;" title="Save Profession" class="fa fa-check btnDefaultColor"></a>
                            </td>
                        </tr>
                        count++;
                    }
                }
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
<script>
    $(function () {
        $('#example1').DataTable();
        $('#hddnRowLenght').val('@rowlength');
    });
</script>