@model List<ISas.Entities.Academic.Academic_DepartmentMasterModels>
@{
    int rowlength = 0;
    if (Model != null && Model.Count > 0)
    {
        rowlength = Model.Count;
    }
}
<!-- /.box -->
<div class="box box-primary">
    <!-- /.box-header -->
    <div class="box-header with-border">
        <div class="box-title">
            <h5 class="box-title">Department List</h5>
        </div>
    </div>
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>S. No</th>
                    <th>Department</th>
                    <th>Staff Count</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count > 0)
                {
                    int count = 1;
                    for (int i = 0; i < Model.Count(); i++)
                    {
                        <tr id="displayOnly_@i" style="display:normal;">
                            <td>
                                @Html.HiddenFor(r => Model[i].DeptID, htmlAttributes: new { id = "DeptID_" + @i })
                                @Html.DisplayFor(r => count)
                            </td>
                            <td>
                                <span style="display:none;"> @Html.DisplayFor(r => Model[i].DeptName)</span>
                                @Html.TextBoxFor(r => Model[i].DeptName, htmlAttributes: new { @class = "form-control editableFeild_" + @i + "", @readonly = true, id = "DeptName_" + @i })
                            </td>
                            <td>@Html.DisplayFor(r => Model[i].StaffStrength)</td>
                            <td class="text-center">
                                @if (Model[i].IsDeletable)
                                {
                                    <a href="#" onclick="DeleteDepartmentConfirm('@Model[i].DeptID')" title="Delete Department" class="fa fa-trash btnDefaultColor"></a>
                                }
                                else
                                {
                                    <a href="#" title="Delete Department" class="fa fa-trash btnDefaultColorFaded"></a>
                                }

                                <a href="#" onclick="EnableEditableRow('@i')" id="btnEdit_@i" style="display:normal" title="Edit Department" class="fa fa-edit btnDefaultColor"></a>

                                <a href="#" onclick="UpdateDepartment('@i')" id="btnSave_@i" style="display:none;" title="Save Department" class="fa fa-check btnDefaultColor"></a>
                            </td>
                        </tr>

                        count++;
                    }
                }
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
<script>
    $(function () {
        $('#example1').DataTable();
        $('#hddnRowLenght').val('@rowlength');
    });
</script>