@model  ISas.Entities.FeesEntities.paymentStatus

@{
    //Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    ViewBag.Title = "SuccessPayment";
}


<html>
<head>
    <link href="~/paytm/css/style.css" rel="stylesheet" />
</head>

<body>

    <div class="content">



        <div class="container">
            <img src="~/paytm/images/success.png" class="success-img" />
            <!--<img src="~/Areas/StudentAnyPay/Content/images/success.png" class="success-img" />-->
            @*<img src="images/success.png" class="success-img">*@
            <div class="head">
                <h1 class="success-title">Your Payment is Successfull..!</h1>
                <div> <label> <span>  <b>  Transaction ID : @Model.transactionId </b></span> </label></div>
                <div> <label> <span>  <b>  Bank Refrence No : @Model.bankRefrenceNo</b></span> </label></div>
                <div> <label> <span>  <b>  Amount : @Model.amount</b></span> </label></div>
                <div> <label> <span>  <b>  Payment Mode : @Model.paymentMode</b></span> </label></div>
                <div> <label> <span>  <b>  Payment Status : @Model.status</b></span> </label></div>
                <div> <label> <span>  <b>  Payment Success On : @Model.transactionDateTime </b></span> </label></div>

            </div>



            @*<div class="input-div">
                    <b>    <label>Transaction ID:&nbsp;&nbsp;&nbsp; </label><input type="text" value="@Model.trackingId" class="input-box"></b>
                </div>*@
            @*<div class="input-div" style="margin-left:15%;">
                    <label><b>Order ID:</b>&nbsp;&nbsp;&nbsp; </label><input type="text" value="@Model.tnxId" class="input-box">
                </div>

                <div class="input-div" style=" margin-left:17%;">
                    <b>  <label>Payment Success On:&nbsp;&nbsp;&nbsp;</label><input type="text" value="@Model.paymentSuccessOn" class="input-box" style="width:70%;"></b>
                </div>*@
            <input type="button" id="btnback" class="fail-button" value="Go Back to Dashbaord">
        </div>

    </div>
</body>

</html>

<script>
    $('#btnback').on('click', function () {
        window.location.href = "/StudentFeeDetails/StudentFeeDetailsMainPage";
    });
</script>