@using ISas.Web.Models;
@model ISas.Entities.TimeTable_Entities.TimeTable_SetupModels


<div id="encodedStrUrl" style="display:none;">
    @Html.EncodedPath("", "New_V2", "TimeTable_Setup", new { ClassSectionId=Model.ClassSectionId,ClassSectionName=Model.ClassSectionName,ClassTeacherName=Model.ClassTeacherName}, htmlAttributes: new { })
</div>


@using (Html.BeginForm("TimeTable_Setup_CRUD_V2", "TimeTable_Setup", FormMethod.Post, htmlAttributes: new { }))
{
    <div class="box box-widget">
        <div class="box-body" style="width:100%">
            <div class="row">
                <div class="col-md-2">
                    <label for="">@Html.Label("Subject 1")</label>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">

                        @Html.DropDownList("p1", new SelectList(Model.SubjectList, "Value", "Text"), "--Select Subject--",
                       htmlAttributes: new { @class = "form-control select2", style = "width:100%;" })


                    </div>
                </div>

            </div>


            <div class="row">

                <div class="col-md-2">
                    <label for="">@Html.Label("Subject 2")</label>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                        <div class="select">
                            @Html.DropDownList("p2", new SelectList(Model.SubjectList, "Value", "Text"), "--Select Subject--", htmlAttributes: new { @class = "form-control select2", style = "width:100%;" })
                        </div>
                    </div>
                </div>


            </div>

            <div class="col-xs-12 col-sm-6 col-md-1">
                <div class="input-group">
                    <input type="button" class="btn btn-primary btn-sm" value="Add Subject" onclick="AddSubject('@Model.ClassSectionId','@Model.p','@Model.d','Add')" />

                </div>
            </div>
        </div>
    </div>
}
<script>
    
    function AddSubject(classsectionId, p, d,mode) {
        console.log(classsectionId);
        var pdValue = $('#p1').val() + '_' + $('#p2').val();
        $.ajax({
            type: "GET",
            beforeSend: function () {
                spinnerShow();
            },
            url: "../TimeTable_Setup/TimeTable_Setup_CRUD_V2",
            data: {
                classsectionId: classsectionId,
                p: p,
                d: d,
                pdValue: pdValue,
                mode:mode
            },
            error: function (xhr, status, error) {
                OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
            },
            success: function (response) {

                $('#mainModalWithSave').modal('toggle');
                $(window).bind("../TimeTable_Setup/New_V2_Inner", loadPartial());
                //window.location.href = $('#encodedStrUrl').html();
                //OpenModalWithSave(response, 'Edit Invoice For : ' + studentName)
            },
            complete: function () {
                spinnerHide();
            }
        });
    }
</script>

