@model ISas.Entities.TimeTable_Entities.TimeTable_SetupModels
<script type="text/javascript" src="../bower_components/newCustomJS/jquery.easyui.min.js"></script>
@{
    int colspanCount = @Model.PeriodDetailsList.Count + 2;
}
<style>
    .item {
        text-align: center;
        border: 1px solid #499B33;
    }
</style>

<section class="content-header">
    <h1>Class Time Table Setup</h1>
    <ol class="breadcrumb">
        <li>
            <a href="javascript: history.go(-1)" title="Back"><i class="fa fa-arrow-left"></i> </a> |
            <a href="#" onclick="window.location.reload()" title="Refresh"><i class="fa fa-refresh"></i></a> |
            <a href="@Url.Action("Dashboard", "Dashboard")" title="Dashboard"><i class="fa fa-dashboard"></i></a>
        </li>
        <li><a href="@Url.Action("LandingPage", "TimeTable_Setup")">Timetable Setup</a></li>
        <li class="active">Class Time Table Setup</li>
    </ol>
</section>

<section class="content">
    @using (Html.BeginForm("TimeTable_Setup_CRUD_V1", "TimeTable_Setup", FormMethod.Post, htmlAttributes: new { }))
    {
        @Html.HiddenFor(r => Model.ClassSectionId)
        <div class="box box-primary">
            <div class="box-header with-border">
                <h5 class="box-title">Class : @Html.DisplayFor(r => Model.ClassSectionName), Class Teacher : <span class="text-primary"> @Html.DisplayFor(r => Model.ClassTeacherName) </span> </h5>
                <h5 class="box-title pull-right">
                    <input type="button" class="btn btn-primary btn-sm" value="SAVE" onclick="DoAjaxPostAndMore(this)" />
                    @*<input type="submit" class="btn btn-primary btn-sm" value="SAVE" />*@
                </h5>
                <span class="box-title pull-right" style="padding-right:1%;padding-top:0.5%;">
                    <a href="#" onclick="printTimeTable()" title="Print Time Table" class="fa fa-print btnDefaultColor"></a>
                </span>
            </div>
            <div class="box-body">
                <div class="row">
                    @*<div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12 left">
                                    <table class="table table-bordered">
                                        @for (int i = 0; i < Model.SubjectList.Count; i++)
                                        {
                                            <tr>
                                                <td>
                                                    <div id="@Model.SubjectList[i].Value" subjectName="@Model.SubjectList[i].Text" subjectId="@Model.SubjectList[i].Value" class="item">@Html.DisplayFor(r => Model.SubjectList[i].Text)</div>
                                                </td>
                                                <td class="text-center">
                                                    <a href="#" onclick="GetStaffTimeTable('@Model.SubjectList[i].StaffId', '@Model.SubjectList[i].StaffName')" title="View Time Table" class="glyphicon glyphicon-calendar btnDefaultColor"></a>
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>*@
                    <div class="col-md-12">
                        <div class="col-md-12 right">
                            <table id="mytable" class="table table-responsive table-bordered table-condensed" border="1" cellpadding="0" cellspacing="0">
                                <thead>
                                    @*<tr>
                                            <th class="blank" style="height:50px;background-color:#cea5ef;color:white;text-align:center;vertical-align:middle;">PERIOD/DAY</th>
                                            @for (int i = 0; i < Model.DaysList.Count; i++)
                                            {
                                                @Html.HiddenFor(m => m.DaysList[i])

                                                <th class="title" style="height:50px;background-color:#cea5ef;color:white;text-align:center;vertical-align:middle;">@Html.DisplayFor(r => Model.DaysList[i])</th>
                                            }
                                        </tr>*@

                                    <tr>
                                        <th class="blank" style="height:50px;background-color:Highlight;color:white;text-align:center;vertical-align:middle;">PERIOD/DAY</th>
                                        @for (int i = 0; i < Model.singleperiodtimetable.Count; i++)
                                        {
                                            @Html.HiddenFor(r => Model.singleperiodtimetable[i].PeriodName)
                                            @Html.HiddenFor(r => Model.singleperiodtimetable[i].PeriodTime)
                                            <th class="title" style="height:50px;background-color:Highlight;color:white;text-align:center;vertical-align:middle;">@Html.DisplayFor(r => Model.singleperiodtimetable[i].PeriodName)</th>
                                        }
                                    </tr>


                                </thead>

                                @*@for (int i = 0; i < Model.singleperiodtimetable.Count; i++)
                                    {
                                        @Html.HiddenFor(r => Model.singleperiodtimetable[i].PeriodName)
                                        @Html.HiddenFor(r => Model.singleperiodtimetable[i].PeriodTime)

                                        <tr>
                                            <td style="width:100px;height:60px;text-align: center;vertical-align: middle;background-color:#cea5ef;color:white;" class="time"> @Html.DisplayFor(r => Model.singleperiodtimetable[i].PeriodName) <small></small>  </td>
                                            @for (int j = 0; j < Model.singleperiodtimetable[i].dropdownList.Count; j++)
                                            {
                                                <td style="max-width:100px;min-width:100px;" valueofI="@i" valueofJ="@j" class="drop text-center">


                                                    @Html.DropDownListFor(m => m.singleperiodtimetable[i].dropdownList[j].teacherSubjectCode ,
                                                   Model.singleperiodtimetable[i].dropdownList[j].dropdown

                                                   , "--Select--", htmlAttributes: new { onchange = "checkTeacherLoad("+i+","+j+")", @class = "form-control select2", style = "width:100%;" })


                                                </td>
                                            }
                                        </tr>
                                    }*@




                                @for (int i = 0; i < Model.DaysList.Count; i++)
                                {
                                    @*@Html.HiddenFor(r => Model.singleperiodtimetable[i].PeriodName)
                                        @Html.HiddenFor(r => Model.singleperiodtimetable[i].PeriodTime)*@
                                    @Html.HiddenFor(m => m.DaysList[i])
                                    <tr>
                                        <td style="width:100px;height:60px;text-align: center;vertical-align: middle;background-color:Highlight;color:white;" class="time"> @Html.DisplayFor(r => Model.DaysList[i]) <small></small>  </td>

                                        @for (int j = 0; j < Model.singleperiodtimetable.Count; j++)
                                        {
                                            <td style="max-width:100px;min-width:100px;" valueofI="@i" valueofJ="@j" class="drop text-center">


                                                @Html.DropDownListFor(m => m.singleperiodtimetable[j].dropdownList[i].teacherSubjectCode ,
                                                Model.singleperiodtimetable[j].dropdownList[i].dropdown

                                               , "--Select--", htmlAttributes: new { onchange = "checkTeacherLoad("+j+","+i+")", @class = "form-control select2", style = "width:100%;" })


                                            </td>
                                        }
                                    </tr>
                                }



                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box-footer">
                <div class="row">
                    <div class="col-md-12">
                        <label class="text-danger">Note/Abbreviation :</label>
                        <div class="row">
                            <div class="col-md-2">
                                <ul>
                                    <li>OL :- Overloaded</li>
                                </ul>
                            </div>
                            <div class="col-md-2">
                                <ul>
                                    <li>FL :- Fully Loaded</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</section>

<div style="display:none;">
    @{ Html.RenderAction("_ReportHeader", "Common", new { ReportName = "Class Time Table" });}
</div>


<table cellpadding="0" cellspacing="0" id="tblTimeTableMain" style="display:none;width:100%;border:1px solid black;text-align:center;">
    <tr>
        <td colspan="@colspanCount" style="border:1px solid black;text-align:center;font-size:22px;">
            Class : @Html.DisplayFor(r => Model.ClassSectionName),
            Class Teacher : @Html.DisplayFor(r => Model.ClassTeacherName)
        </td>
    </tr>
    <tr style="border:1px solid black;text-align:center;font-size:18px;">
        <td style="border:1px solid black; width:60px"></td>
        @for (int i = 0; i < Model.PeriodDetailsList.Count; i++)
        {
            <td style="border:1px solid black;text-align:center;">@Html.DisplayFor(r => Model.PeriodDetailsList[i].PeriodName)</td>
        }
    </tr>



    @for (int i = 0; i < Model.DaysList.Count; i++)
    {
        <tr style="border:1px solid black;">
            <td style="width:100px;height:60px;text-align: center;vertical-align: middle;border:1px solid black; padding:5px;" class="time"> @Html.DisplayFor(r => Model.DaysList[i]) </td>
            @for (int j = 0; j < Model.PeriodDetailsList.Count; j++)
            {
                <td style="max-width:150px;min-width:150px;border:1px solid black;text-align:center;">
                    <span> @Html.DisplayFor(r => Model.PeriodDetailsList[j].PeriodInfoList[i].SubjectName)</span>
                    @*<br />
                    <span> @Html.DisplayFor(r => Model.PeriodDetailsList[j].PeriodInfoList[i].TeacherName)</span>*@
                </td>
            }
        </tr>
    }



</table>


<script>


    function GetStaffTimeTable(StaffId, StaffName) { //, StaffName
        $.ajax({
            type: "GET",
            beforeSend: function () {
                spinnerShow();
            },
            url: "../Staff_StaffDetailMaster/_StaffTimeTable",
            data: { StaffId: StaffId, StaffName: StaffName },
            error: function (xhr, status, error) {
                OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
            },
            success: function (result) {
                OpenModalWithSave(result, 'Time Table For :- ' + StaffName);
            },
            complete: function () {
                spinnerHide();
            }
        });
    }

    function printTimeTable() {
        var html = $('#reportHeaderDiv').html();
        html += '<table cellpadding="0" cellspacing="0" style="width:100%;border:1px solid black;text-align:center;">'
        html += $('#tblTimeTableMain').html();
        html += '</table>';
        var w = window.open();
        $(w.document.body).html(html);
        w.print();
        //w.close();
    }




    function checkTeacherLoad(period,day) {

        var onlyEmpId = "", staffsubjectcoe = "";
        staffsubjectcoe = $('#singleperiodtimetable_' + period + '__dropdownList_' + day + '__teacherSubjectCode').val();
        onlyEmpId = staffsubjectcoe.substring(10, 20);
        $.ajax({
            type: "GET",
            beforeSend: function () {
                spinnerShow();
            },
            url: "../TimeTable_Setup/CheckStaffAvailabilityForTimeTable",
            data: { StaffId: onlyEmpId, Period: 'P' + period, DayNo: day },


            error: function (xhr, status, error) {
                OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
            },
            success: function (result) {

                if (result.status == true || result.status == 'True') {

                }
                else {

                OpenMessegeModal(result.Msg, 'Info', 'sm', 'Info..!');
                }
            },
            complete: function () {
                spinnerHide();
            }
        });
    }



    function DoAjaxPostAndMore(btnClicked) {
        var $form = $(btnClicked).parents('form');
        $.ajax({
            type: "POST",
            beforeSend: function () {
                spinnerShow();
            },
            url: $form.attr('action'),
            data: $form.serialize(),
            error: function (xhr, status, error) {
                OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
            },
            success: function (response) {
                if (response.status == 'success') {
                    OpenMessegeAutoHideDiv(response.Msg, response.Color);
                    setTimeout(function () { window.location.reload(); }, $('#hddnReloadTime').val());
                }
                else {
                    AddErrorAttributeCSS(response.ErrorList); //Available in CustomCommon.js
                    AddValidAttributeCSS(response.ValidKeyList); //Available in CustomCommon.js
                }
            },
            complete: function () {
                spinnerHide();
            }
        });
    }


    function getTeacherList() {
        $.ajax({
            type: "GET",
            beforeSend: function () {
                spinnerShow();
            },
            url: '../TimeTable_Setup/_TeacherList',
            data: { ClassSectionId: $('#ClassSectionId').val(), SubjectId: $('#SubjectId').val() },
            error: function (xhr, status, error) {
                OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
            },
            success: function (response) {
                $('#teacherDetailsMainDiv').html(response);
            },
            complete: function () {
                spinnerHide();
            }
        });
    }

    
</script>
