@using ISas.Web.Models;
@model ISas.Entities.TimeTable_Entities.TimeTable_SetupModels
<script type="text/javascript" src="../bower_components/newCustomJS/jquery.easyui.min.js"></script>
@{
    int colspanCount = @Model.DaysList.Count + 2;
}


<div id="encodedStrUrl" style="display:none;">
    @Html.EncodedPath("", "New_V2", "TimeTable_Setup", new { ClassSectionId = Model.ClassSectionId, ClassSectionName = Model.ClassSectionName, ClassTeacherName = Model.ClassTeacherName }, htmlAttributes: new { })
</div>



<style>
    .item {
        text-align: center;
        border: 1px solid #499B33;
    }
</style>

<section class="content-header">
    <h1>Class Time Table Setup</h1>
    <ol class="breadcrumb">
        <li>
            <a href="javascript: history.go(-1)" title="Back"><i class="fa fa-arrow-left"></i> </a> |
            <a href="#" onclick="window.location.reload()" title="Refresh"><i class="fa fa-refresh"></i></a> |
            <a href="@Url.Action("Dashboard", "Dashboard")" title="Dashboard"><i class="fa fa-dashboard"></i></a>
        </li>
        <li><a href="@Url.Action("LandingPage", "TimeTable_Setup")">Timetable Setup</a></li>
        <li class="active">Class Time Table Setup</li>
    </ol>
</section>

<section class="content">
    @using (Html.BeginForm("TimeTable_Setup_CRUD", "TimeTable_Setup", FormMethod.Post, htmlAttributes: new { }))
    {
        @Html.HiddenFor(r => Model.ClassSectionId)
        <div class="box box-primary">
            <div class="box-header with-border">
                <h5 class="box-title">Class : @Html.DisplayFor(r => Model.ClassSectionName), Class Teacher : <span class="text-primary"> @Html.DisplayFor(r => Model.ClassTeacherName) </span> </h5>
                <h5 class="box-title pull-right">
                    <input type="button" class="btn btn-primary btn-sm" value="SAVE" onclick="DoAjaxPostAndMore(this)" />
                </h5>
                <span class="box-title pull-right" style="padding-right:1%;padding-top:0.5%;">
                    <a href="#" onclick="printTimeTable()" title="Print Time Table" class="fa fa-print btnDefaultColor"></a>
                </span>
            </div>
            <div class="box-body">


                @*Html.Partial("New_V2_Inner", Model)*@


                <div class="" id="bankMasterDetailsMainDiv">
                    @{ Html.RenderAction("New_V2_Inner", "TimeTable_Setup", new
                        {
                            ClassSectionId = Model.ClassSectionId,
                            ClassSectionName = Model.ClassSectionName,
                            ClassTeacherName = Model.ClassTeacherName

                        });}
                </div>

                

            </div>

            @*<div class="box-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="text-danger">Note/Abbreviation :</label>
                            <div class="row">
                                <div class="col-md-2">
                                    <ul>
                                        <li>OL :- Overloaded</li>
                                    </ul>
                                </div>
                                <div class="col-md-2">
                                    <ul>
                                        <li>FL :- Fully Loaded</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
        </div>
    }
</section>

<div style="display:none;">
    @{ Html.RenderAction("_ReportHeader", "Common", new { ReportName = "Class Time Table" });}
</div>


<table cellpadding="0" cellspacing="0" id="tblTimeTableMain" style="display:none;width:100%;border:1px solid black;text-align:center;">
    <tr>
        <td colspan="@colspanCount" style="border:1px solid black;text-align:center;font-size:22px;">
            Class : @Html.DisplayFor(r => Model.ClassSectionName),
            Class Teacher : @Html.DisplayFor(r => Model.ClassTeacherName)
        </td>
    </tr>
    <tr style="border:1px solid black;text-align:center;font-size:18px;">
        <td style="border:1px solid black; width:60px"></td>
        @for (int i = 0; i < Model.PeriodDetailsList.Count; i++)
        {
            <td style="border:1px solid black;text-align:center;">@Html.DisplayFor(r => Model.PeriodDetailsList[i].PeriodName)</td>
        }
    </tr>



    @for (int i = 0; i < Model.DaysList.Count; i++)
    {
        <tr style="border:1px solid black;">
            <td style="width:100px;height:60px;text-align: center;vertical-align: middle;border:1px solid black; padding:5px;" class="time"> @Html.DisplayFor(r => Model.DaysList[i]) </td>
            @for (int j = 0; j < Model.PeriodDetailsList.Count; j++)
            {
                <td style="max-width:150px;min-width:150px;border:1px solid black;text-align:center;">
                    <span> @Html.DisplayFor(r => Model.PeriodDetailsList[j].PeriodInfoList[i].SubjectName)</span>
                    @*<br />
                        <span> @Html.DisplayFor(r => Model.PeriodDetailsList[j].PeriodInfoList[i].TeacherName)</span>*@
                </td>
            }
        </tr>
    }



</table>






<script>

    function printTimeTable() {
        var html = $('#reportHeaderDiv').html();
        html += '<table cellpadding="0" cellspacing="0" style="width:100%;border:1px solid black;text-align:center;">'
        html += $('#tblTimeTableMain').html();
        html += '</table>';
        var w = window.open();
        $(w.document.body).html(html);
        w.print();
        //w.close();
    }

    function AddSubject_v1(p, d) {
        $.ajax({
            type: "GET",
            beforeSend: function () {
               // spinnerShow();
            },
            url: "../TimeTable_Setup/_AddSubject",
            data: {
                p: p, d: d, classsectionid: '@Model.ClassSectionId', classsection: '@Model.ClassSectionName', classteacher:'@Model.ClassTeacherName'
            },
            error: function (xhr, status, error) {

                OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
            },
            success: function (response) {
                
                OpenModalWithSave(response, 'Time Table For : ' + '@Model.ClassSectionName')
                //$('#feeStrectureDetailsMainDiv').html(response);
            },
            complete: function () {
                //spinnerHide();
            }
        });
    }

    function RemoveSubject_v1(p, d) {
        $.ajax({
            type: "GET",
            beforeSend: function () {
                spinnerShow();
            },
            url: "../TimeTable_Setup/TimeTable_Setup_CRUD_V2",
            data: {
                classsectionId: '@Model.ClassSectionId',
                p: p,
                d: d,
                pdValue: 'Remove',
                mode: 'Remove'
            },
            error: function (xhr, status, error) {
                OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
            },
            success: function (response) {
                window.location.href = $('#encodedStrUrl').html();
            },
            complete: function () {
                spinnerHide();
            }
        });
    }


    function loadPartial() {
        $.ajax({
            type: "GET",
            beforeSend: function () {
                spinnerShow();
            },
            url: "../TimeTable_Setup/New_V2_Inner",
            data: {

                ClassSectionId: '@Model.ClassSectionId',
                ClassSectionName: '@Model.ClassSectionName',
                ClassTeacherName: '@Model.ClassTeacherName'

            },
            error: function (xhr, status, error) {
                OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
            },
            success: function (result) {
                $('#bankMasterDetailsMainDiv').html(result);
            },
            complete: function () {
                spinnerHide();
            }
        });
    }
</script>
