@model List<ISas.Entities.DashboardEntities.homework>
@using ISas.Web.Models;
<div class="">
    <table id="tblhomeworkList" class="table table-hover table-bordered table-responsive table-condensed">
        <thead>
            <tr>
                <th>S.No.</th>
                <th>Title</th>
                <th>Subject</th>
                <th>Date</th>
                <th>Submission Date</th>
                <th>Status</th>
                <th>Is Reviewed</th>
                <th >Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count > 0)
            {
                int count = 1;
                for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>@Html.DisplayFor(r => count)</td>
                        <td>
                            @Html.DisplayFor(r => Model[i].homeWorkTitle)
                            @Html.HiddenFor(r => Model[i].homeWorkId)
                        </td>
                        <td>@Html.DisplayFor(r => Model[i].subject)</td>
                        <td>@Html.DisplayFor(r => Model[i].homeWorkDate)</td>
                        <td>@Html.DisplayFor(r => Model[i].submissionDate)</td>
                        <td>@Html.DisplayFor(r => Model[i].status)</td>
                        <td>@Html.DisplayFor(r => Model[i].isReviewed)</td>

                        <td align="center">

                            @Html.EncodedActionLink(" ", "HomeWorkDetail", "StudentHomework", new { homeworkid = Model[i].homeWorkId }, htmlAttributes: new { @class = "fa fa-sign-out", target = "_blank",title="Go to activity" })
                        </td>
                    </tr>
                    count++;
                }
            }
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#tblhomeworkList').DataTable({
            "pageLength": 100,
        });
    });
    $('#tblhomeworkList tr:not(:first)').each(function () {
        var status = $(this).find("td").eq(5).html();
        if (status == "Not submitted") {
            $(this).css('background-color', 'coral');
        }
        else {
            $(this).css('background-color', 'lightgreen');
        }
    });

    //$('tr').each(function () {
    //    var jRow = $(this);
    //    // for each table cell
    //    jRow.find('td').each(function () {
    //        // get table cell value and try to convert to an float
    //        var fValue = $(this).text();
    //        // if value is a number and less then zero
    //        console.log(fValue);
    //        if (fValue == "Not submitted") {
    //            // change the background color of the row to red
    //            jRow.css('background-color','orange');
    //        }
    //        else {
    //            jRow.css('background-color', 'yellow');
    //        }
    //    });
    //});

</script>
