@model ISas.Web.ViewModels.Student_PhotoUploadViewModel

@{
    ViewBag.Title = "Photo Upload";
}

<section class="content-header">
    <h1>
        Photo Upload
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="javascript: history.go(-1)" title="Back"><i class="fa fa-arrow-left"></i> </a> |
            <a href="#" onclick="window.location.reload()" title="Refresh"><i class="fa fa-refresh"></i></a> |
            <a href="@Url.Action("Dashboard", "Dashboard")" title="Dashboard"><i class="fa fa-dashboard"></i></a>
        </li>
        <li><a href="#">Students</a></li>
        <li><a href="#">Photo Upload</a></li>
    </ol>
</section>

<section class="content">
    <div class="box box-primary">
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="">Session</label>
                        <div class="select">
                            @Html.HiddenFor(r => Model.SelectedSessionId)
                            @Html.DropDownListFor(m => m.SelectedSessionId, Model.SessionList, new { @class = "form-control select2", style = "width:100%;", disabled = "disabled" })
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="">Class</label>
                        <div class="select">
                            @Html.DropDownListFor(m => m.SelectedClassId, Model.ClassList, "-- Select Class --", new { @class = "form-control select2", style = "width:100%;", onchange = "getSectionList()" })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="">Section</label>
                        <div class="select">
                            @Html.DropDownListFor(m => m.SelectedSectionId, Model.SectionList, new { @class = "form-control select2", style = "width:100%;", onchange = "getStudentList()" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="divAttendanceList">
                        @Html.Partial("_ClassPhotoListPartial", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript">

    function myfunction() {
        var myTableArray = [];
        $('#AttendanceTable tr:not(:first)').each(function () {
            var tds = $(this).find('td');
            var myDets = {
                studentERPNo: $(tds[0]).html(), StudentMorningAttendnace: $(tds[6]).text(),
                StudentAfternoonAttendnace: $(tds[7]).text(), StudentLeaveType: $(tds[8]).find(":selected").val()
            }
            myTableArray.push(myDets);
        });
        return myTableArray;
    }

    function getSectionList() {
        $.ajax({
            url: '../Student_PhotoUpload/GetSectionsForClass',
            data: { classId: $('#SelectedClassId').val() },
            type: 'get',
            success: (function (data) {
                var $ddlSec = $('#SelectedSectionId');
                $ddlSec.empty();
                $ddlSec.append($("<option />").text("--- Select Section ---"));
                $.each(data, function () {
                    $ddlSec.append($("<option />").val(this.SecId).text(this.SecName));
                })
            })
        })
    }

    function getStudentList() {
        $.ajax({
            url: '../Student_PhotoUpload/_GetClassPhotoList',
            beforeSend: function () {
                spinnerShow();
            },
            data: { sessionId: $('#SelectedSessionId').val(), classId: $('#SelectedClassId').val(), sectionId: $('#SelectedSectionId').val(), attdate: $('#student_attendance_date').val() },
            type: 'get',
            success : (function (data) {
                $('#divAttendanceList').empty();
                $('#divAttendanceList').html(data);
            }),
            complete: function () {
                spinnerHide();
            }
        })
    }

    $(document).ready(function () {
        $('#savebutton').click(function () {
            var myTableArray = [];
            var myTableArray = myfunction();
            event.preventDefault();
            $.ajax({
                type: 'POST',
                beforeSend: function () {
                    spinnerShow();
                },
                url: '@Url.Action("SaveStudentAttendance", "StudentAttendance")',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(
                    {
                        attdate: $('#student_attendance_date').val(), ClassAttendanceList: myTableArray
                    }),
                success: function (result) {
                    OpenMessegeModal(result);
                    window.location.href = '@Url.Action("DailyAttendance","StudentAttendance")';
                },
                error: function () {
                    OpenMessegeModal($('#ErrorMsgOnJasonFailed').val());
                },
                complete: function () {
                    spinnerHide();
                }
            });
            //$('#divAttendanceList').empty();
        });

    });

</script>


