@model ISas.Web.ViewModels.Exam_AchievementViewModel

<div>
    <h4>
        Client Name :- Bal Vikas School, Panipat<br />
        Date        :- @DateTime.Now <br />
        Report Name :- Achievement for (@Html.DisplayFor(r => Model.TermName), @Html.DisplayFor(r => Model.ClassName) - @Html.DisplayFor(r => Model.SectionName))
    </h4>
</div>

<table  class="table table-bordered table-responsive">
    <thead>
        <tr>
            <th>Adm No.</th>
            <th>Roll No.</th>
            <th>Student Name</th>
            <th>Achievement</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.StudentAchievementList)
        {
            <tr class="abc">
                <td>@item.Student.StudentAdmNo </td>
                <td>@item.Student.StudentRollNo </td>
                <td>@item.Student.StudentName </td>
                <td>@Html.DisplayFor(m => item.Achievement)</td>
            </tr>
        }
    </tbody>
</table>

