@model ISas.Entities.StudentSearchByPropertyModel

<div class="box-body">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="radio">
                            <label>@Html.RadioButtonFor(m => m.SearchType, "Student", htmlAttributes: new { @checked = "checked" }) Student </label>
                            <label>@Html.RadioButtonFor(m => m.SearchType, "Father", htmlAttributes: new { })Father</label>
                            <label>@Html.RadioButtonFor(m => m.SearchType, "Mother", htmlAttributes: new { })Mother</label>
                            <label>@Html.RadioButtonFor(m => m.SearchType, "Class", htmlAttributes: new { }) Class </label>
                            @Html.ValidationMessageFor(r => Model.SearchType, null, htmlAttributes: new { style = "color:red;" })
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <div class="">
                            @Html.DropDownListFor(m => m.SelectedClassID, new SelectList(Model.ClassList, "Value", "Text"), htmlAttributes: new { @class = "form-control select2", style = "width:100%;" })
                            @Html.ValidationMessageFor(r => Model.SelectedClassID, null, htmlAttributes: new { style = "color:red;" })
                        </div>
                        <!-- /.input group -->
                    </div>
                </div>
                <div class="col-md-6">
                    <h5>ADDED :- <i> <strong><span class="text-primary" id="addedSibling"></span></strong></i></h5> 
                </div>
            </div>


            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <div class="">
                            @Html.TextBoxFor(m => m.SearchText, htmlAttributes: new { @class = "form-control", placeholder = "Enter father, mother, student names.." })
                            @Html.ValidationMessageFor(r => Model.SearchText, null, htmlAttributes: new { style = "color:red;" })
                        </div>
                        <!-- /.input group -->
                    </div>
                </div>
                <div class="col-md-2">
                    <input type="button" value="GO" class="btn btn-success" onclick="getStudentDetails()" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h5 class="box-title">Student Details</h5>
                </div>
                <div class="box-body">
                    <div class="" id="studentDetailsMainDiv">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    function getStudentDetails() {
        $.ajax({
            type: "GET",
            beforeSend: function () {
                spinnerShow();
            },
            url: "../SiblingAllotment/_StudentDetail",
            data: {
                SearchType: $("#SearchType:checked").val(), SearchText: $('#SearchText').val(), ClassID: $('#SelectedClassID').val(),
                SelectedRow : '@Model.selectedRow'
            },
            error: function (xhr, status, error) {
                OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
            },
            success: function (response) {
                $('#studentDetailsMainDiv').html(response);
            },
            complete: function () {
                spinnerHide();
            }
        });
    }


</script>