@model ISas.Entities.TransportEntities.Transport_StopSetupModels

<section class="content-header">
    <h1>Stop Setup <small>(UPDATE)</small> </h1>
    <ol class="breadcrumb">
        <li>
            <a href="javascript: history.go(-1)" title="Back"><i class="fa fa-arrow-left"></i> </a> |
            <a href="#" onclick="window.location.reload()" title="Refresh"><i class="fa fa-refresh"></i></a> |
            <a href="@Url.Action("Dashboard", "Dashboard")" title="Dashboard"><i class="fa fa-dashboard"></i></a>
        </li>
        <li>Transport</li>
        <li><a href="@Url.Action("New", "Transport_RouteMaster")">Route Setup</a></li>
        <li class="active"><a href="@Url.Action("New", "Transport_StopSetup", new { RouteId = Model.RouteId, RouteName = Model.RouteName})">Stop Setup</a></li>
    </ol>
</section>

<section class="content">
    @using (Html.BeginForm("Transport_StopSetup_CRUD", "Transport_StopSetup", FormMethod.Post, htmlAttributes: new { }))
    {
        @Html.HiddenFor(r => Model.StopID)
        @Html.HiddenFor(r => Model.RouteId)
        @Html.HiddenFor(r => Model.RouteName)

        <div class="box box-primary">
            <div class="box-header with-border">
                <h5 class="box-title"> Route Name : <strong class="text-primary">@Html.DisplayFor(r => Model.RouteName)</strong> </h5>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="form-group">
                            <label for="">@Html.LabelFor(r => Model.StopName)<i class="mandateLbl">*</i></label>
                            <div class="select">
                                @Html.TextBoxFor(m => m.StopName, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(r => Model.StopName, null, htmlAttributes: new { style = "color:red;" })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-2">
                        <div class="form-group">
                            <label for="">@Html.LabelFor(r => Model.PrintOrder)</label>
                            <div class="select">
                                <input type="number" id="PrintOrder" name="PrintOrder" class="form-control" value="@Model.PrintOrder" />
                                @Html.ValidationMessageFor(r => Model.PrintOrder, null, htmlAttributes: new { style = "color:red;" })
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-1">
                        <div class="checkbox">
                            <br /><label>
                                @Html.CheckBoxFor(r => Model.Active)@Html.LabelFor(r => Model.Active)
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-2">
                        <div class="form-group">
                            <label for="">@Html.LabelFor(r => Model.PickupTime)</label>
                            <div class="select">
                                @Html.TextBoxFor(m => m.PickupTime, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(r => Model.PickupTime, null, htmlAttributes: new { style = "color:red;" })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-2">
                        <div class="form-group">
                            <label for="">@Html.LabelFor(r => Model.DropTime)</label>
                            <div class="select">
                                @Html.TextBoxFor(m => m.DropTime, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(r => Model.DropTime, null, htmlAttributes: new { style = "color:red;" })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-2">
                        <div class="form-group">
                            <label for="">@Html.LabelFor(r => Model.PCharge)</label>
                            <div class="select">
                                @Html.TextBoxFor(m => m.PCharge, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(r => Model.PCharge, null, htmlAttributes: new { style = "color:red;" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">


                    <div class="col-xs-12 col-sm-6 col-md-2">
                        <div class="form-group">
                            <label for="">@Html.LabelFor(r => Model.DCharge)</label>
                            <div class="select">
                                @Html.TextBoxFor(m => m.DCharge, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(r => Model.DCharge, null, htmlAttributes: new { style = "color:red;" })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-2">
                        <div class="form-group">
                            <label for="">@Html.LabelFor(r => Model.PDCharge)</label>
                            <div class="select">
                                @Html.TextBoxFor(m => m.PDCharge, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(r => Model.PDCharge, null, htmlAttributes: new { style = "color:red;" })
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="box-footer">
                <button class="btn btn-warning" id="savebutton" type="button" onclick="DoAjaxPostAndMore(this)">UPDATE</button>
                <button class="btn btn-default" type="button" onclick="window.location.reload()">RESET</button>
            </div>
        </div>
    }

    @{ Html.RenderAction("LandingPage", "Transport_StopSetup", new { RouteId = Model.RouteId }); }
</section>
<script>
    function DoAjaxPostAndMore(btnClicked) {
        var $form = $(btnClicked).parents('form');
        $.ajax({
            type: "POST",
            beforeSend: function () {
                spinnerShow();
            },
            url: $form.attr('action'),
            data: $form.serialize(),
            error: function (xhr, status, error) {
                OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
            },
            success: function (response) {
                if (response.status == 'success') {
                    OpenMessegeAutoHideDiv(response.Msg, response.Color);
                    setTimeout(function () { window.location = "../Transport_StopSetup/New?RouteId=@Model.RouteId&RouteName=@Model.RouteName"; }, 3000);
                }
                else {
                    OpenMessegeAutoHideDiv($('#ErrorMsgOnModelStateNotValid').val());
                    AddErrorAttributeCSS(response.ErrorList); //Available in CustomCommon.js
                    AddValidAttributeCSS(response.ValidKeyList); //Available in CustomCommon.js
                }
            },
            complete: function () {
                spinnerHide();
            }
        });
    }
</script>

