@model ISas.Entities.Examination_Entities.Examination_RemarksEntryModels
@{
    ViewBag.Title = "MarksEntry1to5";
}

<script src="~/bower_components/datatables.net/js/dataTables.buttons.min.js"></script>
<script src="~/bower_components/datatables.net/js/buttons.flash.min.js"></script>
<script src="~/bower_components/datatables.net/js/jszip.min.js"></script>
<script src="~/bower_components/datatables.net/js/buttons.print.min.js"></script>
<script src="~/bower_components/datatables.net/js/pdfmake.min.js"></script>
<script src="~/bower_components/datatables.net/js/vfs_fonts.js"></script>
<script src="~/bower_components/datatables.net/js/buttons.html5.min.js"></script>
<script src="~/bower_components/datatables.net/js/buttons.colVis.min.js"></script>
<script src="~/bower_components/datatables.net/js/dataTables.select.min.js"></script>
<link rel="stylesheet" href="~/bower_components/datatables.net/css/buttons.dataTables.min.css">

<section class="content-header">
    <h1>
        Remarks Entry
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="javascript: history.go(-1)" title="Back"><i class="fa fa-arrow-left"></i> </a> |
            <a href="#" onclick="window.location.reload()" title="Refresh"><i class="fa fa-refresh"></i></a> |
            <a href="@Url.Action("Dashboard", "Dashboard")" title="Dashboard"><i class="fa fa-dashboard"></i></a>
        </li>
        <li>Examination</li>
        <li class="active">Remarks Entry</li>
    </ol>
</section>

<section class="content">
    @using (Html.BeginForm("Examination_RemarksEntry_CRUD", "Examination_RemarksEntry", FormMethod.Post))
    {
        <div class="box box-success">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="form-group">
                            <label for="">Term</label>
                            @Html.DropDownListFor(m => m.ExamId, Model.ExamList, "-- Select Exam --", new { @class = "form-control select2", style = "width:100%;", onchange = "getClassList()" })
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="form-group">
                            <label for="">Class</label>
                            @Html.DropDownListFor(m => m.ClassId, new SelectList(string.Empty, "", ""), "--- Select Class ---", new { @class = "form-control select2", style = "width:100%;", onchange = "getSectionList()" })
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="form-group">
                            <label for="">Section</label>
                            @Html.DropDownListFor(m => m.SectionId, new SelectList(string.Empty, "", ""), "--- Select Section ---", new { @class = "form-control select2", style = "width:100%;", onchange = "getStudentList()" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box box-widget">
            <div class="box-header with-border">
                <h5 class="box-title">Student Details</h5>
                <div class="pull-right">
                    <button class="btn btn-success" id="savebutton" type="button" onclick="CommonAjaxPost(this)">SAVE</button>
                    <button class="btn btn-default" type="button" onclick="window.location.reload()">RESET</button>
                </div>
            </div>
            <div class="box-body">
                <div id="divMarkList">
                    @Html.Partial("_RemarksEntry_StudentDetails")
                </div>
            </div>
            <div class="box-footer">
                <button class="btn btn-success" id="savebutton" type="button" onclick="CommonAjaxPost(this)">SAVE</button>
                <button class="btn btn-default" type="button" onclick="window.location.reload()">RESET</button>
            </div>
        </div>
    }
</section>

<script>
    function getClassList() {
        $.ajax({
            url: '../Examination_RemarksEntry/GetRemarksEntryDropDowns',
            data: { Mode: 'GetClassList', ExamId: $('#ExamId').val() },
            type: 'get',
            success: function (data) {
                var $ddlClass = $('#ClassId');
                $ddlClass.empty();
                $('#SectionId').empty();
                $('#SectionId').append($("<option />").text("--- Select Section ---"));

                $ddlClass.append($("<option />").text("--- Select Class ---"));
                $.each(data, function () {
                    $ddlClass.append($("<option />").val(this.Value).text(this.Text));
                });
            },
        })
    }

    function getSectionList() {
        $.ajax({
            url: '../Examination_RemarksEntry/GetRemarksEntryDropDowns',
            data: { ClassId: $('#ClassId').val(), Mode: 'GetSectionList', ExamId: $('#ExamId').val()},
            type: 'get',
            success: (function (data) {
                var $ddlSec = $('#SectionId');
                $ddlSec.empty();
                $ddlSec.append($("<option />").text("--- Select Section ---"));
                $.each(data, function () {
                    $ddlSec.append($("<option />").val(this.Value).text(this.Text));
                })
            })
        });
    }

    function getStudentList() {
        $.ajax({
            url: '../Examination_RemarksEntry/_RemarksEntry_StudentDetails',
            data: {
                ClassId: $('#ClassId').val(), SectionId: $('#SectionId').val(), ExamId: $('#ExamId').val(),
            },
            type: 'get',
            success: (function (data) {
                $('#divMarkList').empty();
                $('#divMarkList').html(data);
            })
        })
    }
</script>