@using ISas.Web.Models;
@model List<ISas.Entities.HR_Payroll_Entities.HR_Payroll_LeaveMasterModels>

<!-- /.box -->
<div class="box box-primary">
    <!-- /.box-header -->
    <div class="box-header with-border">
        <div class="box-title">
            <h5 class="box-title">Leave Master List</h5>
        </div>
    </div>
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped  dt-responsive nowrap">
            <thead>
                <tr>
                    <th>S. No</th>
                    <th>Leave Code</th>
                    <th>Leave Type</th>
                    <th>Carry Forward</th>
                    <th>Annual Quota of Leave</th>
                    <th>Max Allow</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count > 0)
                {
                    int count = 1;
                    for (int i = 0; i < Model.Count(); i++)
                    {
                        <tr>
                            <td>@Html.DisplayFor(r => count)</td>
                            <td>
                                @Html.DisplayFor(r => Model[i].LvCode)
                            </td>
                            <td>@Html.DisplayFor(r => Model[i].LeaveType)</td>
                            <td>@Html.DisplayFor(r => Model[i].CF)</td>
                            <td>@Html.DisplayFor(r => Model[i].AnnQuota)</td>
                            <td>@Html.DisplayFor(r => Model[i].MaxAllow)</td>
                            <td class="text-center">
                                @if (Model[i].IsDeleteable)
                                {
                                    <a href="#" onclick="DeleteLeaveMstConfirm('@Model[i].LvID')" title="Delete Leave Master" class="fa fa-trash btnDefaultColor"></a>
                                }
                                else
                                {
                                    <span title="Delete Leave Master" class="fa fa-trash btnDefaultColorFaded"></span>
                                }

                                @if (Model[i].IsEditable)
                                {
                                    @Html.EncodedActionLink(" ", "Updation", "HR_Payroll_LeaveMaster", new { LvID = Model[i].LvID }, htmlAttributes: new { @class = "fa fa-edit btnDefaultColor", title = "Edit Leave Mater" })
                                }
                                else
                                {
                                    @Html.EncodedActionLink(" ", "Updation", "HR_Payroll_LeaveMaster", new { }, htmlAttributes: new { @class = "fa fa-edit btnDefaultColorFaded", title = "Edit Leave Mater" })
                                }
                            </td>
                        </tr>
                        count++;
                    }
                }
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
<script>
    $(function () {
        $('#example1').DataTable()
    });

    function DeleteLeaveMstConfirm(LvID) {
        AsyncConfirmYesNo("Confirmation", "Are you sure to delete this leave master..?", MyYesFunction, MyNoFunction, LvID);
    }

    function MyYesFunction(LvID) {
        $.ajax({
            type: "GET",
            beforeSend: function () {
                spinnerShow();
            },
            url: "../HR_Payroll_LeaveMaster/HR_Payroll_LeaveMaster_Delete",
            data: { LvID: LvID },
            error: function (xhr, status, error) {
                OpenMessegeAutoHideDiv($('#ErrorMsgOnJasonFailed').val(), 'Danger');
            },
            success: function (result) {
                OpenMessegeAutoHideDiv(result.Msg, result.Color);
                setTimeout(function () { window.location = "../HR_Payroll_LeaveMaster/New"; }, $('#hddnReloadTime').val());
            },
            complete: function () {
                spinnerHide();
            }
        });
    }
    function MyNoFunction() {
        //alert('No Calling');
    }
</script>