@using ISas.Web.Models;
@model ISas.Entities.LibraryEntities.eLibraryModels

@{
    string reportName = "E-Library: Book Master";
    int count = 1;
}
<script src="~/bower_components/datatables.net/js/dataTables.buttons.min.js"></script>
<script src="~/bower_components/datatables.net/js/buttons.flash.min.js"></script>
<script src="~/bower_components/datatables.net/js/jszip.min.js"></script>
<script src="~/bower_components/datatables.net/js/buttons.print.min.js"></script>
<script src="~/bower_components/datatables.net/js/pdfmake.min.js"></script>
<script src="~/bower_components/datatables.net/js/vfs_fonts.js"></script>
<script src="~/bower_components/datatables.net/js/buttons.html5.min.js"></script>
<script src="~/bower_components/datatables.net/js/buttons.colVis.min.js"></script>
<script src="~/bower_components/datatables.net/js/dataTables.select.min.js"></script>
<link rel="stylesheet" href="~/bower_components/datatables.net/css/buttons.dataTables.min.css">
<div style="display:none;">
    @{ Html.RenderAction("_ReportHeader", "Common", new { tempReportName = @reportName });}
</div>

<table id="example1" class="table table-responsive table-bordered table-condensed display nowrap" style="width:100%">
    <thead>
        <tr>
            <th>SNo</th>
            <th>Book No</th>
            <th>Book Name</th>
            <th>Subject </th>
            <th>Class</th>
            <th>Attachment</th>
            <th>Download</th>
            <th>Is Active</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.eLibraryBooks.Count; i++)
        {

        <tr>
            <td>
                @Html.DisplayFor(r => count)
            </td>
            <td>
              <spant>B</spant>@Html.DisplayFor(r => Model.eLibraryBooks[i].eBookNo)
            </td>
            <td>
                @Html.DisplayFor(r => Model.eLibraryBooks[i].eBookName)
            </td>

            <td>
                @Html.DisplayFor(r => Model.eLibraryBooks[i].eBookSubjectName)
            </td>
            <td>
                @Html.DisplayFor(r => Model.eLibraryBooks[i].eBookClassName)
            </td>
            <td>
                @Html.DisplayFor(r => Model.eLibraryBooks[i].eBookattachementName)
            </td>
            <td>
                @Html.DisplayFor(r => Model.eLibraryBooks[i].totalDownloads)
            </td>
            <td>
                @Html.CheckBoxFor(r => Model.eLibraryBooks[i].isActive)
            </td>
            <td class="text-center">
                @Html.EncodedActionLink(" ", "EditeBook", "eLibrary", new { eBookNo = Model.eLibraryBooks[i].eBookNo }, htmlAttributes: new { @class = "fa fa-edit btnDefaultColor", title = "Edit" })
            </td>
        </tr>
            count++;
        }
    </tbody>
</table>

<script>
    $("#example1 tr").click(function (evt) {
        if (evt.ctrlKey) {
            $(this).toggleClass("selected");
        } else {
            var selected = $(this).hasClass("selected");
            $("#example1 tr").removeClass("selected");
            if (!selected)
                $(this).addClass("selected");
        }
    });

    $(document).ready(function () {
        $('#example1').DataTable({
            "pageLength": 50,
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'copyHtml5',
                    text: '<i class="fa fa-files-o"></i>',
                    titleAttr: 'Copy',
                    title: '@reportName',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'excelHtml5',
                    text: '<i class="fa fa-file-excel-o"></i>',
                    titleAttr: 'Excel',
                    title: '@reportName',
                    exportOptions: {
                        columns: ':visible'
                    },
                    customize: function (xlsx) {
                        console.log(xlsx);

                    }
                },
                {
                    extend: 'print',
                    text: '<i class="fa fa-print"></i>',
                    titleAttr: 'Print',
                    title: "",
                    exportOptions: {
                        columns: ':visible'
                    },
                    customize: function (win) {
                        $(win.document.body)
                            //.css('font-size', '10pt')
                            .prepend($('#reportHeaderDiv').html()); //'<img src="http://localhost:60254/Images/System/balVikasLog.jpg" style="" />'
                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                },
                'colvis'
            ],
            select: true
        });
    });
</script>