@using ISas.Web.Models;
@model List<ISas.Entities.Exam_Entities.Exam_QuestionMasterModels>
@{
    //string WingName = ""; string WingId = "";
    //if (Model != null && Model.Count > 0)
    //{
    //    WingName = Model[0].WingName;
    //    WingId = Model[0].WingId;
    //}
}
<!-- /.box -->
<div class="box box-primary">
    <!-- /.box-header -->
    <div class="box-header with-border">
        <div class="box-title">
            <h5 class="box-title">Question List </h5>
        </div>
    </div>
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>S. No</th>
                    <th>Question</th>
                    <th>Marks</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count > 0)
                {
                    int count = 1;
                    for (int i = 0; i < Model.Count(); i++)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(r => Model[i].qNo)
                                @Html.HiddenFor(r => Model[i].qId, htmlAttributes: new { })
                            </td>

                            <td>
                                @Html.DisplayFor(r => Model[i].qText)

                            </td>
                            <td>@Html.DisplayFor(r => Model[i].qMark)</td>
                            <td class="text-center">
                                @Html.EncodedActionLink(" ", "Update", "Exam_QuestionMaster", new {

                               qpId= @Model[i].qpId,
                               className= Model[i].className,
                               subjectName= Model[i].subjectName,
                               assessmentName= Model[i].assessmentName,
                               maxMark= Model[i].maxMark,
                               qid= Model[i].qId

                           }, htmlAttributes: new { @class = "fa fa-edit btnDefaultColor", title = "Edit Question" })
                                
                            </td>
                        </tr>
                        count++;
                    }
                }
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->

<script>

</script>