@model ISas.Entities.TimeTable_Entities.TimeTable_PeriodTimingSetupModels
@{
    bool isCopyToClassEnabled = false;
    if (Model != null && Model.PeriodTimingList != null && Model.PeriodTimingList.Count > 0)
    {
        for (int i = 0; i < Model.PeriodTimingList.Count; i++)
        {
            if (!string.IsNullOrEmpty(Model.PeriodTimingList[i].StartTime) && !string.IsNullOrEmpty(Model.PeriodTimingList[i].EndTime))
            {
                isCopyToClassEnabled = true;
                break;
            }
        }
    }
}
<div class="row">
    <div class="col-md-6">
        <table class="table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Period</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.PeriodTimingList.Count; i++)
                {
                    <tr>
                        <td style="text-align: center;vertical-align: middle;">
                            @Html.HiddenFor(r => Model.PeriodTimingList[i].PeriodName)
                            <strong> @Html.DisplayFor(r => Model.PeriodTimingList[i].PeriodName)</strong>
                        </td>
                        <td>
                            <div class="bootstrap-timepicker">
                                <div class="form-group">
                                    <div class="input-group">
                                        @Html.TextBoxFor(r => Model.PeriodTimingList[i].StartTime, htmlAttributes: new { @class = "form-control bootstrap-timepicker  timepicker" })
                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="bootstrap-timepicker">
                                <div class="form-group">
                                    <div class="input-group">
                                        @Html.TextBoxFor(r => Model.PeriodTimingList[i].EndTime, htmlAttributes: new { @class = "form-control bootstrap-timepicker  timepicker" })
                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (isCopyToClassEnabled)
    {
        <div class="col-md-6">
            <div class="box box-widget">
                <div class="box-header with-border">
                    <button class="btn btn-success pull-right" onclick="fun_ConfirmCopyToClass()" type="button">Copy to Selected Classes</button>
                </div>
                <div class="box-body" style="max-height:400px;overflow:auto;">
                    <table class="table table-bordered table-condensed" id="tblCopyToClass">
                        <thead>
                            <tr>
                                <th>@Html.CheckBox("chkBoxSelectAllClass", false, htmlAttributes: new { onchange = "fun_checkToSelectAllClasses()" })</th>
                                <th>Class Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.ClassList.Count; i++)
                            {
                                <tr>
                                    <td>
                                        @Html.HiddenFor(r => Model.ClassList[i].Value)
                                        @Html.CheckBoxFor(r => Model.ClassList[i].Selected, htmlAttributes: new { @class = "chkBoxClass" })
                                    </td>
                                    <td>@Html.DisplayFor(r => Model.ClassList[i].Text)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>


<script>
    $('.timepicker').timepicker({
        showInputs: false,
        pick12HourFormat: true,
        defaultTime: false,
        //showMeridian: false
    });

    function fun_checkToSelectAllClasses() {
        if ($('#chkBoxSelectAllClass').is(':checked')) {
            $('.chkBoxClass').prop('checked', true);
        } else {
            $('.chkBoxClass').prop('checked', false);
        }
    }
</script>
